[2018-06-21 13:21] hhromic opened #268 "linux-firmware: license checksum is failing"
The `linux-firmware` recipe was recently updated in upstream.
See: <https://git.yoctoproject.org/cgit/cgit.cgi/poky/commit/?id=e3bec3951b2f95e5f9a592cc3f64c8f5fb152f57>
The license checksum is failing and needs updating.
I'm logging the issue as reminder and I'm providing a PR as soon as the current PRs are merged.

[code]

[2018-06-25 09:58] myke-80 opened #273 "userland: patch cause qtbase build fail"
The commit [userland: bumped version and backport khronos](https://github.com/agherzan/meta-raspberrypi/commit/237e0c79c694d85d3eaf37cebe386939f6c0257d?diff=split) introduced a [patch](https://github.com/agherzan/meta-raspberrypi/commit/237e0c79c694d85d3eaf37cebe386939f6c0257d?diff=split#diff-dc80539332edfdd76c2297f1bd34d346) that cause the qtbase build failure.

**Steps to reproduce the issue:**

[2018-06-25 10:19] betafive commented on #273
We need some more information to be able to help here. Could you let us know which layers and branches you're using, what modifications you've made (including modifications in local.conf), the full bitbake command you ran and the full output.

[2018-06-25 11:13] hhromic commented on #273
My mistake. In retrospective, I think the define guard I used (`EGL_KHR_stream`) is causing this problem.
I backported that from upstream Khronos for the typdef, but it is not actually backporting the full EGL_KHR_stream feature from Khronos.
By using that define guard as-is, gtbase seems to be trying to compile against this non-existing feature in the outdated userland Khronos. I think the right

[2018-06-25 11:29] myke-80 commented on #273
Sure, I will post the result as soon as finished.
Thanks !

[2018-06-25 12:41] myke-80 commented on #273
@hhromic : compiled and succeeded. I'm not able to try it on a device in this moment, but I think is going to be fine.

[2018-06-25 12:58] hhromic commented on #273
Thanks for the feedback. I will review this patch then to account for this issue and the original issue being patched. Sorry for the inconvenience!

[2018-06-25 13:18] myke-80 commented on #273
No problem, thanks for looking immediately !

[2018-06-27 12:28] #273 closed

[2018-06-27 12:29] agherzan commented on #273
Looks good to me @hhromic . Merged to master.

[2018-06-27 12:31] #266 closed

[2018-06-27 12:33] #267 closed

[2018-06-27 12:33] #268 closed

[2018-06-27 12:36] agherzan commented on #265
Thatis true. You don't need that package in the rootfs.

[2018-06-27 13:19] hhromic commented on #268
For future readers, further information is in the closed PR #272

[2018-07-01 11:36] michaelbaisch opened #275 "Question about image types"
Hello,

by default the `rpi-sdimg` image is built which is defined a separate class. But one could also use the`wic` option. Since I wanted to add another partition to my build I tried the `wic` option and it also seems to work. I can still `dd` on the SD card, like I could before. So why are there two options? Why isn't there just the `wic` option, where one could easily add for example partition

[2018-07-04 15:08] hhromic opened #278 "linux-raspberrypi: devicetree build failing with recent Poky commit"
Hello, a recent commit in Poky broke the build of `linux-raspberrypi`:
[code]
The [commit in Poky](https://git.yoctoproject.org/cgit/cgit.cgi/poky/commit/?id=396e269c5c0e285be9d5ab40b521dda21bd72e19):
[code]
I will investigate a PR but if someone knows how to fix it quickly, is welcome :)

[2018-07-04 15:19] hhromic commented on #278
Looks like the function in `meta/classes/kernel-devicetree.bbclas` from Poky:
[code]
is stripping the `overlays/` path from the overlay names (using `basename`). For example `overlays/dwc2.dtbo` becomes `dwc2.dtbo`.

I'm not sure what is the correct behaviour here. We shouldn't use `overlays/dwc2.dtbo` in `meta-raspberrypi` or Poky shouldn't strip the path. Thoughts?

[2018-07-05 10:36] hhromic commented on #278
The commit in Poky was reverted now in `master-next`, soon will be fixed in `master`: <http://git.yoctoproject.org/clean/cgit.cgi/poky/commit/?h=master-next&id=c21347064a0f3faf61b2950def4b7a93846c7a8e>

[2018-07-05 10:36] #278 closed

[2018-07-07 10:55] agherzan commented on #275
When the sdimg image type was implemented there was no wic in place. Generally, sdimg gave us more flexibility and I, personally, still use it as the main image generation tool. So at this point, I'd say use whatever makes you feel more comfortable.

[2018-07-07 16:51] michaelbaisch commented on #275
Alright thanks :)
Good, I don't have to have a bad feeling using wic. Is there any way to get `bootloader --append=` to work?

[2018-07-07 17:51] agherzan commented on #275
That sounds like a question for oe-core. If you figure out something wrong in our configuration, ping me.

[2018-07-07 17:51] #275 closed

[2018-07-08 10:17] michaelbaisch commented on #275
I assume it's something wrong with the raspberry layer. For another non-raspberry build I can use the `bootloader --append=` without trouble. I suspect it's because of the custom bootloader, maybe there is nothing we could to about it. Just want to through it out there, because it would make separating filesystem and kernel stuff easier. Right now I'm using the `CMDLINE_append` variable in a kerne

[2018-07-08 22:45] kraj commented on #275
you might have to write a wic bootloader source plugin for rpi bootloader.

[2018-07-11 07:13] nandra opened #282 "Q: CM3 inherited from RPI2 and not RPI3?"
I'm trying to use CM3 with eMMC with meta-raspberrypi and it boots fine with build image. Interestingly when looking at documentation for CM3 it should be similar to RPI3 (processor used is: https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2837/README.md). Even if it is working shouldn't be cm3 inherited from RPI3-64? Sorry for stupid question ;). Marek

[2018-07-11 14:45] becklo opened #283 "rpi-hwup-image-raspberrypi3.rpi-sdimg login connection issue"
Hi,

I have manage to build a Raspberry Pi 3 image using :
_bitbake rpi-hwup-image_
The RPI boot from the image created with the previous command. Then it ask for a login and password.
I tried root as login without password but it doesn't seems to be the right combination...

Is there something obvious that I am missing ?

Best regards,
becklo

[2018-07-11 15:20] kraj commented on #283
@becklo  this image is deprecated, core-image-minimal should be used now instead if you are not able to login that means you may not be having ```debug-tweaks``` in ```IMAGE_FEATURES```

you could do so by adding below line to local.conf

[code]

[2018-07-11 15:36] kraj commented on #282
we have separate machine configs for 64bit RPI 3 machines, but I think you are right that it should be inheriting raspberrypi3 machine setup and not rpi2 as far as SOC is concerned @agherzan added this machine config for cm3 and I guess there might have been some reason to pin it to rpi2 and not use rpi3 specs.

[2018-07-11 16:04] nandra commented on #282
IIRC CM3 should use same cpu ase RPI 3 - 64 bit. So probably inherit from raspberry3-64? My problem is I'm hunting is that CM# have eMMC but in u-boot it's not working so I'm trying to find root cause. Thanks for heads up.

[2018-07-11 16:08] kraj commented on #282
first try the 32bit version.

[2018-07-11 21:20] stevep-korg opened #284 "bcm2710-rpi-cm3.dtb missing from KERNEL_DEVICETREE for raspberrypi3-64 in sumo"
The file bcm2710-rpi-cm3.dtb is missing from the KERNEL_DEVICETREE list for the raspberrypi3-64 machine target in sumo branch.

Unable to boot a Raspberry Pi Compute Module 3 using 64-bit poky Linux targeted for raspberrypi3-64 built in sumo branch.

**Steps to reproduce the issue:**
1.  Build poky Linux for raspberrypi3-64 machine target, at head of sumo
2. Copy to eMMC on Compute Module 3 and tr

[2018-07-12 07:05] becklo commented on #283
I have added this line in my local.conf and created a new image with core-image-minimal but now it doesn't boot...
I am using a screen connected via HDMI to check if it boot. How is it possible ?
Here is my local.conf :

[2018-07-12 09:50] jonathanhaigh-arm opened #285 "IMAGE_BOOT_FILES broken after recent kernel-devicetree.bbclass changes"
**Description**
The recent openembedded-core commit [1860d9d3c62e2e94cd68a809385873ffd8270b6d](https://github.com/openembedded/openembedded-core/commit/1860d9d3c62e2e94cd68a809385873ffd8270b6d) changed the names of DTB files in the deploy directory, but meta-raspberrypi's IMAGE_BOOT_FILES content hasn't been updated to reflect this.

The DTB related contents of IMAGE_BOOT_FILES is generated using

[2018-07-12 12:41] Manyyack commented on #230
ssh doesn't work for me when I do 'core-image-base' but working on rpi-basic-image

[2018-07-12 14:41] hhromic commented on #285
I can confirm as a user of the `sdcard_image-rpi` class that this doesn't affect it.

[2018-07-12 19:49] nandra commented on #282
I tried with 32bit version and eMMC start working. But I didn't try u-boot-2017.09 from rocky but latest 2018.07 which works fine. I'll try also with 2017.09 and let you know.

[2018-07-13 05:39] kraj commented on #282
OK thanks,  would you care to send a pull request to change the SOC type in machine conf file.

[2018-07-13 05:57] nandra commented on #282
Yes sure.

[2018-07-13 11:07] mirzak opened #286 "vc4graphics + wayland + HDMI on rocko produces OOM errors among other things"
**Description**

I am currently doing some work that involves the components that are mentioned in the title. But to repeat we are trying to run an Qt application using wayland/weston backend on a raspberrypi3 board.

We are using `vc4graphics` instead of `userland` and a display connected on HDMI with touch support over USB. The graphics work as expected initially.

But there are multiple issues

[2018-07-13 11:13] mirzak commented on #286
Similar issues reported here: https://archlinuxarm.org/forum/viewtopic.php?f=65&t=12665 (unresovled)

[2018-07-13 11:29] mirzak commented on #286
Update, tested using `sumo` of meta-raspberrypi while keeping the rest on `rocko`. Problems disappeared. That should narrow it down more.

[2018-07-13 11:35] mirzak commented on #286
@gunnarx <-- notification.

[2018-07-13 14:15] mirzak commented on #286
Also submitted this, https://github.com/raspberrypi/linux/pull/2618

[2018-07-16 10:56] nandra commented on #282
@kraj well situation is bit problematic. Inherit from raspberry3 is OK but with this setup in rocko u-boot won't start at all (I need to use latest one). So I'll create PR only for machine change then.

[2018-07-16 15:43] agherzan commented on #282
@nandra @kraj I can't remember exactly why this happened but I think it was from the times where rpi3 and cm3 where inheriting rpi2. We should change it to rpi3. @nandra What do you mean by the latest one?

[2018-07-16 15:49] agherzan commented on #282
@nandra https://github.com/agherzan/meta-raspberrypi/pull/288

[2018-07-16 15:59] agherzan commented on #285
@jonathanhaigh-arm Is the current master HEAD still reproducing this issue?

[2018-07-16 16:07] agherzan commented on #284
@stevep-korg This should do it: https://github.com/agherzan/meta-raspberrypi/pull/289

[2018-07-16 16:09] agherzan commented on #283
@becklo Can you attach a serial console? Nothing attaches to your HDMI in that image you are using.

[2018-07-16 17:55] agherzan commented on #284
Fixed by #289 .

[2018-07-16 18:52] #284 closed

[2018-07-16 18:56] agherzan commented on #282
Fixed by #288.

[2018-07-16 18:56] #282 closed

[2018-07-16 19:55] stevep-korg commented on #284
Thanks very much, Andrei! What is the process for such fixes being merged into the other branches like sumo?  (I work in sumo branch, so I won't currently see this fix there, I don't think.)

[2018-07-16 21:53] stevep-korg commented on #284
Andrei, we may need to enhance this fix soon, or temporarily back it off.  I just discovered this error when it was trying to use that change locally:

|   CHK     scripts/mod/devicetable-offsets.h
| make[3]: *** No rule to make target 'arch/arm64/boot/dts/broadcom/bcm2710-rpi-cm3.dtb'.  Stop.
| arch/arm64/Makefile:133: recipe for target 'broadcom/bcm2710-rpi-cm3.dtb' failed

Perhaps there is also

[2018-07-16 22:00] stevep-korg commented on #284
This additional problem must stem from the lack of the bcm2710-rpi-cm3.dts in the arch/arm64/boot/dts/broadcom/dts folder.  That's unfortunate.

[2018-07-17 13:36] jonathanhaigh-arm commented on #285
I'm building again now...

[2018-07-17 14:00] jonathanhaigh-arm commented on #285
... and it still fails in the same way. I'll try to come up with a PR.

[2018-07-17 16:01] jonathanhaigh-arm commented on #285
Created PR https://github.com/agherzan/meta-raspberrypi/pull/290

[2018-07-18 21:43] stevep-korg commented on #284
Hi Andrei,

I don’t know how to do this process, because I’m new to it.

Should I clone the repo in my github account and do some work there?

Sorry, I don’t understand the workflow of how to achieve this.  Is there a link with some directions about how to do this?

(I guess PR is Pull Request.)

Another problem is that the companion dts file is also missing from sumo, so another fix is needed in

[2018-07-20 09:32] hhromic opened #294 "yocto-ci seems to be stuck?"
I noticed that in the recent PRs, the yocto-ci is stuck baking happy raspberries (starting in PR #287). The pending jobs are actually "SUCCEED" in the CI, however here in GitHub they are still marked as pending and as a result there is a pile of PR waiting to be tested since days. Any clues?

[2018-07-20 09:49] agherzan commented on #294
I'm looking into it today.

[2018-07-20 15:42] agherzan commented on #294
Should be fixed. Closing.

[2018-07-20 15:42] #294 closed

[2018-07-20 15:42] agherzan commented on #285
PR merged. Closing this.

[2018-07-20 15:42] #285 closed

[2018-07-20 15:43] agherzan commented on #283
Closing for now. It looks like a wrong configuration.

[2018-07-20 15:43] #283 closed

[2018-07-22 10:00] hhromic commented on #286
this should be fixed by now?

[2018-07-22 16:14] mirzak commented on #286
Yepp, thanks for reminding.

Closing...

[2018-07-22 16:14] #286 closed

[2018-07-26 18:42] agherzan commented on #260
Closing due to no activity. We can re-open it if needed.

[2018-07-26 18:42] #260 closed

[2018-07-26 18:43] agherzan commented on #258
@kraj Did you manage to reproduce this?

[2018-07-26 18:47] agherzan commented on #230
@Manyyack `rpi-basic-image` is deprecated. You can define your own image and include `ssh-server-dropbear`. Indeed `core-image-base` doesn't do that and it is not supposed to either. Yocto provides all the tools needed to define your own image based on your needs.

Closing this as it looks like a configuration issue. We will reopen if proven otherwise.

[2018-07-26 18:47] #230 closed

[2018-07-26 18:48] agherzan commented on #228
Friendly ping on this, @betafive .

[2018-07-26 18:51] agherzan commented on #220
Closing this due to inactivity. I've tested initramfs images and everything seems to work as expected.

[2018-07-26 18:51] #220 closed

[2018-07-26 18:55] agherzan commented on #179
By all means, this sounds like an issue in the kernel. I recommend trying newer meta-raspberrypi revisions to reproduce. Otherwise, follow it up in linux-raspberrypi github repository. Closing for now.

[2018-07-26 18:55] #179 closed

[2018-07-26 18:56] agherzan commented on #97
@Minipada More people are asking about this. No pressure :)

[2018-07-26 19:32] AntonioSanta commented on #179
I am upgrading now the system to the newer Sumo version. I couldn't check
before.

On Thu, 26 Jul 2018, 19:55 Andrei Gherzan, <notifications@github.com> wrote:

[2018-07-26 19:42] agherzan commented on #179
Looking forward to hearing your findings.
--
Andrei Gherzan
gpg: rsa4096/D4D94F67AD0E9640 | t: @agherzan

[2018-07-26 19:52] kraj commented on #258
Not yet, keep it open.

[2018-07-27 12:33] betafive commented on #228
I'd totally forgot about this due to a few changes with work, I'll put it back onto the todo list!

[2018-07-27 13:49] Minipada commented on #97
I updated my pull request on the linux repository and have a PR ready for sumo as soon as they review and merge it (code [here](https://github.com/synapticon/meta-raspberrypi/tree/sumo-rpi-cm3-64))

[2018-07-28 17:05] agherzan commented on #97
Cheers @Minipanda.

[2018-07-29 14:20] pabigot opened #298 "RFC: fixing package version QA issue for linux-firmware updates"
When I reworked linux-firmware to use the OE-Core base augmented by overrides taken from the raspbian distro (#245), I changed the version format so that it identified the git version from all three sources:

    SRCREV_FORMAT_rpi = "default+raspbian-nf+raspbian-bluez"

This reflects that what we build uses different firmware from raspbian-nf for:

    brcmfmac43430-sdio brcmfmac43455-sdio

and ad

[2018-08-03 11:40] nandra opened #300 "KERNEL_DEVICETREE cannot be extended"
I'm trying to add more dtbo to final image by specifying in linux-raspberrypi.bbappend or in local.conf by extending KEREL_DEVICETREE += "overlays/pwm.dtbo" but looks like when specify it in local.conf variable KERNEL_DEVICETREE is overwritten or when specify it in linux-raspberrypi.bbeappend it have no effect. Any ideas how to extend this variable to get more dtbo's on target? I workarounded it b

[2018-08-03 13:31] agherzan commented on #300
Hi @nandra . Have you tried appending? We are doing something similar here: https://github.com/resin-os/resin-raspberrypi/blob/master/layers/meta-resin-raspberrypi/conf/layer.conf#L17. Appending using `_append`.

[2018-08-03 14:59] nandra commented on #300
I tried += also _append but it doesn't work. I'll re-check and report status (maybe my env gets broken somehow). Thanks.

[2018-08-08 12:43] AntonioSanta commented on #179
I checked with the Sumo version and the behavior is still the same ,it works with ttyS0. I will follow on linux-raspberrypi, as you said.

[2018-08-14 10:50] Minipada commented on #97
My PR is still without answer since some time, but I just saw this got merged https://github.com/raspberrypi/linux/commit/248e0f711ec517aff69b815bac7b884bd3a04679

Is it hope?

[2018-08-15 14:55] hhromic opened #302 "SERIAL_CONSOLE is changing in recent Poky"
In a recent commit (https://git.yoctoproject.org/cgit/cgit.cgi/poky/commit/?h=master-next&id=46f468a0a728a8cc10604f30f66a2620e524fe6c), `SERIAL_CONSOLE` is being deprecated in Poky.
This BSP layer should be updated to use the more recent `SERIAL_CONSOLES`.

I'm just opening this issue as reminder to do this. I will make a PR when I have time and hopefully before the commit lands in Poky master.

[2018-08-15 23:25] stevep-korg opened #304 "re-add bcm2710-rpi-cm3.dtb in device tree for raspberrypi3-64, since dts now exists"
The device tree entry for bcm2710-rpi-cm3.dtb should be re-added to raspberrypi3-64.conf when possible, because the companion dts file was recently made available in the raspberrypi linux repo, in this change:

https://github.com/raspberrypi/linux/commit/248e0f711ec517aff69b815bac7b884bd3a04679

So, once meta-raspberrypi layer is using code at this change or newer, this fix could be applied.  At t

[2018-08-16 10:34] #302 closed

[2018-08-16 18:33] stevep-korg commented on #304
This issue is related to issue 97:

https://github.com/agherzan/meta-raspberrypi/issues/97

[2018-08-16 18:39] stevep-korg commented on #97
Issue 304 is related to this issue.

https://github.com/agherzan/meta-raspberrypi/issues/304

As you have discovered,  the dts file now exists in the raspberrypi linux repo, and the Makefile has also been fixed up.

Once the meta-raspberry recipes can leverage this change to raspberrypi linux, then the meta-raspberrypi kernel device tree could be updated to include the cm3.

[2018-08-28 13:54] mardy commented on #14
This doesn't work for me. I'm trying to enable `CONFIG_SECURITY_APPARMOR` and a couple of other related options, but I don't see any of my changes in the final configuration (`tmp/work/raspberrypi3-pelux-linux-gnueabi/linux-raspberrypi/1_4.9.59+gitAUTOINC+e7976b2aff-r0/image/boot/config-4.9.59`). I do see my fragment (`apparmor.cfg`) being loaded in [tmp/work/raspberrypi3-pelux-linux-gnueabi/linux

[2018-08-28 16:43] kraj commented on #14
@mardy yes ```tmp/work/raspberrypi3-pelux-linux-gnueabi/linux-raspberrypi/1_4.9.59+gitAUTOINC+e7976b2aff-r0/linux-raspberrypi3-standard-build/.config``` is the final config which is applied during build.

[2018-08-29 08:01] nandra commented on #300
OK with _append it work which is quite strange because I assume that += also should work. Anyway when looking in rpi-base.inc we have
[code]
so softval is used while in
raspberrypi3-64.conf there is:
[code]

So maybe this could be a problem that when user want to add something to KERNEL_DEVICETREEE for non 64bit rpi then it cannot be overwritten? Thanks.

[2018-08-29 13:10] mardy commented on #14
I found out the problem: my fragment contained `CONFIG_SECURITY_APPARMOR="y"`, but this was not included in the final config file because it depends on `CONFIG_SECURITY`, which is disabled in the default configuration. After adding also `CONFIG_SECURITY="y"`, it works.

Sorry for the noise! :-)

[2018-08-30 16:36] MeantCoder opened #308 "Zero W WiFi not working"
Hello,

I'm compiled Yocto with linux-firmware-bcm43430 and distro feature wifi enabled but i can't use wifi on zero w.

iw list output : nl80211 not found.

[2018-09-15 07:43] stevep-korg commented on #97
For now, if you wish to have a functional CM3 dtb built and deployed to the boot folder for your raspberrypi3-64 target, simply add the following to your local.conf:

KERNEL_DEVICETREE_append = "broadcom/bcm2710-rpi-cm3.dtb"

It's working well for me at head of sumo, where the linux-raspberry pi kernel recipe fetches a recent enough version where the cm3 dts is present, so the build of the dtb suc

[2018-09-15 07:44] Minipada commented on #97
I'll try asap, and close this.

[2018-09-15 08:08] stevep-korg commented on #97
Note, I am building the 4.14 flavor in meta-raspberrypi (4.14.68), sumo branch, and that worked.

I have not built for a 4.9 flavor in some time.

[2018-09-15 19:36] aswild commented on #147
It's been a few months, but I found this issue while dealing with the same problem. For 64-bit builds userland was masked due to the preferred provider for the GL recipes.

I found that a possible solution is to add a [userland-nographics](https://github.com/aswild/meta-newbs/blob/master/recipes-graphics/userland/userland-nographics_git.bb) recipe which builds the same stuff as userland, but then

[2018-09-17 13:03] Minipada commented on #97
@stevep-korg I couldn't boot the image.
This is my local.conf:

[code]

The module is there. I have nothing either on the hdmi, nor on serial. I tried using rpi-basic-image and core-image-base (as I noticed the former indicated it was deprecated)

My layers:
* poky master
* meta-openembedded master
* meta-raspberrypi sumo

[2018-09-17 17:06] stevep-korg commented on #97
OK great, glad you could boot it.

In terms of the UART communication stopping, we have not seen that.  We use the UART for MIDI.  We set the following in config.txt

# configure uart0 for serial midi (/dev/ttyAMA0)
enable_uart=1
# midi-uart0: fakes out tty driver so that baudrate 38400 yields 31250
dtoverlay=midi-uart0

BTW, I also put all repos in branch sumo that can be in sumo.  I find master

[2018-09-18 01:05] stevep-korg commented on #304
Closing this bug, because this fix would be problematic for users who are trying to build for a Linux 4.9 version.  In that case the cm3 dts is not available in that linux /raspberry pi repo branch, and that branch is seldom updated.

Instead, it's easy enough to add the cm3 dtb to the RPI_KERNEL_DEVICETREE_append variable in local.conf.  I have tested this and it works fine in sumo at the change

[2018-09-18 01:05] #304 closed

[2018-09-20 22:57] aswild commented on #300
- `local.conf` is parsed before the `${MACHINE}.conf`, so any sets with = in a machine (or distro) config will override `local.conf`
- Using += will clobber a default set with ?= (I'm not sure why bitbake behaves this way, but it does)
- Using _append should work around both of these (because _append is treated like an override and processed at the end of variable expansion)
- You need to modify K

[2018-09-24 13:18] Minipada commented on #97
I confirm that everything works perfectly. Thanks @stevep-korg for the simple and efficient patch. I'm now closing it

[2018-09-24 13:18] #97 closed

[2018-10-02 19:05] nandra commented on #308
Looks like /lib/firmware is empty in final image (using sumo branch)

[2018-10-02 19:54] nandra commented on #300
@aswild thanks for detailed description. I think we can close this issue as _append works as expected. Thanks.

[2018-10-02 19:54] #300 closed

[2018-10-03 07:29] nandra commented on #308
I didn't have time to look on issue (why MACHINE_RRECOMENDS doesn't put firmware to rootfs). Anyway workaround is to add:
[code]

to e.g. IMAGE_INSTALL (works for raspberrypi0-wifi only)

[2018-10-03 11:59] mirzak commented on #308
Did you mean MACHINE_ESSENTIAL_EXTRA_RRECOMMENDS?

Which image did you build, because that will determinate if `MACHINE_ESSENTIAL_EXTRA_RRECOMMENDS` is included or not.

Basically the image must inherit from "core-image"for the above to be included.

[2018-10-03 12:03] nandra commented on #308
Nope I mean this one: https://github.com/agherzan/meta-raspberrypi/blob/2d40b000021bc8a9ef7f329ed0ad410f8d227b97/conf/machine/raspberrypi0-wifi.conf#L9

I build custom image (also core-image-minimal) and my custom image inherit core-image.

[2018-10-03 12:13] mirzak commented on #308
`core-image-minimal` will definitely not install `MACHINE_EXTRA_RRECOMMENDS`, even though it inherits `core-image.bbclass` it overrides the `IMAGE_INSTALL`

It looks like `MACHINE_EXTRA_RRECOMMENDS` is installed trough `packagegroup-base` which is is install by `core-image.bbclass` by including the `packagegroup-base-extended`.

Does your custom image "override" `IMAGE_INSTALL` or does it append t

[2018-10-03 12:39] nandra commented on #308
You're right @mirzak . I had in custom image IMAGE_INSTALL = instead of IMAGE_INSTALL +=
@MeantCoder can you please verify if you have /lib/firmware directory in your target? Thanks.

[2018-10-03 13:33] agherzan commented on #308
@mirzak has the right and detailed answer here. I'll close this issue as this should bring the needed firmware in the image.

[2018-10-03 13:33] #308 closed

[2018-10-04 08:22] aswathisivan opened #319 "OOM issue with gstreamer"
**Description**

I am getting OOM issue while using 10 gstreamer pipellines simultaneously with **_Yocto built linux distro_** but not with Raspbian.

**Steps to reproduce the issue:**
1. I am using raspberry pi 3B which has linux distribution built using yocto (https://git.yoctoproject.org/cgit/cgit.cgi/poky/tree/). I took the meta raspberry from https://git.yoctoproject.org/cgit/cgit.cgi/meta-ra

[2018-10-04 10:41] agherzan commented on #319
Do you see any major differences in between process memory consumption on both the distros? I would try to see what eats more memory on a yocto build. As well, do you use the same `config.txt`?

[2018-10-04 11:36] aswathisivan commented on #319
- The max value of %MEM in Raspbian is 5.1% for gstreamer. And in yocto the %VSZ is 38%.
- I couldnt find config.txt in yocto built distro.

I am adding more information here just in case it might be useful:

**top command result:**
In yocto _(here only 4 pipelines are running)_:
[code]

In raspbian _(here 8 pipelines are running)_:
[code]

**config.txt data in Raspbian:**
[code]

**local.conf in

[2018-10-04 13:54] agherzan commented on #319
Just copy thw config.txt from raspbian to yocto and try to reproduce.

[2018-10-05 04:43] aswathisivan commented on #319
I copied the config.txt in the /boot/ path of yocto and rebooted the board. It didn't make any difference.
I just want to point out that the only configuration I see enabled in Raspbian /boot/config.txt is:

[code]
Do you think I should bitbake with **raspberrypi3-64** as **MACHINE**?

[2018-10-05 14:04] agherzan commented on #319
How is the raspbian you are comparing against compiled? Is it for armv7 or 8?

[2018-10-05 16:00] aswathisivan commented on #319
Raspberry pi 3B is ARMv8, so I am assuming NOOBS installed the Raspbian
according to ARMv8.

On Fri, Oct 5, 2018, 7:34 PM Andrei Gherzan <notifications@github.com>
wrote:

[2018-10-05 16:18] agherzan commented on #319
What is `uname -a` returning on your installed raspbian?

[2018-10-05 16:39] aswathisivan commented on #319
The uname output says armv7:

Linux raspberrypi 4.14.50-v7+ #1122 SMP Tue Jun 19 12:26:26 BST 2018 armv7l

On Fri, Oct 5, 2018, 9:48 PM Andrei Gherzan <notifications@github.com>
wrote:

[2018-10-05 16:44] kraj commented on #319
this can be a bug in OE gstreamer, but we need a way to reproduce it.

[2018-10-08 19:59] Romaxx commented on #228
now build (core-image-x11) is successful but x11 not launching (but launching with the same config with MACHINE = "raspberrypi3" instead of MACHINE = "raspberrypi3-64"), in this case, Xorg said

Some advices ? Thanks

[2018-10-08 20:31] kraj commented on #228
I fixed it last week to boot on raspberrypi3-64, I wonder if you have those changes.

[2018-10-09 07:50] Romaxx commented on #228
Yes, I have pulled the last master version to build the image, Xorg doesn't detect the screen
`cat /dev/urandom > /dev/fb0` ok
`FRAMEBUFFER=/dev/fb0 startx` screen not found: command output:

/var/log/Xorg.0.log

[2018-10-09 14:44] Romaxx commented on #228
DISTRO_FEATURES_append = " opengl"
MACHINE_FEATURES_append=" vc4graphics"
I want to use core-image-x11 for meta-browser/chromium-x11 and 64bit version for mongodb (V4 is 64bits only)
using meta-raspi-light instead of meta-raspberrypi works for 64bit version (I have tried MACHINE_FEATURES_remove=" wayland" with meta-raspberrypi but same problem).

[2018-10-12 07:01] kraj commented on #228
I built core-image-x11 on latest master and it booted fine with vc4graphics on raspberrypi3-64, if there are patches to build it with userland graphics, that will be awesome if you find them and post.

[2018-10-14 15:27] sanjuchopracool opened #320 "yocto raspberrypi showing default splash instead of raspberrypi splash"
I tried to build rpi-basic-image and core-image-base ( rpi-basic-image.bb suggest to build core-image-base because rpi-basic-image is deprecated) for raspberry pi zero wifi. I am able to build and boot these images. But these images shows yocto splash instead of raspberry pi splash. I built with following configuration

[code]

Here is my local.conf

[code]

Is there something I missed ? Do I need

[2018-10-14 23:17] kraj commented on #320
we already set ```SPLASH = "psplash-raspberrypi"``` in machine config metadata, so that should take care of adding the appropriate image. Can you show your ```bblayers.conf``` file

[2018-10-15 03:38] sanjuchopracool commented on #320
Yes, it should take care, even though psplash-raspberrypi is installed , is
is not default splash. Please find attached file for installed packages.

# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /mnt/DATA_PARTITION/poky/meta \
  /mnt/DATA_PARTITION/poky/met

[2018-10-15 03:42] sanjuchopracool commented on #320
Yes, it should take care, even though psplash-raspberrypi is installed , but it's not default splash.

bblayers.conf
`# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /mnt/DATA_PARTITION/poky/meta \
  /mnt/DATA_PARTITION/poky/meta-poky \
  /mnt/DATA_PARTITION/p

[2018-10-15 05:09] kraj commented on #320
Can you reverse the order of layers in BBLAYERS and retry ? or just try by specifying /mnt/DATA_PARTITION/poky/meta-raspberrypi  as the first entry

[2018-10-15 05:31] TaruntejK commented on #319
Hi,
If you have an IP camera with RTSP, H264 support, the easiest way to reproduce this issue is use just one pipeline as below:

`gst-launch-1.0  -e rtspsrc location="rtsp://<user>:<pass>@<url>" name = d !  rtph264depay ! h264parse ! avdec_h264  ! x264enc ! h264parse ! splitmuxsink name = mux location=a1_video%02d.mp4 max-size-time=2000000000 max-files=5`

The difference from the original pipelin

[2018-10-15 14:47] sanjuchopracool commented on #320
I tried with reverse order and specifying /mnt/DATA_PARTITION/poky/meta-raspberrypi as the first entry as first entry. Still I am getting the same result.

I also tried removing
 bitbake -c cleanall psplash
 bitbake -c cleanall rpi-basic-image
bitbake repi-basic-image

It still shows yocto splash.

[2018-10-19 14:24] michaelbaisch opened #321 "ARMv8 for raspberrypi3 32 bit?"
I'm wondering why `cortexa7` is used for `raspberrypi3`machine configuration. Is there any reason why

[code]

should not be:

[code]

in `conf/machine/raspberrypi3.conf` ?

When we searched online how to compile for the Raspberry Pi 3, people suggested to use `armv8`.

[2018-10-19 14:28] agherzan commented on #321
Take a look at https://github.com/agherzan/meta-raspberrypi/blob/master/conf/machine/raspberrypi3-64.conf

[2018-10-19 14:34] michaelbaisch commented on #321
I have already looked at this.

In `conf/machine/include/arm/arch-armv8.inc` it says `require conf/machine/include/arm/arch-arm64.inc`, which is obviously for 64 bit. `raspberrypi3.conf` is for 32 bit, which is what I need. This is why I asked if we could not just change `tune-cortexa7.inc` to `tune-cortexa8.inc`, with the proper `DEFAULTTUNE`?

[2018-10-19 14:39] schnitzeltony commented on #321
@michaelbaisch  Raspi is cortexa7 (as far as I remember cortexa8 is quite old - e.g beaglebone).

[2018-10-19 14:41] agherzan commented on #321
Oh. I've misread it. I think it was just something we haven't looked into and most probably inherited from RaspberryPi 2. Would you be willing to do some testing and see how it behave compared to ca7?

[2018-10-19 14:54] agherzan commented on #321
Actually, I just realised that cortexa8 is an older variant.

[2018-10-19 15:11] michaelbaisch commented on #321
Oh okay this is a bit confusing. So `cortexa8` is older than `cortexa7`, and this is what I would have changed with the `tune-cortexa***.inc` files. What I really want is the `ARMv8-A` architecture instead of the `ARMv7-A` architecture. I was confused by the `7` and `8` in the cortex name in relation to the `armv` architecture name. And the architecture is chosen by the `include/arm/arch-armv***.i

[2018-10-19 15:12] agherzan commented on #321
So what is the problem you are facing?

[2018-10-19 15:50] michaelbaisch commented on #321
We wanted to compile our code with something like `-march=armv8-a+crc -mfpu=neon-fp-armv8` and right now we have `-march=armv7ve -mfpu=neon-vfpv4`.

[2018-10-19 16:58] michaelbaisch commented on #321
The Raspberry 3 (B+) actually has a Cortex-A53 (ARMv8).

https://www.raspberrypi.org/products/raspberry-pi-3-model-b-plus/

And right now this here is running with `-march=armv7ve -mcpu=cortex-a7`. I'm guessing this is not optimal?

[2018-10-23 15:39] sanjuchopracool commented on #320
Revision

    Build Configuration:
[code]

I have attached local.conf file also in my first reply.

After poky, I added openembedded/meta-oe, meta-multimedia, meta-python, meta-networking layer and meta-raspberrypi in bblayers file.

After that I tried bitbake rpi-basic-image. I also tried bitbake core-image-base, I was able to build image but default yocto splash was shown instead of raspberry pi

[2018-10-23 15:53] michaelbaisch commented on #321
As far as I can tell there is no way to use `ARMv8` in the aarch32 mode in yocto right now. Also I think there is no way to select the right tune `cortex-a53` for my raspberry, since the highest I found in yocto was `cortex-a17`. Other people have [done this](https://github.com/axxia/meta-axxia/tree/master/conf/machine/include), I'm not sure why those options for `ARMv8` aren't available in yocto…

[2018-10-25 11:29] manszigher commented on #187
Any solution on this? I am facing the same issue but on another target. Even though the patch will fix the problem so that we can run kernel-devsrc the problem persist for do_populate_sdk which will still fail because rpm depends on /bin/awk for some reason that I have not figured out.

[2018-10-25 21:42] kraj commented on #187
that could be something else needing awk and doing something similar. You might want to grep for /bin/awk in rootfs directory inside image bb temp build area.

[2018-10-26 06:49] manszigher commented on #187
So adding this to kernel-devsrc.bbappend solved my problem

do_install_append() {
    # This fixes the rpm dependency failure on install of kernel-devsrc depending on /bin/awk
    cd ${D} || true
    for i in $(grep -srI "\!/bin/awk" | cut -d":" -f1); do
        sed -i -e "s#\!/bin/awk#\!/usr/bin/env awk#g" $i
    done
}

[2018-10-26 07:08] manszigher commented on #187
And here is the original solution

https://gerrit.automotivelinux.org/gerrit/gitweb?p=AGL/meta-agl.git;a=blobdiff;f=meta-agl-bsp/meta-ti/recipes-kernel/linux/linux-ti-staging_%25.bbappend;h=43fa494a26c132b875c177acf0389163d5e34c06;hp=b2e5431400acef0a5372e5490ac4f464482d4b3b;hb=4bfc821810cdee47611c6d3e94d771971f51fa75;hpb=1cf6b17fd15fde569374c85d4df722784f4e9c67

[2018-10-26 07:10] manszigher commented on #187
No sure that the patch for the kernel is needed or not anymore but maybe there should be more patches on the kernel to remove all /bin/awk in the scripts. But appending on kernel-devsrc is at least a solution that works without having to patch all kernels used in a build env.

[2018-10-26 08:06] kraj commented on #187
@agherzan has already pointed to right solution and it’s possible that there are more than one scripts in the kernel now which needs to change to use awk from /use/bin it will be good to hunt them all down and prepare a kernel patch

Doing it via recipe is a workaround which we can have as a workaround

[2018-10-30 17:16] agherzan commented on #321
Do you see any performance impact with the current one we have?

[2018-10-30 20:58] kraj commented on #321
We wanted to keep armv8 as common as possible, in essence similar to x86_64, if someone has real numbers to prove that current tunes are not optimal for real world loads I would be interested to take it further. I have benchmarked current tunes quite a bit as well for my usecases and they hardly make any difference.

[2018-10-30 20:59] kraj commented on #321
if you use ```MACHINE = "raspberrypi3-64"``` you should be getting armv8 tunes. by default ```MACHINE = "raspberrypi3"``` is 32-bit in OE speak.

[2018-10-31 16:19] micha1pu opened #324 "omxplayer patch fail on master branch"
**Description**

**Steps to reproduce the issue:**
1. bitbake omxplayer
2.
3.

**Describe the results you received:**

omxplayer-git-r4 do_patch: Command Error: 'quilt --quiltrc /home/studio/build/YOCTO_MASTER/poky-thud/build/tmp/work/arm1176jzfshf-vfp-poky-linux-gnueabi/omxplayer/git-r4/recipe-sysroot-native/etc/quiltrc push' exited with 0  Output:
Applying patch 0001-Remove-Makefile.include-whic

[2018-10-31 16:27] micha1pu commented on #324
In latest omxplayer repository file Makefile.include doesn't exist anymore. Does anybody have same problem?

[2018-11-01 12:49] agherzan commented on #324
This sounds strange. @kraj Could this be introduced by the last update? I haven't tried to reproduce.

[2018-11-01 12:50] kraj commented on #324
havent seen this here. I will take a look

[2018-11-01 12:51] agherzan commented on #321
@michaelbaisch please run some tests and see if you can spot any improvements. For the meanwhile, I'll close this issue but feel free to comment on your findings.

[2018-11-01 12:51] #321 closed

[2018-11-01 16:30] micha1pu commented on #324
i just tried to build on clear system with minimal layers and still same problem, on SUMO its working ok.

bitbake omxplayer
WARNING: Host distribution "ubuntu-18.04" has not been validated with this version of the build system; you may possibly experience unexpected failures. It is recommended that you use a tested distribution.
Parsing recipes: 100% |#############################################

[2018-11-06 02:11] kraj commented on #320
@sanjuchopracool I do not use poky distro and it seems to work all fine for my distro here https://github.com/YoeDistro/yoe-distro

[code]

[2018-11-07 14:37] agherzan commented on #320
I've tried to reproduce myself as well. But seems to work as expected.

[2018-11-07 16:42] kraj commented on #324
This should be now fixed. Please reopen if needed.

[2018-11-07 16:42] #324 closed

[2018-11-13 11:37] agherzan commented on #320
@sanjuchopracool I'll have to retry to be sure but I'm quite sure I did.

[2018-11-13 13:40] pabigot commented on #298
@otavio I notice you've updated meta-raspberrypi linux-firmware.  The problem discussed in this issue wasn't encountered because raspbian-nf went to lexically greater SHA1.  Nonetheless, if you have insight as to a preferred fix I'd appreciate it.

At this time I'm tending towards option four (separate package for raspberry-pi override firmware).  [Attempts to get upstream to fix this](https://mar

[2018-11-13 16:41] pabigot commented on #298
@otavio That's what I figured (deep sigh).  OK, I'll work towards that.  It'll be two recipes, though, since there are two external sources: probably bluez-firmware and firmware-nonfree-rpi-distro to make provenance more clear.  @agherzan @hhromic FYI, please comment if concerned and bring in anybody else who should provide design input.

[2018-11-13 17:05] otavio commented on #298
To provide a good upgrade path in future, it would be good to also create a `packagegroup-rpi-base` which rdepends on the firmware and other "base" packages, thus providing an upgrade path.

[2018-11-13 20:51] pabigot opened #329 "create packagegroup-rpi-base"
To provide a good upgrade path in future, it would be good to also create a `packagegroup-rpi-base` which rdepends on the firmware and other "base" packages, thus providing an upgrade path.

_Originally posted by @otavio in https://github.com/agherzan/meta-raspberrypi/issues/298#issuecomment-438351113_

[2018-11-13 20:56] pabigot opened #330 "update pi-bluetooth for upstream changes"
RPi-Distro has added new systemd service files to start bluetooth reliably and configure it for headset features.  The meta-raspberrypi bluez5 recipe should delegate some of its content to the pi-bluetooth recipe which needs to be updated.

Review whether meta-raspberry is correct in using `Type=oneshot` or RPi-Distro is correct in using `Type=forking` when invoking `btuart`.

[2018-11-15 17:59] hhromic commented on #298
hi @pabigot , I'm not an expert in the matter, but my humble opinion is aligned with @otavio 's , a separate recipe for each firmware makes more sense and seems easier to maintain

[2018-11-15 19:32] agherzan commented on #298
The PR looks like a good way forward to me too.

[2018-11-21 01:52] TomMettam opened #336 "omxplayer build issue"
I'm currently unable to build the omxplayer recipe (current master) with yocto.

**Steps to reproduce the issue:**
1. Include omxplayer in IMAGE_INSTALL_append
2. Run build

**Describe the results you received:**

| SubtitleRenderer.cpp:43:3: error: conflicting declaration 'typedef struct EGL_DISPMANX_WINDOW_T EGL_DISPMANX_WINDOW_T'
|  } EGL_DISPMANX_WINDOW_T;
|    ^~~~~~~~~~~~~~~~~~~~~
| In file

[2018-11-21 07:48] kraj commented on #336
I am not able to reproduce it. but I do have the https://github.com/agherzan/meta-raspberrypi/pull/337
on my tree. Can you try it there. Secondly also post your DISTRO_FEATURES so we can reproduce it.

[2018-11-21 10:04] TomMettam commented on #336
I shall try this when I get home tonight. My configuration is:

DISTRO_FEATURES_remove_rpi = "x11 wayland"
WPE_PLATFORM = "egl touch"
WPE_BACKEND = "rpi libinput"

with wpe-eglfs-image from meta-wpe

[2018-11-21 11:41] novalisek commented on #336
Hello,
I am also having same compile problem using those layers:

git clone -b thud git://git.openembedded.org/meta-openembedded
git clone -b thud https://github.com/meta-qt5/meta-qt5
git clone -b thud git://git.yoctoproject.org/meta-security
git clone -b master git://git.yoctoproject.org/meta-raspberrypi
git clone -b sumo git://github.com/jumpnow/meta-rpi

DISTRO_FEATURES = "opengl usbhost ${DIST

[2018-11-21 14:48] pepijndevos opened #338 "No wlan0 while brcmfmac is loaded and brcmfmac43430 installed."
**Description**

Other issues related to WiFi issues seem to be due to `linux-firmware-brcm43430` not being installed. This is not the case here, as it came included without further action.

The image boots fine, and from dmesg it seems the firmware is uploaded to the wifi chip, yet no `wlan0` interface is present.

**Steps to reproduce the issue:**
1. Execute the steps in the readme
2. set `MACHI

[2018-11-21 17:39] otavio opened #339 "Please make a thud branch"
Hello team,

I think it is a good moment to create the thud branch as people are starting to create projects which rely on this BSP and pinning it to thud makes unsurprising changes more unlikely.

I am not against backporting changes related to firmware rework (#331) and maybe others but using the branch is indeed a good practice.

[2018-11-21 19:47] kraj commented on #336
https://github.com/agherzan/meta-raspberrypi/pull/340 should fix it. Please test and report back

[2018-11-21 19:47] kraj commented on #339
I agree however lets wait until we merge the omxplayer fixes.

[2018-11-21 20:38] novalisek commented on #336
I applied #340, then bitbaked omxplayer again and it seems to be working, thanks!

[2018-11-21 21:37] otavio commented on #339
It is fine; I just want to don't let it take too long. We can always backport the changes or even keep both branches on sync for some time.

[2018-11-21 22:15] rcla commented on #336
Is there any possibility to run omxplayer with raspberrypi3-64?

[2018-11-22 09:44] pepijndevos commented on #338
I feel really stupid now... in my defense, in all the years I've been using normie desktop Linux, I've never had a working interface be *not* up.

So I guess it's not a bug but a feature. Any pointers on how to configure it to come up at boot and connect to WiFi is appreciated. Plan is to use `networkmanager` for automatically reconnecting.

![img_20181122_103011](https://user-images.githubusercon

[2018-11-22 09:48] agherzan commented on #338
That is fine. If you install and run a network manager (like NetworkManager or conman) the interfaces will be brought up automatically.

[2018-11-22 09:48] #338 closed

[2018-11-22 10:03] pepijndevos commented on #338
Thanks a lot. As you can see in my image recipe, I did install NetworkManager, but maybe it's not started by default. I also think that a normal Raspbian light comes with only wpa-supplicant, and that also brings up the interfaces somehow. I'll do some more digging.

[2018-11-22 10:06] agherzan commented on #338
That is as well true. But you need to start the services as well. I'm not sure how you configured the packages / image.

[2018-11-22 13:45] rcla commented on #336
I have a 64 bit image for rpi3B+

MACHINE ??= "raspberrypi3-64"
DISTRO_FEATURES_append = " opengl alsa x11"
MACHINE_FEATURES_append = " vc4graphics"

bitbake omxplayer

It is failing in the configuration of the ffmpeg package:

ERROR: omxplayer-git-r4 do_compile: oe_runmake failed
ERROR: omxplayer-git-r4 do_compile: Function failed: do_compile (log file is located at /home/ecoi/Downloads/rpi-yocto

[2018-11-22 14:07] TomMettam commented on #336
@rcla Is that relevant to this ticket?

@kraj  - Can confirm, #340 fixes all omxplayer issues for me. Thanks!

[2018-11-22 14:15] rcla commented on #336
@TomMettam  > @rcla Is that relevant to this ticket?

I think so. Because that happens when I try to compile the omxplayer package:

bitbake omxplayer

[2018-11-22 14:17] TomMettam commented on #336
@rcla  It's a different issue though, you should post it under a new ticket.

[2018-11-22 14:22] rcla commented on #336
Ok, then I'll make a new ticket.
Thank you

[2018-11-22 14:22] rcla commented on #336
Ok, then I'll make a new ticket.
Thank you

[2018-11-22 14:27] rcla opened #341 "omxplayer build 64 bits"
I have a 64 bit image for rpi3B+

MACHINE ??= "raspberrypi3-64"
DISTRO_FEATURES_append = " opengl alsa x11"
MACHINE_FEATURES_append = " vc4graphics"

bitbake omxplayer

It is failing in the configuration of the ffmpeg package:

ERROR: omxplayer-git-r4 do_compile: oe_runmake failed
ERROR: omxplayer-git-r4 do_compile: Function failed: do_compile (log file is located at /home/ecoi/Downloads/rpi-yocto

[2018-11-22 15:38] agherzan commented on #336
Thanks @TomMettam @kraj . https://github.com/agherzan/meta-raspberrypi/pull/340 Was merged.

[2018-11-22 15:38] #336 closed

[2018-11-22 15:41] agherzan commented on #339
I will create it these days. @kraj do you want to take a look at the omxplayer build issue for 64 bit too? i won't be able to look into it soon.

[2018-11-22 16:34] kraj commented on #339
Omxplayer on 64bit has not been tested here so far I would not hold branching out for that I was more interested to fix it for 32bit with userland graphics since that was a regression

[2018-11-22 16:38] kraj commented on #341
we have not yet tried omxplayer purely with vc4graphics so I am not surprised that it fails I will look into this

[2018-11-24 15:20] kraj commented on #298
this will have to be machine specific, since not all rpi variants have same chipsets for which these firmwares are targetted. Secondly, some of them not even have that hardware or peripheral.

[2018-11-24 18:56] novalisek opened #342 "gstreamer-1.0 - Bus Error/SIGBUS"
**Description**

Hello,
I am having problems with gstreamer - when I want to play local video or rtsp stream from IP camera, I always get "Bus error"

May be it has something to do with #319 ?

First I was having this issue with meta-qt5 when using QMediaPlayer, but I found out this seems to be gstreamer error (so I am just reproducing on rpi-basic-image).

I didn't have this problem with [sumo] b

[2018-11-27 07:18] madhu2051 opened #343 "How to add gstreamer1.0-plugins-ugly to meta-raspberrypi"
I want to play the mp3 files from Raspberry PI. While playing an mp3 song, I found that there is no mp3 plugin on my raspberry system.

How can I add the gstreamer-plugin-ugly to meta-raspberrypi recipe?

Regards,
-Madhu.

[2018-11-28 02:09] kraj commented on #343
In local.conf add

[code]

Then bitbake your image. Flash it and then play mp3

[code]

[2018-11-28 02:13] kraj commented on #342
Please try adding ```gstreamer1.0-omx``` to ```IMAGE_INSTALL_append ``` list.
if that does not work then also add
[code]

and see if that works.

And make sure you use master or thud branch

[2018-11-28 02:41] kraj commented on #319
Can you try using thumb2 ISA, if you can try using Yoe distro it is default see.
https://github.com/YoeDistro/yoe-distro

[2018-11-28 02:51] kraj commented on #258
I think this should not be happening anymore, I dumped the DT_NEEDED section of libbrcmEGL.so and I see both libwayland-client.so.0 and libwayland-server.so.0 there so the needed symbol would be supplied

[code]

@ikoes can you retest your case with latest master/thud

[2018-11-28 02:53] kraj commented on #228
@Romaxx this works fine for me on rpi3, Can you try it with latest master/thud

[2018-11-28 03:03] kraj commented on #147
This is now addressed in entirety in thud/master

[2018-11-28 03:03] #147 closed

[2018-11-28 09:11] madhu2051 commented on #343
Hi Kraj,
           After adding the above lines in build/conf/local.conf, I am getting the following errors while compilation.

/poky/meta/recipes-multimedia/gstreamer/gstreamer1.0-plugins-ugly_1.12.2.bb DEPENDS on or otherwise requires it)
mpg123 was skipped: because it has a restricted license not whitelisted in LICENSE_FLAGS_WHITELIST
NOTE: Runtime target 'gstreamer1.0-plugins-ugly' is unbuild

[2018-11-28 15:16] kraj commented on #343
also add
[code]

[2018-11-28 21:07] Romaxx commented on #228
Hi, now it's working :)

[2018-11-28 21:46] kraj commented on #228
thanks for confirming, I am closing this issue, if something pops up. Feel free to reopen

[2018-11-28 21:46] #228 closed

[2018-11-28 21:51] kraj commented on #342
I am using https://github.com/YoeDistro/yoe-distro

bitbake yoe-qt5-wayland-image

and I dont see this issue.

you can also try building core-image-xfce or core-image-x11 if you are using X11 and not wayland

[code]

[2018-11-28 21:53] kraj commented on #329
Its better that machine specific packages like firmware are added via ```MACHINE_RRECOMMENDS```

Creating a packagegroup will endup in creating machine specific overrides for different RPI machines

[2018-11-28 22:38] #329 closed

[2018-11-29 21:46] novalisek commented on #342
Hello,
adding gstreamer1.0-omx helped, gst-play is now playing videos (I had to add gpu_mem=128 to config.txt, before that, video was flickering). Ip camera is still not working (you can see attached log
[gst-play-rtsp.txt](https://github.com/agherzan/meta-raspberrypi/files/2630996/gst-play-rtsp.txt) ), but I think that is for another issue I should put somewhere else.

I also cannot make QMediaPl

[2018-12-01 06:18] elct9620 opened #346 "I2C module not loaded after enable it"
**Description**

The i2c is enabled by `rpi-conifg` but it didn't show inside `/dev/i2c-*`, after add `/etc/modules-load.d/i2c-dev.conf` with content `i2c-dev` and it is shown.

**Steps to reproduce the issue:**
1. add `ENABLE_I2C="1"` in `conf/local.conf`
2. build rpi3 image
3. boot rpi3 use this generated image

**Describe the results you received:**

The `lsmod` can found `i2c_bcml2835` but `i2

[2018-12-01 12:08] agherzan commented on #346
The config that you mention enables i2c correctly. It doesn't mean it exposes the userspace adapter. Generally, the i2c devices are controlled via kernel modules functionality being enabled with ENABLE_I2C.

[2018-12-01 13:52] elct9620 commented on #346
So the `ENABLE_I2C` only enable kernel modules, if I need `/dev/i2c-*` to the controller it, I have to add some config into `/etc/modules-load.d/i2c-dev.conf` to expose it. And it should not as a default behavior.

I am not sure which is the normal way to use it. So this makes me confused about this config. I use ruby direct to interactive with the i2c interface, so I think the `/dev/i2c-*` will e

[2018-12-01 15:03] asmaaswt commented on #346
now it's working for host fine

[2018-12-03 14:04] TomMettam opened #349 "valgrind"
Valgrind from oe-core does not work correctly on Raspberry Pi 3 (armv7)

Could this be fixed by this overlay?

1.  Add valgrind to your recipe
2.  Build & Deploy
3.  Run Valgrind against a simple app
4. Valgrind's output does not include any line information

Simple test program:

[code]

Output with yocto's valgrind:

[code]

After downloading and compiling the same version manually on the target

[2018-12-03 14:07] madhu2051 commented on #343
Thanks Kraj, Issue resolved.

[2018-12-03 14:07] #343 closed

[2018-12-03 21:31] novalisek commented on #342
I tried to "bitbake yoe-qt5-eglfs-image" with attached site.conf
[site.conf.txt](https://github.com/agherzan/meta-raspberrypi/files/2641299/site.conf.txt) - I had to add DISTRO_FEATURES_remove_rpi = "x11 wayland" or it would fail.

When I try to use "omxplayer  big_buck_bunny_720p_1mb.mp4", everything is playing ok, stretched to fullscreen (1920x1080)
When I do

Press 'k' to see a list of keyboard

[2018-12-03 21:56] kraj commented on #342
if you have 1GB RAM then you can try allocating say 392 to gpu_mem and see if that helps.

[2018-12-03 22:19] novalisek commented on #342
yes, I figured it out, but I was just curious why there are no changes needed with omxplayer ...
I will try if qMediaplayer works after I bitbake SDK, but first I will have to resize my virtual disk :) because 80GB is not enough for "bitbake yoe-qt5-eglfs-image" + "bitbake meta-toolchain-qt5"   (45GB was enough for  qt5-basic-image + meta-toolchain-qt5 from  https://github.com/jumpnow/meta-rpi, it

[2018-12-03 22:22] kraj commented on #342
Well ```yoe-qt5-eglfs-image``` contains all QT5 examples since its a reference image. you can remove them if you want. Just set ```QT5APPS_forcevariable = ""``` in ```local.conf```

[2018-12-03 22:31] novalisek commented on #342
will try, thank you. Is there any way to delete/cleanup space occupied by those examples? Or only to find out their names somehow and bitbake -c clean packagenames?

[2018-12-03 22:33] kraj commented on #342
Just delete tmp/ dir and rebuild.

[2018-12-03 22:44] novalisek commented on #342
It will take ages to rebuild all again. I was thinking about something faster. But I can turn off the radiator valves for a day :)

[2018-12-03 22:49] kraj commented on #342
it wont. if you have built it once. It will reuse shared state and rebuilt only the things that are not built in previous builds.

[2018-12-03 22:56] novalisek commented on #342
ok, I will try that, still learning :+1:

[2018-12-03 22:56] #342 closed

[2018-12-04 01:53] kraj commented on #349
This is happening because ```/usr/lib/valgrind/vgpreload_memcheck-arm-linux.so``` is stripped of its symbols, in order for us to get useful backtraces its must that this shared object from valgrind is not stripped. So how do we do this

1. install ```valgrind-dbg``` into image. if you have feeds then simply doing ```opkg install valgrind-dbg``` , this might be big but I guess on rpi you should be

[2018-12-04 10:54] agherzan commented on #346
@asmaaswt I don't understand your comment. Could you develop?
@elct9620 That is the intended behaviour. The module load nor i2c dev functionality is RaspebrryPi specific and depends very much on your setup. If you want to use i2c userspace adapter you will need to load the i2c dev module. The BSP provides the functionality underneath.

[2018-12-04 11:01] elct9620 commented on #346
@agherzan Thanks. This is the answer I want to check for it.

[2018-12-04 11:01] #346 closed

[2018-12-04 11:03] agherzan commented on #346
Thanks, @elct9620 .

[2018-12-04 12:08] rcla commented on #341
Since this really is not an issue, but an enhancement, I think it is best to close the ticket and I will be attentive when they introduce it.

[2018-12-04 12:09] #341 closed

[2018-12-05 18:28] Jozefiel opened #350 "Waveshare 10.1inch display touch panel in eglfs"
Hi
I have problem with interfacing this display (Waveshare 10.1) with yocto.
HDMI work well, but touchscreen don´t work.
My image include tslib but touchpanel is not recognized and is not attached in /proc/bus/input/devices
I need to run my app on eglfs platform without X11.
Any idea how to solve this?
Thanks Jozef

[2018-12-11 09:11] thufuxu commented on #320
@sanjuchopracool is your problem solved? Looks I meet same issue.

[2018-12-11 10:30] koolkhel commented on #350
@Jozefiel is hid-multitouch present within the rootfs? Is it loaded? If it is there and loaded manually, does the panel work?

[2018-12-11 15:31] Jozefiel commented on #350
Hi @koolkhel . Thanks for your answer.
hid-multitouch is included in rootfs. how can I check if the driver is loaded? and how to load this driver?
My image is based on rpi-basic-image, where are imported qt packages. local.conf is also setted for waveshare display. I have writed .bb for newest tslib , where are libs for waveshare. But i don´t have idea, what is wrong. I am starting with yocto

[2018-12-12 09:09] pepijndevos opened #355 "Gstreame-plugings-(bad|good) fail to install after updated"
**Description**

I have a recipe that RDEPENDS on `gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-omx`, but when I updated to the latest master in the hope to fix a [firmware issue with omx](https://github.com/raspberrypi/firmware/issues/1051), half of the plugins stopped being included. The base and omx plugins are still there, but all the good/bad ones

[2018-12-12 13:00] agherzan commented on #355
@kraj will probably know what happened here.

[2018-12-12 15:30] koolkhel commented on #350
@Jozefiel try 'lsmod | grep touch' to see if the module is loaded. It should be detected automatically, though. So, when I had similar issues, I just had to set a few kernel options and that was it. hid-multitouch should work with tools like 'evtest' to see if there's anything coming on from the panel. Qt doesn't use tslib by default, so I'd rather not think much about this part.

[2018-12-13 22:18] mcampbellizo opened #358 "Per-image config.txt is not possible"
Currently config.txt is setup as a recipe that will deploy config.txt. There are several influential environment variables that can affect its content. The issue comes when you might want to have different config settings on a per-image basis. For instance, in my case I'd like to make an image for general use, but then have another image that has specifc device tree overlays enabled. Because rpi-c

[2018-12-14 09:14] erikhh opened #359 "U-boot not working on Rapsberry Pi compute module 3 lite on sumo"
**Description**
My build worked fine on a regular raspberry pi 3. But it produces a rainbow screen when trying to boot it on a Compute Module 3 lite.

**Steps to reproduce the issue:**
The contents of my `local.conf`:

[code]

**Describe the results you received:**

Rainbow screen when booting the image on a Compute Module 3 lite.

**Describe the results you expected:**

A image that boots on my c

[2018-12-14 09:18] agherzan commented on #359
Hi. Can you try this on thud/master?

[2018-12-14 11:30] agherzan commented on #320
I didn't have time to look into this. Is anyone available to invest some debugging?

[2018-12-14 13:23] erikhh commented on #359
On thud I can't reproduce this behaviour. So I'll close this issue.

[2018-12-14 13:23] #359 closed

[2018-12-14 14:33] mcampbellizo commented on #358
I totally agree with your point that changing current behavior would be confusing. My work around right now was to copy the entire `sdcard_image-rpi.bbclass` into my custom layer and add some hooks in the image generation to allow me to intercept and make modifications to config.txt. This matches what your describing and seems like it might be the better route.

Based on the above implementation,

[2018-12-14 14:37] Jozefiel commented on #350
@koolkhel module is not loaded. probably is problem in my kernel settings. in original image for this touch display from waveshare page is used driver ads7846. but my kernel don´t include this. what kind of changes you done during solving your issues?

[2018-12-14 14:49] sanjuchopracool commented on #320
I will try it again and let you know

[2018-12-14 16:02] Jozefiel commented on #350
problem solved :-)
i clone from original waveshare image raspberrypi partition, overlays directory
spi0-cs.dtbo spi0-hw-cs.dtbo and ads7846.dtbo to my sd card boot partition

in meta-raspberrypi/recipes-bsp/bootfile/ is added
rpi-config_git.bbapend with configurations parameters

SRCREV = "648ffc470824c43eb0d16c485f4c24816b32cd6f"

do_deploy_append() {
  echo "display_rotate=0" >>${DEPLOYDIR}/bcm2

[2018-12-14 16:02] #350 closed

[2018-12-15 02:53] kraj commented on #358
IMO  we should deprecate `sdcard_image-rpi.bblcass`, it has served us so far but wic is right replacement to generate SD-Card images and is aligned with upstream OE/Yocto direction when it comes to image generation.

Wic is documented here https://www.yoctoproject.org/docs/2.6/dev-manual/dev-manual.html#creating-partitioned-images-using-wic
and
https://www.yoctoproject.org/docs/2.6/ref-manual/ref-

[2018-12-15 02:54] kraj commented on #349
Can we close this now ? the patch to fix this is already in master in core

http://git.openembedded.org/openembedded-core/commit/?id=23da8f50b1e0a74777035c9f7b65b81456908f9f

[2018-12-15 02:55] kraj commented on #258
I don't see this issue anymore, I am going to close it. Please re-open if this re-occurs with master and then we can revisit

[2018-12-15 02:55] #258 closed

[2018-12-15 02:56] #349 closed

[2018-12-16 14:15] mcampbellizo commented on #358
HI Krag, thanks for the input. I like the idea of just deferring config.txt customization fully to image post processing task (or possibly image pre processing, I'd have to look into that). With this, global data will have the same effect, and it can also be overridden on a per-image basis.

As for wic, I did some reading in that documentation and have my head wrapped around it more now. Thanks fo

[2018-12-17 14:24] erikhh opened #362 "Wiringpi: DYN_VERS_MAJ variable in Makefiles is unset"
**Description**
When using the wiringpi recipe, `sysroot-destdir/usr/lib` contains the following files after building:

[code]

**Steps to reproduce the issue:**
On the thud branch.
Just add `wiringpi` to `IMAGE_INSTALL_append`.

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occas

[2018-12-17 17:36] agherzan commented on #362
It sounds like a bug in the package itself. What version of wiringpi is this? Can you try to downgrade and see what you get?

[2018-12-18 16:07] rcla opened #364 "Xfce desktop, thud or master branch"
I have a raspberry pi 3B+ and I wish to have an image with the xfce desktop. (meta-xfce)

It works with the sumo branch, both in 32 and 64 bits.

But now that I update the thud or master branch, it compiles ok but it does not work well:
When executing the xfce desktop, the panels do not display the edges of the forms and buttons.
It takes a long time to visualize the background. Does not let in th

[2018-12-19 17:50] hhromic commented on #358
Completely agree with this, definitively the layer should align to standard patterns where possible :)

[2018-12-20 09:28] robin0338 opened #366 "No recipes available issue : bpftool.bbappend"
**Description**
I following "Quick Start" to generate image file.
But now i stuck in bitbake core-image-base step.

Meta-raspberrypi : Master

**Steps to reproduce the issue:**
1.Modify bblayers.conf file, add  [/*Destination Path*/raspberry/poky/meta-raspberrypi] .
2.Modify local.conf file , add [MACHINE = "raspberrypi3-64"].
3.Bitbake core-image-base.

**Describe the results you received:**
Afte

[2018-12-20 09:35] robin0338 commented on #366
I am using latest master branch.

[2018-12-20 14:06] agherzan commented on #366
@robin0338 I think this was fixed. Pull master and retest, please.

[2018-12-20 15:04] sanjuchopracool commented on #320
@thufuxu  @agherzan  @kraj

I checked it again, still it shows default yocto splash instead of raspberry pi.

[2018-12-31 10:06] jmunsin commented on #366
I also get the same error with the latest master.

[2018-12-31 15:17] #366 closed

[2018-12-31 15:17] agherzan commented on #366
Closing issue as per above confirmation.

[2019-01-15 12:40] memox5 commented on #169
using "echo -e" seems to fix the issue.
tested on ubuntu 16.04

using echo -e seems to fix the issue, tested on ubuntu 16.04

[2019-01-15 13:09] agherzan commented on #169
Sounds like a bug @memox5. Would you be able to push a fix? Thanks in advance.

[2019-01-16 09:33] jperezminguez commented on #366
Hi,
I got the same result when I forgot to include the layers from openembedded:
meta-oe, meta-multimedia, meta-networking, meta-python

[2019-01-16 10:46] memox5 commented on #169
#370

[2019-01-16 10:46] memox5 commented on #169
#370 should do

[2019-01-16 10:47] memox5 commented on #169
@agherzan #370 should do, thank you.

[2019-01-17 01:47] agherzan commented on #366
@jperezminguez Pull master and check it out again.

[2019-01-21 06:16] muddessir opened #372 "No screen found."
RPI: 3 Model B+
Yocto: 2.5.1 sumo
Machine: raspberrypi3 (_tried also raspberrypi3-64_)
Distro: poky
Local.conf: https://pastebin.com/30rVApxW
Xorg.0.log: https://pastebin.com/raw/4cYZFLns

When I build yocto default with meta-raspberry, after burn image: the device won't start with X11. It says: **(EE) No screen found**.
I read this page (https://github.com/agherzan/meta-raspberrypi/issues/228) Al

[2019-01-21 10:45] agherzan commented on #372
Hi. Can you give thud a try?

[2019-01-22 14:06] agherzan commented on #372
Hi @muddessir, as you could see in the other thread, this is known to happen on older branches and because they are not actively maintained we haven't invested time to figure out what are the changes in the thud branch that makes this work. That being said we have two options:
1. you either work on an actively maintained branch (thud)
2. you try to investigate what we miss - I suspect some patches

[2019-01-22 16:51] xuhcc opened #373 "Raspberry Pi 3 Model A+ support"
Is [Raspberry Pi 3 A+](https://www.raspberrypi.org/products/raspberry-pi-3-model-a-plus/) board supported?

I tried to boot image built for `raspberrypi3` target and it didn't boot (sumo branch).

[2019-01-22 17:01] agherzan commented on #373
@xuhcc Can you try with thud? I know there were some updates needed for this support and I'm not sure if it caught sumo branch.

[2019-01-22 21:09] xuhcc commented on #373
Thanks, 3A+ booted successfuly with thud. WiFi is not working, but it could be a problem with my custom layer.

[2019-01-23 00:38] agherzan commented on #373
Great. Check wifi firmware and test with managers like networkmanager.

[2019-01-23 00:38] #373 closed

[2019-01-24 22:03] brocaar opened #374 "UART issue when setting RPI_USE_U_BOOT = "1""
**Description**

I have a Raspberry Pi 3 with a GPS module connected to the UART interface. I'm using the thud branch of meta-raspberrypi to build images and all is working fine. When I `cat /dev/ttyAMA0` I see NMEA messages coming in.

I created the following `rpi-config_%.bbappend` file to update the `config.txt` file:

[code]

When I add `RPI_USE_U_BOOT = "1"` to my configuration, the image is

[2019-01-24 22:17] nandra opened #375 "raspberrypi0w - no wifi interface on thud branch"
Build image for raspberrypi0w  from thud branch. After startup check ifconfig -a and no wlan0 interface was present. Anyway FW files are present:
[code]
**Steps to reproduce the issue:**
1. build image from thud branch for rpi0w

**Describe the results you received:**
No wlan0 interface available

**Describe the results you expected:**
wlan0 interface should be working

[2019-01-24 22:32] nandra commented on #374
Good reference for using/configuring uarts on rpi can be found here:
https://www.raspberrypi.org/documentation/configuration/uart.md

By adding pi3-disable-bt
[code]

you add AMA0 to gpio14 and 15 and I assume your GPS module is connected to other pins? I would try without pi3-disable-bt option.

[2019-01-24 22:35] brocaar commented on #374
@nandra but if that would be the case, would it matter if I have `RPI_USE_U_BOOT = "1"` or not in my configuration?

As I tried to explain, without `RPI_USE_U_BOOT = "1"` the GPS works as expected, but after adding `RPI_USE_U_BOOT = "1"` it no longer works.

[2019-01-24 22:38] nandra commented on #374
@brocaar I don't think so. You can first try to drop RPI_USE_UBOOT -> this will only to jump to u-boot instead of kernel directly (then u-boot load uImage and continue with booting). So you want to say that it works without RPI_USE_UBOOT and with additions in config.txt? Thx.

[2019-01-24 22:45] brocaar commented on #374
@nandra yes that is correct. When buiding an image without `RPI_USE_UBOOT = "1"`, the GPS works fine. When I generate an image with boots using u-boot (thus `RPI_USE_UBOOT = "1"`), it does not work.

Please also see my initial post with the diff of `/proc/device-tree` which doesn't seem to be much different. I'm not an expert in this, but to me it seems that the issue is caused by adding u-boot to

[2019-01-24 22:49] brocaar commented on #374
See also: https://github.com/brocaar/lora-gateway-os/tree/uart_debug for my recipes,
and https://www.dropbox.com/sh/5cbrm0lfcfnzge5/AABNiUKy5b5WhukIhiTjO1Lta?dl=0 for an image with and one without u-boot in case that would help debugging this issue.

[2019-01-24 22:57] nandra commented on #374
@brocaar ok I see. Just guessing could be possible that systemd will start getty on ttyAMA0 and it could be reason why you don't get data out of it? IIRC mender using systemd by default. But this is only hint not direct help ;). Also s it's related to mender integration you can ask maybe on hub.mender.io forum (did you try enable u-boot without mender and verify results?) Thx

[2019-01-24 23:01] brocaar commented on #374
@nandra This is not the issue. To reproduce the issue, I completely removed the Mender integration to make sure it was not caused by Mender. Also I'm not using systemd in my images.

[2019-01-24 23:03] nandra commented on #374
@brocaar ok fine so have no more ideas, sorry ;).

[2019-01-25 07:36] mirzak commented on #374
Jumping in here with some ideas :).

I know of people that has had similar issue, and unfortunately I do not know of any exact solution.

But I largely suspect that the code in U-boot is interfering and this might be better suited for the U-boot mailing list, or at least bring it up there as well.

One thing that I would look in to is the U-boot built in device tree, it does some pinmuxing on uart

[2019-01-25 07:38] muddessir commented on #372
Ok.
I will try to upgrade my system to thud. Afterwards I will try.

Thank you.

[2019-01-25 09:46] madhu2051 opened #376 "How can I add gstreamer1.0-libav for streaming mp4 video songs in meta-raspberry?"
I am trying to add gstreamer1.0-libav in meta-raspberry  to support for streaming of mp4 videos.

I've added the following lines in local.conf file

IMAGE_INSTALL_append = " gstreamer1.0-libav"
LICENSE_FLAGS_WHITELIST_append = "commercial_gstreamer1.0-libav"
LICENSE_FLAGS_WHITELIST_append = "commercial_avdec_h264 "
PACKAGECONFIG_pn-gstreamer1.0-libav = "avdec_h264"

Whenever I am trying to build w

[2019-01-25 10:15] brocaar commented on #374
@mirzak thanks! That indeed seems to be the issue. After the patch below, I finally was able to access my GPS module (`cat /dev/ttyAMA0`) :-) I also had to make sure that the GPS module would not write to u-boot as it would interrupt the boot process. See also: https://stackoverflow.com/a/40367443.

[code]

[2019-01-25 11:23] madhu2051 commented on #376
Instead of specifying avdec_h264 element, I've installed the entire gstreamer1.0-libav plugin. Now I am able to stream the videos.

[2019-01-25 11:23] #376 closed

[2019-01-25 17:07] agherzan commented on #375
Hi @nandra . Can you attach the `dmesg` log?

[2019-01-25 17:14] agherzan commented on #374
@brocaar if you report this in uboot please link us here as well. We should fix this there.

[2019-01-25 17:20] nandra commented on #375
Sure: https://pastebin.com/AG7YVdVD

+ I also enabled u-boot for rpi (needed for rauc update)

Looks like wifi driver is not probed at all.

[2019-01-26 16:09] brocaar commented on #374
I have posted it on the mailinglist with a link to this issue. It is awaiting moderator approval.

[2019-01-28 19:00] Romaxx commented on #374
I have a similar issue, I am working on a custom PI HAT using true UART (used by BT but disabled with pi3-disable-bt), this HAT supply COM terminal, u-boot seems to send some data over this UART during boot procedure (probably the default ttyS0 serial console), my board respond and the boot fail. I'm investigating on how to resolve that. Another issue, I've tried to add uEnv.txt to restrict boot_t

[2019-01-30 13:09] nandra commented on #375
@agherzan any ideas? I know for sure that on rocko ifi was working. I can bisect maybe but it will take some time ;)

[2019-01-30 13:55] agherzan commented on #375
@nandra That is strange indeed. I'd have to take a look (but that will happen after I get rid of this annoying cold).

[2019-01-30 15:41] kraj commented on #375
@nandra what does `ifconfig -a` says

[2019-01-30 16:12] nandra commented on #375
@kraj shows only lo interface nothing more (lsmod also doesn't report any wifi drivers available while bluetooth driver is loaded).

[2019-01-30 16:34] kraj commented on #375
that means its not getting right firmware in image, can you try to manually copy the /lib/firmware directory from  a working SD card to thud and see if that helps.

[2019-01-30 16:37] agherzan commented on #375
@kraj But that should have been shown in dmesg, isn't it?

[2019-01-30 16:42] kraj commented on #375
@agherzan good point, (with another sip of morning tea) I looked at dmesg again and I don't see it loading `brcmfmac` module which means the wifi chip will go undetected, can we find out why this module is not being loaded ?

[2019-01-30 20:59] nandra commented on #375
Asked for help also here as it looks like kernel issue: https://github.com/raspberrypi/linux/issues/2842

[2019-01-31 10:13] nandra commented on #375
Looks like wifi chip became dead somehow (pls see info here:) https://github.com/raspberrypi/linux/issues/2842

Basically tried raspbian and interface is also not preset.

[2019-01-31 10:13] #375 closed

[2019-01-31 11:01] agherzan commented on #375
@nandra can you retry the version you know for sure it was working? We found something similar with a testing device lately.

[2019-01-31 11:42] nandra commented on #375
@agherzan ok building image now and will do the shot

[2019-01-31 13:57] nandra commented on #375
@agherzan I flashed image for whcih I have confirmed wifi works on other rpi0w but not on mine. So I think my HW is really dead. Can you try raspbian if wifi will work there? Thanks.

[2019-01-31 21:57] Romaxx commented on #374
I have some responses, for u-boot, default config is 'stdout=serial,vidconsole' (https://github.com/u-boot/u-boot/blob/master/include/configs/rpi.h line 88), so data is written on serial during boot, @brocaar GSM UART receive this data and the buffer could be filled with uncomprehending datas, causing unresponsive UART when the PI take the UART after u-boot, remove serial from stdout, stderr and s

[2019-02-01 12:12] agherzan commented on #375
@nandra I actually did and it is reproducible but it seems like a different issue (maybe?): https://github.com/RPi-Distro/repo/issues/122

[2019-02-01 12:15] nandra commented on #375
@agherzan  Hmm in my log there are no such issues. So also in raspbian image you don't have wifi interface? I had yesterday confirmation that image build on rocko wifi works perfectly fine. Weird :)

[2019-02-01 12:17] agherzan commented on #375
That is correct, It fails as well in raspbian for this OTG + Wifi dongle setup. But only when rebooting for a couple of times.

[2019-02-01 12:18] nandra commented on #375
So for first few time everything is fine but then later after reboot make troubles. Maybe ask on linux-raspberrypi github

[2019-02-01 12:19] agherzan commented on #375
That's the plan. For now, I'll let the raspbian guys know.

[2019-02-01 13:56] markuswurz commented on #373
@xuhcc Have the same issue, did you get it to work?

[2019-02-04 08:37] nandra commented on #375
Looks like also raspbian have an issue: https://github.com/raspberrypi/linux/issues/2846

[2019-02-06 07:37] nandra commented on #375
Also pls note: https://github.com/raspberrypi/linux/issues/2846#issuecomment-460177049

[2019-02-08 00:58] agherzan commented on #362
This was fixed on thud but awaits patch to master as well.

[2019-02-13 06:19] thknx opened #381 "Generic raspberry image"
How can I build generic-raspberry yocto image which be able to work all raspberry boards? Everytime I have to change MACHINE parameter on yocto but I want to build a generic image like raspbian which consists necessery drivers and firmwares?

Can you advice me please?

[2019-02-13 07:53] kraj commented on #381
There is no pre-cooked recipe for that, you can create a new image from `MACHINE="raspberrypi"` and then add all firmwares into image. You also might need to package all kernel configs and DTBO for all machines into this jumbo image.

[2019-02-13 08:37] thknx commented on #381
I thought may be Mr. @agherzan help me because I have not knowledge about tuning on arm&rpi.

[2019-02-13 14:45] rosterloh opened #382 "Boot partition should be fat32"
**Description**
As per the [Raspberry Pi documentation](https://www.raspberrypi.org/documentation/hardware/computemodule/cm-emmc-flashing.md) there is an issue with some compute modules when the boot partition is not FAT32.

**Steps to reproduce the issue:**
1. Build image
2. Check partitions using gparted

**Describe the results you received:**
Some images don't boot on a compute module

**Descri

[2019-02-14 12:09] agherzan commented on #382
@rosterloh that is correct. Would you feel like pushing a PR to address this?

[2019-02-14 12:18] agherzan commented on #381
As Khem said above, we don't have this implemented at this point. I recommend defining a new machine and start building up all the needed bits (dtbs, firmware etc). The only thing you need to pay extra care to is the kernel image filename because that is machine specific (actually arch specific). So you will have to provide all the needed ones - kernel7, kernel and kernel8.

[2019-02-15 15:33] rosterloh commented on #382
@agherzan should be good now

[2019-02-15 15:39] agherzan commented on #382
Nice. Waiting for builds and will merge.

[2019-02-18 09:19] erikhh commented on #362
Like this? https://github.com/agherzan/meta-raspberrypi/pull/385

[2019-02-18 15:12] agherzan commented on #362
Yes. Thanks @erikhh .

[2019-02-19 13:41] #382 closed

[2019-02-19 14:17] agherzan commented on #362
Fixed in master too.

[2019-02-19 14:17] #362 closed

[2019-02-22 16:54] Romaxx opened #391 "file /usr/include/KHR/khrplatform.h is installed by both userland and mesa-gl, aborting"
hi, I have a problem with master branch
ERROR: libepoxy-1.5.3-r0 do_prepare_recipe_sysroot: The file /usr/include/KHR/khrplatform.h is installed by both userland and mesa-gl, aborting

MACHINE              = "raspberrypi3"
meta                 = "master:47eb3d00e9d6a66aee1283dab29af8117a006d6d"
meta-raspberrypi     = "master:09c00164d6ad978d444749a89e0a0a3d77a1735e"
meta-yocto-bsp       = "master:

[2019-02-24 11:11] agherzan commented on #391
@Romaxx this should be fixed now in master. Can you confirm? cc @kraj

[2019-02-24 16:15] kraj commented on #391
it should be fixed now

[2019-02-25 09:36] Romaxx commented on #391
error always appear if MACHINE_FEATURES_append =" vc4graphics" is not provided,
for raspberrypi3-64 it's not throwing because it's set in .conf

[2019-02-25 10:06] agherzan commented on #391
@romaxx what master revision have you used?

[2019-02-25 12:25] Romaxx commented on #391
@adherzan oh well, I've made some modifications to userland_git.bb.. git didn't pull and no advertise me..
now have,
`meta-raspberrypi     = "master:60dbfd25443754690f834afe30e7a6dca46a40da" `
little issue with fetching
`DEBUG: Fetcher failure: Unable to find revision e2d2941326922b63d722ebc46520c3a2287b675f in branch rpi-4.19.y even from upstream`
so I've replaced with 18b4bd6567bc78af187211c5cb8

[2019-02-26 00:29] kraj commented on #391
I can reproduce this issue with userland graphics and latest OE-core/mesa, it needs a bit of patching and I have posted a pull request which should fix it finally.

https://github.com/agherzan/meta-raspberrypi/pull/392

This will make sure X11/eglfs images can be built with userland graphics, please note that
wayland may not work, thats a well known problem and limitation of userland graphics

[2019-02-26 13:32] bderuijsscher commented on #374
After patching the U-boot recipe to disable console output during U-boot phase (thanks @Romaxx) I noticed that the ENABLE_UART="1" directive still introduced the serial0 console in the Linux kernel. This resulted in /dev/ttyS0 from being present but unavailable for our application since it was used as a console device.

Probably not the most elegant way of fixing this - but I thought worth mention

[2019-02-28 01:56] utsavjain0511 opened #393 "BLE for RPI3B+"
**Description**

I am using the master branch of meta-raspberrypi. I am trying to configure bluetooth device on RPI3B+

My local.conf looks like this:

[code]

When I start bluetoothctl

returns "No default controller available"

My understanding is that at the boot time the image is not able to attach the BLE device.

**Additional details (revisions used, host distro, etc.):**
I am using the late

[2019-02-28 02:05] kraj commented on #393
Can you post the kernel boot logs ? does it discover bluetooth at all

[2019-02-28 02:12] kraj commented on #355
@pepijndevos this notification missed me. Are you using 32bit+userland-graphics or is it mesa/vc4graphics stack?

[2019-02-28 02:48] utsavjain0511 commented on #393
Here are the boot logs

[code]

[2019-02-28 03:32] kraj commented on #355
I see this when above packages are added to `IMAGE_INSTALL`

[code]

[2019-02-28 04:51] kraj commented on #393
OK so it seems kernel has initialized it fine, so it seems the userspace part is not initialized.

can you try with this patch applied

[code]

[2019-02-28 12:22] pepijndevos commented on #355
I'm no longer at the job where I ran into this problem so I cannot check, sorry.

[2019-02-28 14:26] agherzan commented on #393
Looks like it.

[2019-02-28 15:49] agherzan commented on #355
I'll close it for now in that case. If anyone faces this again, feel free to reopen.

[2019-02-28 15:49] #355 closed

[2019-02-28 16:15] agherzan commented on #374
`ENABLE_UART` enables the cmdline as well. We could improve this with some additional logic but also you can redefine CMDLINE (https://github.com/agherzan/meta-raspberrypi/blob/master/recipes-kernel/linux/linux-raspberrypi.inc#L25) in a bbappend or in local.conf for example.

[code]

[2019-02-28 19:32] utsavjain0511 commented on #393
I did apply the patch. There is a failure in building the image now due to the following logs

[code]

I am guessing it is because of the following line in the raspberrypi3-64.conf machine config

`MACHINEOVERRIDES = "raspberrypi3:${MACHINE}"`

This means its applying the patches required.

[2019-02-28 20:33] kraj commented on #393
Oh I see then the patch I suggested is wrong, its already effective

[2019-03-01 01:30] utsavjain0511 commented on #393
Is there something I am missing here? I checked the patches are applied correctly.

When I run /usr/bin/btuart command

I get following error
`bcm43xx_init`
`Initialization timed out.`

[2019-03-01 02:38] kraj commented on #393
Can you try using kernel 3.19

[2019-03-01 11:17] agherzan commented on #393
@utsavjain0511 4.19 is default now in master. Give that a spin.

[2019-03-03 15:07] infojg9 opened #394 "RPI3B+ bitbake rpi-test-image build issue"
Hi All,

How to solve this RPI3B+ bitbake rpi-test-image build issue. Any hints would be highly appreciated.

Configuration(config/local.conf, git branches, system) and Log as follows：

**Description**

Followed the steps from https://meta-raspberrypi.readthedocs.io/en/latest/readme.html

**Steps to reproduce the issue:**

1. checkout thud branch (ans later also tried master branch with clean cach

[2019-03-04 14:22] lbonn opened #395 "linux-raspberrypi 4.19 cannot be fetched on master"
**Description**

The linux-raspberrypi recipe references a commit that is outside of the specified `rpi-4.19.y` branch: https://github.com/raspberrypi/linux/commit/e2d2941326922b63d722ebc46520c3a2287b675f. Bitbaking an image on up-to-date repos will fail at the fetch stage of the recipe.

Current workaround is to define `PREFERRED_VERSION_linux-raspberrypi = "4.14.%"` in build configuration (shoul

[2019-03-04 18:42] utsavjain0511 commented on #393
Thanks! I was able to fix it by removing the line

`SERIAL_CONSOLES = "115200;ttyAMA0"`

from the local.conf . I am guessing it is because the bluetooth initializing script is trying to attach the interface to /dev/ttyAMA0 . I will find the exact reason and post it here. Closing the issue.

[2019-03-04 18:42] #393 closed

[2019-03-04 21:30] kraj commented on #395
its fixed via https://github.com/agherzan/meta-raspberrypi/pull/392
please try it out

[2019-03-05 12:19] agherzan commented on #395
Was also merged in master. Try it out.

[2019-03-05 12:19] #395 closed

[2019-03-06 10:54] lbonn commented on #395
Thanks! Checked that it indeed built and booted.

[2019-03-06 20:43] miikeat opened #396 "Missing extensions modules when cross compiling python 3.5.5(sumo)/3.5.6(thud) for arm on Linux"
I'm trying to host a rest api on my raspberrypi3. I wrote everything in python and used falcon, so i would like to host it using gunicorn which I installed using python3-pip. This works fine on my desktop, but not on my raspberrypi.

I am running a basic Yocto image where i just added ```IMAGE_INSTALL_append = " python3 python3-pip"``` to ```local.conf```. Everything else is as described in the RE

[2019-03-07 05:17] kraj commented on #396
you need to add
[code]

[2019-03-07 13:06] miikeat commented on #396
Wow ... now I'm impressed...
I seriously have no idea how that works!

I also saw that hint somewhere earlier but as there is no recipe and ```bitbake python3-fcntl``` throws out an error:
[code]
I thought someone didn't care to check if that recipe even exists and just wrote that...
But now i noticed the last line of the error...
Where is this ```RPROVIDES``` coming from in the python3 recipe?

A

[2019-03-07 14:27] kraj commented on #396
a recipe can provide many packages, and when you install into image you install packages not recipes. Why many packages, because in some cases only portions are needed so we can keep the size in check. bitbake <recipe>  can generate multiple rpms/ipks check the deploy directory for rpms in the build tree of a recipe

[2019-03-07 15:20] #396 closed

[2019-03-07 15:34] agherzan commented on #394
What is your `bblayers.conf` file in the build directory?

[2019-03-07 15:49] bderuijsscher commented on #374
hello @agherzan yes manually adding this CMDLINE to local.conf is a way more elegant solution. Thanks for pointing that out.

Is there any easy way to skip this boot delay in U-Boot entirely? I have read that it should be possible to instruct U-Boot to have bootdelay=0.

I have managed to accomplish this manually by interactively enter the commands in the uboot prompt:

[code]

Any suggestions how

[2019-03-07 15:57] miikeat commented on #396
yeah .. i kind of figured that out in the meantime, that via the manifest.json these packages are generated dynamically...

But shouldn't the behaviour of the python3 recipe be the same on x86 and arm? why do i need to manually pick those packages on arm but on x86 they are included when only installing python3!

[2019-03-07 16:01] agherzan commented on #396
Because you are using a RPi specific image which packages a set for packages. What image are you comparing with X86?

[2019-03-07 16:13] stefano-vallarino opened #397 "Kernel compilation failure"
Hi all,

I tried to build the image at the current HEAD "7cfb0e892822f339e8a0c1f0207426cc388daa23" in the branch master, but I get a compilation error in the kernel recipe because it is looking for the commit "7f26b4456f70f9909c19936d550cf7c5dc47e1a5" which is not present in the kernel repo.

Patching the recipe to work with the current Linux version "4.19.27" it works fine.

Follows the patch, ca

[2019-03-07 16:16] agherzan commented on #374
You can patch uboot for that. See an example here: https://github.com/balena-os/balena-raspberrypi/pull/270

[2019-03-07 16:23] agherzan commented on #397
@stefano-vallarino looks good. Push a PR. Mind the commit log (check git log for reference https://github.com/agherzan/meta-raspberrypi/commit/7cfb0e892822f339e8a0c1f0207426cc388daa23).

[2019-03-07 16:50] miikeat commented on #396
I hope if it's ok if i continue asking here out of pure curiosity:

I have one qemux86 image with just poky and i build core-image-base there.

And one raspberrypi3 image with poky, meta-openembedded and meta-raspberrypi where i build as well core-image-base.
In both images i add python3 and only in the qemux86 image i have all modules.

Neither meta-raspberrypi nor meta-openembedded have a bbappe

[2019-03-07 17:05] agherzan commented on #396
Can you try using the same build configuration to build core-image-base for both machines? Basically, run twice `bitbake core-image-base` with a different machine in `local.conf`

[2019-03-07 18:07] miikeat commented on #396
I had the same idea and I'm already building it... =)

In a couple of hours I should know more!

[2019-03-07 23:43] miikeat commented on #396
The results:
[code]

[code]

[2019-03-08 00:35] miikeat commented on #396
As ```help()``` -> ```modules``` in python console lists the importable modules here a comparison between the two images:

raspberrypi3:
[code]

qemux86:
[code]

[2019-03-08 02:37] kraj commented on #396
This is a OE-Core bug please open a bugzilla entry https://bugzilla.yoctoproject.org/

[2019-03-08 10:41] agherzan commented on #397
This should be fixed now in master. Thanks for reporting it.

[2019-03-08 10:41] #397 closed

[2019-03-08 10:43] agherzan commented on #391
Thanks, @kraj. @Romaxx can you confirm that current master works as expected?

[2019-03-11 14:14] DonMorr opened #400 "Can't enable UART1 on CM3"
**Description**
If I try to enable uart1 in the config.txt on my Compute Module 3, the device is not enabled and the  kernel log reports an error. uart0 works as expected on pins GPIO_14 and GPIO_15.
I've reproduced this issue on the heads of sumo, thud and master branches.
This is not an issue on the official Raspian Image, when using this, both uarts can be enabled simultaneously on different se

[2019-03-11 18:04] kraj commented on #400
Add `ENABLE_UART = "1"` to `local.conf`

[2019-03-12 08:50] DonMorr commented on #400
Hi @kraj, thank you for the suggestion. I tested this on head of master, but no luck, I'm still getting the same errors.
Any other suggestions? Is there anyone free to test this with their Compute Module 3?
Cheers,
Donal

[2019-03-13 14:10] agherzan commented on #400
I've never tested uart1 on cm3. Can you try without `dtoverlay=pi3-disable-bt`?

[2019-03-13 14:13] agherzan commented on #394
Most probably you don't have the BSP layer in the `bblayers.conf` file. I'll close this issue for now but feel free to add any feedback if the problem persists.

[2019-03-13 14:13] #394 closed

[2019-03-13 14:14] agherzan commented on #372
@muddessir Any updates on this?

[2019-03-13 14:16] agherzan commented on #364
It would be worth giving a try to the current HEAD of thud.

[2019-03-13 17:19] schnitzeltony commented on #364
On Tue, Dec 18, 2018 at 5:07 PM rcla <notifications@github.com> wrote:

Am not using core-image-minimal-xfce so I don't know what might miss
there but I have XFCE on rasp/imx6 (thud / 32 bits) running perfectly
fine.

* For the formatting panels/buttons issues: I think it is caused by
themes: Huge parts of XFCE moved to GTK3 but XFCE GTK3 themes are in
terrible condition (think XFCE stopped taking

[2019-03-15 12:09] DonMorr commented on #400
@agherzan , just tried that again without `dtoverlay=pi3-disable-bt`, but the same result for uart1:
[code]
I have also tried uart1 on pins 32 and 33, but the same issue.

Any further suggestions?

My additions to config.txt now looks like the following:
[code]

[2019-03-15 12:35] DonMorr opened #401 "WiringPi requires update to support CM3+"
The WiringPi recipe needs to be updated to support the CM3+.
When the `gpio` command is used on the CM3+, an error is reported on the board type.
The WiringPi repos has been updated on the 13th/14th of march to support the CM3+

**Steps to reproduce the issue:**
1. Add wiringpi to the IMAGE_INSTALL
2. Build the image
3. Execute the gpio command

**Describe the results you received:**
[code]

**Des

[2019-03-15 16:26] DonMorr commented on #400
My current suspicion is that this is a kernel configuration issue. Tracing the issue through `8250_core.c`, it looks to be caused by the `CONFIG_SERIAL_8250_RUNTIME_UARTS` kernel configuration to being set to 0.
If I manually override this in the kernel config, I can get /dev/ttyS0 to be created with no errors when the device is being registered.
However, I can't appear get data to be transmitted

[2019-03-15 17:05] agherzan commented on #400
That is interesting @DonMorr . Keep us updated.

[2019-03-16 14:03] muddessir commented on #372
it seems ok with thud.

[2019-03-16 14:03] #372 closed

[2019-03-19 15:51] agherzan commented on #401
We will need to migrate that patch.

[2019-03-20 14:32] rcla commented on #364
I have re-created core-image-minimal-xfce with the current thud, but the same issues continue.

[2019-03-20 18:34] TomMettam opened #402 "FFMpeg override"
On Raspberry Pi, FFMPEG can provide hardware acceleration through the use of --enable-omx and --enable-omx-rpi compile-time switches.

It would make sense for meta-raspberrypi to override the recipe in oe-core to add these compile-time switches to FFMPEG.

[2019-03-20 23:46] kraj commented on #402
It’s better to write bbappends to express these
In this layer itself and apply the package config using ‘rpi’ overrides

[2019-03-21 11:02] manszigher opened #403 "Question: Ethernet stability issues on raspberrypi3 B+"
**Description**

I am trying to build an image for the raspberrypi3 B+ I am currently using my own distro because I need systemd. I am using my own image. I have a python application exposing a cli over the USB to my host.

**Describe the results you received:**
I have some stability issues with my image I am continuously seeing

<pre>
Mar 15 05:39:07 raspberrypi3 kernel: lan78xx 1-1.1.1:1.0 eth0:

[2019-03-21 14:44] agherzan commented on #403
All you need to do is set:

[2019-03-21 14:47] agherzan commented on #402
I subscribe to what @kraj said. I'm also OK with adding them in the BSP layer as long as you feel like pushing and testing a PR.

[2019-03-21 18:00] kraj commented on #403
Use Yoe distro

https://github.com/YoeDistro/yoe-distro

set DISTRO = "yoe-glibc-systemd-wayland"

[2019-03-22 08:33] manszigher commented on #403
Thanks

[2019-03-22 08:33] #403 closed

[2019-03-22 10:34] DonMorr commented on #400
@agherzan What's the best way to test a kernel configuration? I'd like to try to narrow the issue down to either the kernel configuration or something in userland. But can't seem to get the yocto build to use the kernel config from the Raspian image (which uart1 works correctly on).
I've tried adding a `do_configure_append` to my `linux-raspberrypi_%.bbappend`, which gets called, but the config (~

[2019-03-22 14:18] agherzan commented on #400
If it's just temporary I would probably use a devshell or copy something over just before compile.

[2019-04-02 09:58] schnitzeltony commented on #364
Seems that this is not an meta-raspberrypi issue (not even an XFCE issue). I changed the audience and added some findings [1].
Close this one?

[1] http://lists.openembedded.org/pipermail/openembedded-devel/2019-April/199010.html

[2019-04-07 20:18] TomMettam commented on #402
I have a working bbappend for this, however it breaks because for some reason the openmax libraries are in /usr/lib/ rather than the expected /opt/vc/lib/ - any clue why this might be?

[2019-04-08 08:20] manszigher opened #408 "[Question] experiencing kernel stability issues raspberrypi3 B+ 32 bit build"
Hi,

I am experiencing stability issues on my build I have distro based on poky and an image based on core-image-base.bb and I am currently on the latest sumo. I am seeing issues related to the ethernet as I have earlier posted a question about it here https://github.com/agherzan/meta-raspberrypi/issues/403. I suspect that the meta-raspberrypi is tested and used so if this was an actual issue that

[2019-04-08 18:13] kraj commented on #402
thats normal for this libs to be in /usr/lib so make it look into standard paths.

[2019-04-08 18:15] kraj commented on #408
Can you add more info e.g. stack traces etc.

[2019-04-08 19:34] TomMettam commented on #402
But it's not normal for raspberry pi - userland libraries are expected to be under /opt/vc/lib, and I believe it's hardcoded in ffmpeg!

[2019-04-08 19:36] TomMettam commented on #402
Yep... https://gyazo.com/74b7141b4d088c6ee0b4c136d3f1fc27

[2019-04-08 19:55] kraj commented on #402
Right you need to patch ffmpeg

[2019-04-08 23:25] TomMettam commented on #402
But every single other OS which implements the raspberry pi userland puts these libraries in /opt/vc/lib. And actually,  having these libraries in /usr/lib breaks the omx samples too.

[2019-04-09 05:48] manszigher commented on #408
I will try and collect any information when it occurs and post it here. I need to tweak my build so I can get more information out of it. The issues is not occurring that often. Did not want to file an issue because no one else have reported it. If you think it makes sense I can collect the information and create an issue instead of having it as question. I just wanted to know if I should investig

[2019-04-11 14:36] paul-betafive opened #410 "linux-raspberrypi 4.19.y is not considered stable"
Looking upstream today I've seen the following issue reported by @schnitzeltony: https://github.com/raspberrypi/linux/issues/2931

On this issue it's been made clear that the rpi-4.19.y kernel branch is not considered stable and rebasing of this branch will likely continue. The rebasing is causing regular fetch errors for myself and other users.

I recommend we switch the default kernel version ba

[2019-04-11 17:39] kraj commented on #410
We should add ```rebaseable=1``` to SRC_URI until upstream gets their act together and starts respecting default public branches.

[2019-04-12 15:47] sherpya commented on #320
@agherzan `psplash` package's alternative priority of 10 is not enough, the default has 100, you need to use something like 200

[2019-04-16 14:27] agherzan commented on #320
Good catch @sherpya . Do you mind giving it a short test and push a PR?

[2019-04-16 14:36] agherzan commented on #410
What is rebaseable doing?

[2019-04-16 15:05] agherzan commented on #408
I see you also compare outcome with raspbian. Do you know the exact kernel version you tested it on Raspbian?

[2019-04-16 15:40] agherzan commented on #364
I agree.

[2019-04-16 15:40] #364 closed

[2019-04-16 17:49] kraj commented on #410
it keeps the old SHA along even on refresh it will find the old SHA

[2019-04-17 03:50] kraj commented on #391
this seems to be related to old khronos header APIs in userland package probably. Recently I have not tested userland option so much, but my guess is we need to patch userland headers here.

[2019-04-17 03:52] kraj commented on #320
this seems plausible, please propose a patch if you can.

[2019-04-17 07:04] manszigher commented on #408
Hi, I will supply some more data but here is some interesting output.

<pre>
[14844.668909] hid-generic 0003:0525:B4A4.0006: hiddev96,hidraw2: USB HID v1.10 Device [FSL USB download gadget] on usb-3f980000.usb-1.3/input0
[14847.795346] usb usb1-port1: disabled by hub (EMI?), re-enabling...
[14847.806809] usb 1-1: USB disconnect, device number 2
[14847.817663] usb 1-1.1: USB disconnect, device numb

[2019-04-17 07:18] manszigher commented on #408
On the raspbian I am running 4.14.79

[2019-04-17 07:27] manszigher commented on #408
I will test it out some more on the raspbian but I am not seeing this issue there so even though I do believe the device connected to raspbian might not behave nice I am pretty sure the result is not the same when running raspbian nor when running connecting the device to other devices.

[2019-04-17 09:14] agherzan commented on #408
Use serial connection and reproduce the issue. That will not depend on network.

[2019-04-17 09:16] paul-betafive commented on #410
Setting `rebaseable=1` doesn't fix things for us as we're not maintaining a downloads mirror.

[2019-04-17 11:00] agherzan commented on #400
@DonMorr can you try without `enable_uart=1`?

[2019-04-17 11:33] sherpya commented on #320
@agherzan which branch? I'm using sumo since thud ha problems with wifi on rpi0-w

[2019-04-17 11:51] agherzan commented on #320
Master and afterwards backported to what branch you are interested in.

[2019-04-17 13:21] DonMorr commented on #400
@agherzan Thanks for your suggestion. Just tried without that, but getting the same result. My config.txt now only has the following related to uart1:

[code]
Getting the same error:
[code]

[2019-04-18 09:57] agherzan commented on #400
@DonMorr What I actually meant but didn't come out right was to use `enable_uart=0`. Sorry for the confusion.

[2019-04-23 08:05] manszigher commented on #408
@agherzan can you clarify? Not sure I understand

[2019-04-23 08:07] manszigher commented on #408
Maybe I should clarify I am using an fdti null modem cable

https://www.ftdichip.com/Support/Documents/DataSheets/Cables/DS_USBNMC.pdf

This is connected to the rpi USB and to my host. So I am not using the serial port pins.

[2019-04-23 10:14] agherzan commented on #408
What I meant is to attach a serial console and login over it to see details logs of what happens when the device breaks.

[2019-04-24 12:13] #410 closed

[2019-04-24 12:13] #381 closed

[2019-04-25 15:29] s-maynard commented on #400
I use both UARTs in my yocto build for the CM3.  I had to use the following overlay:

/*
 * Device tree overlay for D600 UARTs
 *
 * Compile:
 *         dtc -@ -I dts -O dtb -o d600-uarts-overlay.dtb d600-uarts-overlay.dts
 */

/dts-v1/;
/plugin/;

/{
    compatible = "brcm,bcm2708";

    fragment@0 {
        target = <&uart0>;
        __overlay__ {
            pinctrl-names = "default";

[2019-04-26 07:36] manszigher commented on #408
So I am trying to get the serial port working on the GPIO unfortunately I am struggling a bit. I have also encountered kernel panics when rebooting. My build is based on sumo, my distro is a custom based on poky

<pre>
require conf/distro/poky.conf

DISTRO = "strix-production"
DISTRO_NAME = "Strix Production Programmer"
DISTRO_VERSION = "${STRIX_OS_RELEASE}"
MOZARTOS_VERSION = "${STRIX_VERSION}"
S

[2019-04-26 09:10] manszigher opened #415 "[Question] ENABLE_UART="1" in local.conf will not enable cmdline console arg"
Hi,

I am trying to get the serial console to work on the GPIO pins on raspberrypi3 B+ without any success. I am sure I am doing something wrong and I have gone through all the issues here but without any luck. One of the things that I don't understand is that according to the documentation I should add ENABLE_UART="1" to the local.conf which I have verified that enable_uart=1 exists in config.txt

[2019-04-26 10:13] manszigher commented on #415
So i dumped the env for linux-raspberrypi and noticed that ENABLE_UART actually was enabled after modifying the SERIAL to always set "console=serial0,115200" so I think the issue was that I did not do a clean of linux-raspberrypi after adding ENABLE_UART in local.conf.

[2019-04-26 10:43] manszigher commented on #415
So this is what I get when running bitbake -e linux-raspberrypi

<pre>
CMDLINE="dwc_otg.lpm_enable=0 console=serial0,115200 root=/dev/mmcblk0p2 rootfstype=ext4 rootwait    "
</pre>

But when booting up the console is missing in the cmdline.txt

[2019-04-26 10:44] manszigher commented on #415
The file under ./tmp/deploy/images/raspberrypi3/bcm2835-bootfiles/cmdline.txt also includes the console arg.

[2019-04-26 11:03] manszigher commented on #408
So the my distro was actually including more then what I posted above it was including a file that was a legacy from an old project I thought it would not mater since it should be empty but of course that was the case. By removing this include in my distro it appears as if my issue is not possible to reproduce I just need to enable every option and see what caused my issue.

[2019-04-26 12:05] #408 closed

[2019-04-26 12:18] agherzan commented on #415
Can you mount the final image and check the cmdline.txt? Have you regenerated the image and burn the right one?

[2019-04-26 12:23] manszigher commented on #415
Well let me just say that I have tried to verify it accordingly but since it was still not working I must be messing something up. I will post a comment when I figures this out. Thanks anyway.

[2019-04-27 09:17] Romaxx commented on #391
@agherzan hi, yes I've tried with the last 7059c37, same error

[2019-04-29 08:39] DonMorr commented on #400
@agherzan @s-maynard Cheers guys, will give both of those a go.

[2019-04-29 13:58] agherzan commented on #391
That's a bummer. We will need to look into this and if by any chance you can and have the time, patches are welcome.

[2019-04-30 08:57] DonMorr commented on #400
@agherzan Setting `enable_uart=0` disables all uart functionality for me (inc UART0).

@s-maynard That worked a treat, thank you very much for sharing.

I had missed that there is an overlay for uart1 in the repo here:
`arch/arm/boot/dts/overlays/uart1-overlay.dts`, which could be patched to use different pins as required.
@agherzan Is it worth putting details of this in the documentation [here](h

[2019-04-30 10:46] agherzan commented on #320
Should be fixed with https://github.com/agherzan/meta-raspberrypi/pull/413

[2019-04-30 10:46] #320 closed

[2019-04-30 10:47] agherzan commented on #400
@DonMorr That is definitely something to push in the docs. Do you want to have a PR for it?

[2019-04-30 11:38] DonMorr commented on #400
@agherzan yes, happy to do this over the next few days.

[2019-04-30 11:42] agherzan commented on #400
Appreciated.

[2019-05-04 18:36] NirajTummala opened #416 "No recipe for bpftool.bbappend in meta-raspberry pi"
![Workspace 1_003](https://user-images.githubusercontent.com/6519885/57183376-d24afb80-6e71-11e9-8310-442bb93112a5.png)

using poky thud-20.0.2

meta-raspberrypi depends on meta-oe,meta-openembedded
MACHINE: raspberrypi3

error:
No recipe for packagegroup-meta-oe.bbappend
No recipe for bpftool.bbappend

when using bitbake core-image-minimal

[2019-05-29 18:57] bvarner opened #422 "vc4graphics not working on model 3A+ booting raspberrypi3-64"
**rpi 3A+ boots properly for raspberrypi3, but not raspberrypi3-64**

I'm building an image that boots with my 3A+ when `MACHINE=raspberrypi3`.
The exact same config, but with `MACHINE=raspberrypi3-64` makes it through the uboot phase, then just sits there after uboot says it's loading the kernel.

The 3A+ is the only 'new' pi I have. Same image works with my other devices, which are all `raspberr

[2019-05-29 21:28] agherzan commented on #422
Can you try current master for meta-raspberrypi with the warrior branches on the other layers? We've updated the kernel in the meanwhile.

[2019-06-02 16:34] agherzan commented on #415
@manszigher Any news on this?

[2019-06-03 07:44] manszigher commented on #415
Sorry yes I just had to make sure that after enable it that everything was built as expected I think there was a cache interfering resulting it after making sure everything was built as expected I got it up and working.

[2019-06-03 07:44] #415 closed

[2019-06-10 21:06] AustinHaigh opened #424 "core-image-sato build fails (Nothing PROVIDES 'faad2')"
**Description**

Building poky with the sato UI (using the command `bitbake core-image-sato`) fails.

**Steps to reproduce the issue:**
1. `git clone https://github.com/agherzan/meta-raspberrypi`
2. `source ./oe-init-build-env rpi-build`
3. `bitbake-layers add-layer ../meta-raspberrypi`
4. add `MACHINE?="raspberrypi"` to `conf/local.conf`
5. `bitbake core-image-sato`

**Describe the results you re

[2019-06-10 22:01] AustinHaigh commented on #424
I didn't add all dependencies to bblayers.conf

[2019-06-10 22:01] #424 closed

[2019-06-12 11:53] gaurav-xebrium opened #425 "linux-raspberrypi 4.19 cannot be fetched on warrior branch"
**Description**
Unable to build linux-raspberry-4.19 on warrior branch for machine `raspberrypi3-64`.

I am currently trying to build core-image-sato for Raspberry Pi 3 Model B, but linux-kernel 4.19 cannot be fetched. I get error `Unable to find revision ab8652c03fa081b27de7e28a74c2536cb2aa3e5b in branch rpi-4.19.y even from upstream`
**Steps to reproduce the issue:**
1.Edit the line `PREFERRED_V

[2019-06-12 11:58] agherzan commented on #425
Use master as a workaround. I'll back-port the changes in warrior too.

[2019-06-12 12:01] gaurav-xebrium commented on #425
alright, will use master, Thanks!

[2019-06-13 09:48] DonMorr commented on #401
@agherzan, I have a fix ready for this. When I'm creating the pull request, which branch(s) should I create the pull request to?
Also, what's the policy on keeping the older branches up to date?

[2019-06-13 15:47] agherzan commented on #401
@DonMorr That is great news. The first PR needs to go against master. For backports, new PRs can be raised as soon as the initial one gets merged against the required branch support.

[2019-06-13 17:32] kraj commented on #424
in your local.conf add
[code]

[2019-06-13 17:36] kraj commented on #416
are you using `thud` branch for meta-raspperrypi repo as well ? if not please do so.

[2019-06-14 10:13] agherzan commented on #425
@gaurav-xebrium `warrior` branch has now the fix for this.

[2019-06-14 10:14] #425 closed

[2019-06-14 10:17] agherzan commented on #187
@manszigher is this is this case with the current kernel versions?

[2019-06-16 09:22] TomMettam opened #428 "OMXPlayer build fails"
OMXPlayer build fails when targeting Raspberry Pi 3b+ from meta-raspberrypi master

`/build/tmp/work/cortexa7t2hf-neon-vfpv4-yoe-linux-gnueabi/omxplayer/git-r4/recipe-sysroot/usr/include/bits/byteswap.h:34:29: sorry, unimplemented: Thumb-1 hard-float VFP ABI`

[2019-06-16 09:45] c0ffee commented on #428
[code]

fixed it for me

[2019-06-16 09:46] c0ffee commented on #428
i didnt create a pull request because i was not sure if it is a good idea to disable thumb for all people for this package ;) but sadly so far i didnt find a better solution

[2019-06-16 10:21] TomMettam commented on #428
Will "arm" work for all pi variants?

[2019-06-16 10:25] c0ffee commented on #428
all pi variants are arm yes and support the basic arm instruction set. thumb instruction set reduces the sizes and could increase the performance, I'm using omxplayer with it and couldnt discover any problems with it yet.

yocto is using by default here thumb2 instruction set for this machine, I have no clue why it complains about thumb1 in this case, maybe we can get it to work with thumb2 someho

[2019-06-17 03:16] kraj commented on #428
the fix to disable thumb ISA may be a broad-brush here, Please check if omxplayer build it modifying -mcpu/march options to use something that is < armv6 which would mean -mthumb would point to thumb1 and that could result in such errors. What is the full compiler cmdline for this particular build failures?

[2019-06-19 22:11] agherzan commented on #428
I agree. We should find the root cause of this.

[2019-06-20 20:52] #428 closed

[2019-06-21 01:16] c0ffee commented on #428
can we pls cherry-pick this in warrior?

[2019-06-21 15:21] agherzan commented on #428
@c0ffee Could you please send a PR with this commit targeting the warrior branch?

[2019-06-24 07:25] Romaxx opened #432 "RaspberryPi 4"
Hi, RaspberryPi 4 includes new concepts (SPI boot eprom, Integrated Ethernet, dual HDMI), any suggestions/roadmap to begin the integration of RPI4 with this layer ?

"The ARM cores are 64-bit, and while the VideoCore is 32-bit, there is a new Memory Management Unit, which means it can access more memory than previous versions." what does it means ?

Thk

[2019-06-24 10:02] agherzan commented on #432
Waiting for hardware.

[2019-06-24 10:05] Romaxx commented on #432
some people have received the rpi4 some weeks ago under NDA, nobody in this situation here ?

[2019-06-24 10:16] agherzan commented on #432
I'm not part of that elite :)

[2019-06-24 11:07] agherzan commented on #416
I'll close this issue for now. Don't hesitate to post a comment if the branch selection was not the issue.

[2019-06-24 11:07] #416 closed

[2019-06-26 01:27] bvarner commented on #422
Current build config and layers:
[code]
Without uboot: I get the rainbow screen, some green activity light flashing, and nothing out the HDMI.

With uboot: I get a uboot prompt on HDMI and can use USB devices for the console input. After that, same when I boot without uboot.

I was attempting to use:
`LINUX_KERNEL_TYPE = "preempt-rt"`

So maybe that's the issue. I've removed that, and will see wha

[2019-06-26 03:11] bvarner commented on #422
Removed preempt-rt preference, still nothing.

[2019-06-26 03:18] bvarner commented on #422
Removing preempt-rt didn't work.
Still unable to build a bootable raspberrypi3-64 image that boots on an A+ with yocto warrior.

.

[2019-06-26 10:45] agherzan commented on #422
@bvarner can you have a bare minimum setup (poky + meta-rpi), core-image-minimal, and test? Also, what kernel version did you end up using when you tested the above?

[2019-06-27 14:55] agherzan commented on #432
And now I am: I have the board and will probably push an initial support today.

[2019-07-03 05:14] diegosueiro commented on #432
@agherzan ,

Just to give you a feedback that I have a Rpi4-1G booting with ag/rpi4-64 branch.

Do you have any idea of the effort to get u-boot working on Rpi4?

[2019-07-03 11:22] agherzan commented on #432
@diegosueiro I plan to look into uboot support as soon as I sort out the kerne. I still fail to make the board mount the SD card root. What is your `local.conf` configuration?

[2019-07-03 11:51] diegosueiro commented on #432
@agherzan ,

I think the important bits in my local.conf are (nothing special I suppose):

[code]

And I'm building the core-image-minimal.

This is the output for `dmesg | grep -i mmc`:
[code]

[2019-07-03 12:03] agherzan commented on #432
@diegosueiro I found the issue but I'm really curious how come it works for you. Do you happen to have any additional kernel config fragment in your build setup?

[2019-07-03 12:29] diegosueiro commented on #432
@agherzan,

No I don't have any changes. The only difference is that you are using the 4G and I'm using the 1GB. Right?

[2019-07-03 12:55] agherzan commented on #432
The key bit is here:

[code]

My build, and also the upstream defconfig doesn't have the driver for SDHCI iproc. So in my case that never gets probed because obviously there is nothing to. Can you grep for this config (CONFIG_MMC_SDHCI_IPROC) in the defconfig that ends up in WORKDIR and also the one that ends up in the build directory as `.config`? Somehow you have that driver enabled.

I pushed a

[2019-07-03 14:57] diegosueiro commented on #432
@agherzan,

The `defconfig` in the WORKDIR and the `.config` both have the `CONFIG_MMC_SDHCI_IPROC=y`.

In the previous tests, I had added by hand a defconfig that was the same as the raspbian. But when I updated my local copy of the meta-raspberrypi with your ag/rpi4-64 branch I removed all my tweaks. I think yocto didn't replace my copied defconfig in the WORKDIR folder.

[2019-07-03 15:01] agherzan commented on #432
@diegosueiro  Well that somehow messed up your build. But at least we have an explanation now. I'm currently making sure all machines still build and I'll merge this support.

[2019-07-05 11:51] diegosueiro commented on #432
@agherzan,

In order to have the USB-C OTG working (with dtoverlay=dwc2) I had to add the following in the `recipes-kernel/linux/linux-raspberrypi.inc` file:
[code]

[2019-07-06 22:51] bvarner commented on #422
Previous test would have been kernel Version 4.19.. not sure beyond that.
Waiting on the requested core-image-minimal with restricted layer config.

[2019-07-10 19:42] bvarner commented on #422
Current build:

[code]
Current kernel image:
`Image-1-4.19.56+git0+fba6ea6a8f-r0-raspberrypi3-64-20190706234746.bin`

The pi 3A+ is booting. I can plug in a usb mouse and keyboard, and use ctrl-alt-delete to reboot the machine. The color-test shows up on HDMI output, as does uboot if I'm using it. But once the kernel is loading starts, I don't see anything via the HDMI output.

This is consistent

[2019-07-11 07:06] kraj commented on #422
Please try
https://github.com/agherzan/meta-raspberrypi/pull/436

[2019-07-11 13:36] agherzan commented on #432
@diegosueiro can you explain a little what is that doing? I miss context.

[2019-07-11 13:38] agherzan commented on #422
The above mentioned PR was merged to master. Give that a go please.

[2019-07-11 13:55] diegosueiro commented on #432
@agherzan,

I don't know either. :-(
I just replicated the same lines of the raspberrypi3-64.
https://github.com/agherzan/meta-raspberrypi/commit/6c4de0b5fe44b8e661f1391ee8540a7f04d75315

[2019-07-11 14:19] bvarner commented on #422
I was really hoping this would fix it, but the same thing is happening.
Works fine for 32bit raspberrypi3, but raspberrypi3-64 doesn't output video on the HDMI.

Updated to:
`meta-raspberrypi     = "master:89401374988a507390546757d135ed31bcdb9d5b"`

Current Kernel Image:
Image-1-4.19.57+git0+55b89745a4-r0-raspberrypi3-64-20190711135303.bin

How can I help, aside from build / test / report? What ot

[2019-07-12 02:35] kraj commented on #422
hmm we could use `fkms` set
[code]

and see if that works

[2019-07-12 12:05] pauldotknopf commented on #432
Hey guys, just jumping in here. Would you consider the latest bits usable for Raspberry Pi 4? What all is working/not working?

[2019-07-12 15:54] bvarner commented on #422
Interesting... This makes me wonder if it's my RAM split config.
Since I was running this image headless (and I've been building it for pi zero w's before getting a 3A+) I wasn't enabling the vc driver, and was setting the memory split to 16MB for the GPU.

I see now that in raspberrypi3-64.conf there's an
`MACHINE_FEATURES_append = " vc4graphics"`
and that my boot config has that dtbo loading, bu

[2019-07-12 16:19] bvarner commented on #422
I've tried adjusting the gpu_mem setting, but it seemed irrelevant.
I removed the MACHINE_FEATURES_append = " vc4graphics" from my local raspberrypi3-64.conf, and how it's booting to a console like I'd expect, and like it did with the raspberrypi3.conf.

So, it looks like the vc4graphics isn't working on the 3A+.

[2019-07-12 17:40] agherzan commented on #432
@pauldotknopf Fell free to try it. The current known limitation is 1G mem on 64bit. Everything else should work as much as upstream (kernel, uboot etc) works.

[2019-07-12 17:40] agherzan commented on #432
Uboot support: https://github.com/agherzan/meta-raspberrypi/pull/437

[2019-07-13 08:55] Romaxx commented on #432
Other limitation of 64bit Os on previous versions of PI was the use of DSI (Display Serial Interface) and CSI (Camera Serial Interface) lanes due to the 32-bit interface to Videocore IV GPU, Raspberrypi 4 use VideoCore VI, 32bits also, but with a new MMU, have someone tested DSI and CSI port with 64bits Build on Raspberrypi 4 ? Thk

[2019-07-15 21:54] bvarner opened #439 "Device detection / driver issues with raspberrypi0-wifi with systemd images newer than rocko"
**Description**
I have an older, working, image that I wanted to update to the newer branches. Checked all the changelogs, updated things as necessary, built my image, and it didn't work the way it used to. So I stopped trying to use my image and have been building `core-image-base`.

With systemd, `core-image-base` boots with barely any device modules loaded, and none of the peripherials work. I

[2019-07-17 04:03] bvarner commented on #439
Nevermind... Issue was that another layer was removing all manner of packageconfigs from systemd.

[2019-07-17 04:03] #439 closed

[2019-07-18 15:49] grbesd1 opened #444 "ERROR: No recipes available for: u-boot and gstreamer?"
ERROR: No recipes available for:
 Projects/raspberrypi/rpi_yocto/poky/meta-raspberrypi/recipes-bsp/u-boot/u-boot_2019.07.bbappend
 Projects/raspberrypi/rpi_yocto/poky/meta-raspberrypi/recipes-multimedia/gstreamer/gstreamer1.0-omx_1.16%.bbappend

I'm using meta-raspberrypi in yocto setup.  While running bitbake core-image-base i'm getting missing recipe error.

**Steps to reproduce the issue:**
mkd

[2019-07-18 16:11] agherzan commented on #444
I believe you don't have an up to date poky and you are using this layer's master HEAD.
As you can see, here http://git.yoctoproject.org/cgit.cgi/poky/tree/meta/recipes-bsp/u-boot/u-boot_2019.07.bb poky has the needed recipe.

[2019-07-18 21:47] agherzan commented on #444
I will close this issue for now. Feel free to comment if you encounter any more issues.

[2019-07-18 21:47] #444 closed

[2019-07-19 16:53] iohe opened #446 "Raspberrypi4-64, usb no power"
**Description**
Keyboard is not powered, kernel reports errors
**Steps to reproduce the issue:**
1. build meta-raspberry @ 6531d1d (HEAD -> ag/rpi4-uboot-update, origin/ag/rpi4-uboot-update) u-boot: Update patches for RPi4
2.
3.

**Describe the results you received:**
Errors encountered in kernel :
[    2.530074] usb 1-1: new high-speed USB device number 4 using xhci_hcd
[    2.550489] usb 1-1: de

[2019-07-19 18:15] agherzan commented on #446
What power supply are you using? Are you testing it with an official charger?

[2019-07-19 18:23] iohe commented on #446
Official power source for rpi4.
usb is powered and no issue present if i build a couple of days old commit, as specified.  I suspect something wrong on firmware side.

[2019-07-19 18:36] agherzan commented on #446
That is worrying. Would you be able to give it a try with an older firmware and test that theory?

[2019-07-19 18:37] iohe commented on #446
[dmesg.txt](https://github.com/agherzan/meta-raspberrypi/files/3412283/dmesg.txt)
This works ok

[2019-07-21 07:57] iohe commented on #446
Using https://github.com/agherzan/meta-raspberrypi/commit/8d5fc54f41dab42d765644ea953bf451ced78f74 i can attach my Razer Blackwidw Lite keyboard and type.
Using 69da331154852f5d62d6cf7a69c4ddb34f5564d0 it does not go more than colored screen at boot.
Using 0d641c8fa918b1c5ecce2cb9918c47bb3c4e1510, and RPI_USE_U_BOOT = "1" it does not appear again.
Using a USBtester that shows Voltage and amps, it

[2019-07-22 10:18] agherzan commented on #446
The relevant kernel issue is: https://github.com/raspberrypi/linux/issues/3093

[2019-07-24 15:20] agherzan commented on #446
@iohe if you are willing to compromise on 1Gb of ram, here is a PR ^

[2019-07-24 15:43] iohe commented on #446
ok for now, will revisit later for full 4g.
Thank you very much!

[2019-07-24 15:43] #446 closed

[2019-07-25 15:37] agherzan commented on #432
@Romaxx I haven't tested many peripherals. If you find any that you test and don't work as expected please create a new issue. Thanks.

[2019-07-25 15:37] #432 closed

[2019-07-25 15:38] agherzan commented on #422
@bvarner can you retest with the current warrior HEAD?

[2019-07-25 15:39] agherzan commented on #402
@TomMettam Any updates on this?

[2019-07-25 15:40] agherzan commented on #401
@DonMorr A friendly reminder for this.

[2019-07-25 15:41] agherzan commented on #400
@DonMorr Any updates on this?

[2019-07-25 18:34] agherzan opened #452 "Fix cm3 armstub"
https://github.com/agherzan/meta-raspberrypi/blob/6c175288cc81554b765c99453dc96fd4570205dd/conf/machine/raspberrypi-cm3.conf#L14

[2019-07-25 19:08] mozcelikors opened #453 "No HDMI output on Raspberry Pi 4"
Hi, I recently got a **Raspberry Pi 4, 4GB** version. Previously I had Raspberry Pi 3B+, with perfectly running everything I require, using meta-raspberrypi's sumo branch. I have a Qt app which runs using eglfs platform plugin running on Pi 3B+, but not working on Pi 4. I wanted to port my work there to the meta-raspberrypi's raspberrypi4 machine on **warrior branch**. Here's what I did:

**bblaye

[2019-07-27 08:13] xuhcc commented on #453
Hi @mozcelikors
Did you try to run RPi 3 with the warrior branch? Yesterday I built an image for my RPi 3 with the latest commit from the warrior and encountered similar issues with HDMI display. Now I'm building it from https://github.com/agherzan/meta-raspberrypi/commit/b76252c98520b79e012495f8022f238f66c20b05 and it's working. So may be this problem is not specific to RPi 4.

[2019-07-27 14:48] mozcelikors commented on #453
Hi @xuhcc,
I unfortunately can't get any HDMI output still with commit [b76252c ](https://github.com/agherzan/meta-raspberrypi/commit/b76252c98520b79e012495f8022f238f66c20b05) using my Raspberry Pi 4.

[2019-07-27 15:03] agherzan commented on #453
@mazcelikors can you please try the current master's or warrior's HEAD?

[2019-07-27 15:10] mozcelikors commented on #453
Hi  @agherzan,
Thanks for your awesome work with meta-raspberrypi, I have to say.
Previously I tried with warrior's HEAD and unfortunately was unable to get HDMI output. I checked and there is no new commit at warrior's HEAD so I doubt it will change things.
I get the following for the master's HEAD:

ERROR: No recipes available for:
[code]

Maybe /dev/kmsg output also helps here:

[code]

[2019-07-28 18:54] mozcelikors commented on #453
@agherzan I have switched everything to master branch and now able to get HDMI output. However, graphics are incredibly slow on Qt/eglfs (0.5 FPS). On Raspberry Pi 3, I used to get 30 FPS with the same set up. I read that it might be due to hardware/software acceleration difference.

[2019-07-28 21:25] MarcoBorrini99 opened #456 "rpi-test-image unbuildable because of crda (new issue?)"
**Description**

With lastest master, bitbake fails to build rootfs for a Rpi4 rpi-test-image because of crda.

**Steps to reproduce the issue:**
1. clone meta-raspberrypi master branch
2. clone meta-openembedded master branch
3. create building env:
[code]
4. edit conf/local.conf adding:
[code]
5. edit conf/bblayers.conf as:
[code]
6. start buildig image
`[marco@Port371]: ~/src/poky/rpi-build>$ b

[2019-07-30 01:27] kraj commented on #453
@mozcelikors try changing
`
VC4DTBO ?= "vc4-fkms-v3d"
`
to
`
VC4DTBO ?= "vc4-kms-v3d"
`
in
`conf/machine/raspberrypi4-64.conf` or `conf/machine/raspberrypi4.conf`

[2019-07-30 04:49] mozcelikors commented on #453
@kraj Thanks for the response. Is vc4-kms-v3d recently enabled? I tried it before and I remember not getting any helpful result. In fact, I got no HDMI signal at all using that.

[2019-07-30 14:49] kraj commented on #453
It regresssed for one kernel update we did for 4.19 ( at least for rpi3) but then it was fixed. I don't yet have rpi4 so dont know if it is fixed there

[2019-07-30 16:26] agherzan commented on #456
@MarcoBorrini99 Can you retest with master's HEAD? It should be fixed now.

[2019-07-30 17:10] mozcelikors commented on #453
@kraj @agherzan Hi again, I built my image using everything master, and still no improvement.
I doubt vc4-kms-v3d works with Raspberry Pi 4. I get the following on /dev/kmsg:
[code]
I checked what I used for the Raspberry Pi 3, it was vc4-kms-v3d as opposed to vc4-fkms-v3d. I guess that is why it used to run with great performance then.

What I tried:

Raspberry Pi 3 B and Raspberry Pi 3 B +
meta-

[2019-07-30 19:34] MarcoBorrini99 commented on #456
I've just deleted previous build directory and started from scratch with no luck, tomorrow I'll try with a new and clean yocto installation.

[code]

[2019-07-30 20:06] kraj commented on #456
it seems that I introduced a typo it should be `wireless-regdb-static`

[2019-07-30 20:44] bvarner commented on #422
Current bitbake setup.

Results are the same. Sorry for the delay in retesting.

[code]

[2019-07-30 20:58] MarcoBorrini99 commented on #456
Yes, I can boot my rpi4 now; I only had to disable wiringpi (git.dragon.net seems to be not rachable) and bigbuckbunny-* files (too long to download). Thanks, now I can continue to work on my embedded project.

[2019-07-30 21:34] kraj commented on #422
@bvarner try `master` for all to see if we have a fix on master. Warrior is last release and there could be fixes to backport.

[2019-07-31 15:51] agherzan commented on #453
@mozcelikors are you working on 32 or 64 bit machine?

[2019-07-31 17:42] mozcelikors commented on #453
@agherzan I use x86_64 host and raspberry pi 4 32 bit (raspberrypi4.conf)

[2019-07-31 18:50] agherzan commented on #453
@mozcelikors That is strange because we basically have the same setup as Raspbian. Can you try to reproduce on raspbian?

[2019-07-31 19:05] mozcelikors commented on #453
@agherzan I dont have Buster and Qt Raspbian SDK installed at the moment, but I can try to reproduce it in a few days.

[2019-08-02 08:29] sashko opened #460 "bthelper fails due to RF-killed Bluetooth on thud"
[code]

**Steps to reproduce the issue:**
1. Use latest version of `thud`
2. Build an image
3. Execute `systemctl status bthelper@hci0.service` or `systemctl --no-pager --failed`

**Describe the results you received:**

`bthelper@hci0` service failed.

**Describe the results you expected:**

`bthelper@hci0` service does not fail if Bluetooth radio is disabled.

**Additional information you deem im

[2019-08-02 17:04] psivasubramanian opened #461 "RaspberryPi 4 DRM not working with YoE"
**Description**
Hi,
Our team is trying to bring up Rpi4 using Yoe build (master branch) instructions, but facing below issue with DRM. Rpi4 boots up properly and displays command terminal through HDMI display. Though both DRM card0 and card1 are available, graphics rendering is not happening even with kmscube (tried westeros wayland compositor also).

**Steps to reproduce the issue:**
1. git clone

[2019-08-03 02:16] kraj commented on #461
@psivasubramanian  did you try setting
[code]
to `vc4-kms-v3d`

[2019-08-03 02:19] kraj commented on #460
Can you also reproduce this on master please ?

[2019-08-03 04:13] sashko commented on #460
Sure, I will try to find time to do some.

Do you have an idea why would this happen though?

[2019-08-03 04:57] kraj commented on #460
I think it could be kernel version

[2019-08-03 22:17] #456 closed

[2019-08-04 14:47] peel70 commented on #453
hello @agherzan, I've the same problem as @mozcelikors; with warrior's branch no hdmi output from qt, so I'll try the master's branch and now I have output from qt but the performances are poor. I've changed
VC4DTBO ?= "vc4-fkms-v3d"
to
VC4DTBO ?= "vc4-kms-v3d"
in
conf/machine/raspberrypi4-64.conf or conf/machine/raspberrypi4.conf

as suggested by @kraj but the result in the same.

In the config.t

[2019-08-04 18:06] mozcelikors commented on #453
Hi @peel70 ,
Please do share with us if you stumble upon a solution. I am also on the lookout.
Just a note: If you use -platform linuxfb --no-sand-box, you will get a lot better performance than eglfs at the moment. Still very very disappointing though. This issue basically renders Raspberry Pi 4 useless for people who would like to use it for Qt-based head units.

[2019-08-04 18:08] mozcelikors commented on #461
@kraj  I am having the same problem with @psivasubramanian and using vc4-kms-v3d completely breaks things in Raspberry Pi 4 (No HDMI output and devicetree complains about a lot of things). I feel like it definitely should be properly ported to Raspberry Pi 4. @psivasubramanian Please do share your results with us as well.

[2019-08-05 13:17] psivasubramanian commented on #461
@kraj Yes @mozcelikors, switching to vc4-kms-v3d make things worse on Rpi4 (No HDMI output).

[2019-08-05 13:27] agherzan commented on #461
@mozcelikors is this a duplicate of #453?

[2019-08-05 14:30] peel70 commented on #453
Hi @mozcelikors,
I'm investigating gstreamer pipeline with gst-launch-1.0 to check if the problem is in the QT.
I've tried to compile QT with kms flag and create a json for eglfs_kms configuration without success.

[2019-08-05 15:19] agherzan commented on #453
@kraj @mozcelikors https://github.com/raspberrypi/linux/issues/3020 So fkms is the only option for rpi4. We have to figure out why is it so slow. And the first step would be to see how it behaves on raspbian.

[2019-08-05 15:55] mozcelikors commented on #461
@agherzan I didnt try with his distro but I think root cause might be the same.

[2019-08-05 15:59] mozcelikors commented on #453
@peel70 @kraj @agherzan I will try it on raspbian but I wont be able to do it most possibly until next week due to my work load at the moment. If any one could do it earlier, please try to do so and share results with us. Thanks

[2019-08-06 11:05] agherzan commented on #460
Master and warrior the current maintained (up to date branches). Also, you are not mentioning any machines on which you saw this issue. I have tested rpi3 and rpi4 on warrior/master and bt works as expected.

What does `rfkill list` say?

[2019-08-06 11:20] sashko commented on #460
Raspberry Pi 3 B+.

[code]

[2019-08-06 11:25] agherzan commented on #460
I see. Try to replicate first on master. Is updating to warrior an option for you?

[2019-08-06 14:01] peel70 commented on #453
Hi @mozcelikors , @agherzan , @kraj
Today I've cross compiled QT 5.12.4 on my desktop for RPI4 with -device linux-rasp-pi3-vc4-g++ with this configuration:

Building on: linux-g++ (x86_64, CPU features: mmx sse sse2)
Building for: devices/linux-rasp-pi3-vc4-g++ (arm, CPU features: neon)
Target compiler: gcc 4.8.3
Configuration: cross_compile compile_examples enable_new_dtags largefile neon precomp

[2019-08-06 16:08] thesillywhat opened #464 "Error in do compile for cairo_1.16.0.bb"
**Description**
poky-warrior-21.0.1/meta/recipes-graphics/cairo/cairo_1.16.0bb: do_compile failed with exit code 1

I am trying to create an image for Raspberrypi cm3 64 bits. I followed the steps listed in lissue#97 to create an image for 64 bits. Since there is no machine.conf file available for CM3 64bits.

**Steps to reproduce the issue:**
1. add KERNEL_DEVICETREE_append = "broadcom/bcm2710-rp

[2019-08-06 17:07] kraj commented on #464
@thesillywhat Please post the exact error, it must be in ` /home/blue/yacto/rpi-qt5_64/build/tmp/work/aarch64-poky-linux/cairo/1.16.0-r0/temp/log.do_compile.17778`

[2019-08-06 17:30] thesillywhat commented on #464
[log.do_compile.17778.txt](https://github.com/agherzan/meta-raspberrypi/files/3473438/log.do_compile.17778.txt)

[2019-08-06 17:33] kraj commented on #464
[code]

so it seems to not having virtual/libegl in DEPENDS ?

[2019-08-06 17:34] thesillywhat commented on #464
Is that something I need to add in my local.conf ?

[2019-08-06 17:37] kraj commented on #464
what does your `./recipes-graphics/cairo/cairo_%.bbappend` in meta-raspberrypi look like ?

[2019-08-06 17:38] kraj commented on #464
and please post complete build configuration. its missing the critical parts on the right hand side.

[2019-08-06 17:41] thesillywhat commented on #464
That is my complete build configuration. That is what I see in my terminal window.  Is that wrong?

This is what I see in my bbappend file

PACKAGECONFIG_GLESV2 = " ${@bb.utils.contains('DISTRO_FEATURES', 'x11', '', 'glesv2', d)}"

PACKAGECONFIG_append_rpi = "${@bb.utils.contains('MACHINE_FEATURES', 'vc4graphics', '', ' egl ${PACKAGECONFIG_GLESV2}', d)}"

[2019-08-06 17:44] thesillywhat commented on #464
I also see that I am missing target FPU for the previous machine configuration it would populate as
target FPU = "hard"

[2019-08-06 21:44] kraj commented on #464
FPU is always `hard` for armv8, but I use Yoe-Distro and I do not see this build error. So unless I can reproduce it, it wont be easy to suggest what could be going on

[2019-08-06 21:55] thesillywhat commented on #464
I really need this to work. Can I remove this recipe ? Or is this something integral to the whole image.

[2019-08-06 22:26] agherzan commented on #464
Are you using user land or vc4?

[2019-08-06 22:39] kraj commented on #464
With 64 bit you only use vc4 graphics

On Tue, Aug 6, 2019 at 3:26 PM Andrei Gherzan <notifications@github.com>
wrote:

[2019-08-06 22:44] agherzan commented on #464
Exactly. But if sets the provider for gles userland, it will just provide nothing because userland will not produce gles and Co. I've seen this exact error in the past when I was using userland providers by mistake.

[2019-08-07 08:51] mozcelikors commented on #453
@peel70 @agherzan  @kraj
I wonder why you have:
EGLFS Raspberry Pi ................... no
With your device selection, I would assume eglfs_brcm would be available.

If you did this on Raspbian Buster (which I assume you did) and you say that it's only working with X11; then I think our presumptions are correct, and this is indeed an issue with Raspberry Pi 4 at the moment.

Could you please create

[2019-08-07 12:10] saeugetier opened #465 "Use https protocol instead of git"
The ssh port for git may be blocked on some setups. Using https would be more compatible.

https://github.com/agherzan/meta-raspberrypi/blob/9d0935c9bb1309431e62b8f8341eb503653e5ff5/recipes-kernel/linux/linux-raspberrypi_4.19.bb#L8

[2019-08-07 12:12] agherzan commented on #465
I agree. Do you fell like pushing a PR @saeugetier ?

[2019-08-07 12:31] peel70 commented on #453
Hello @mozcelikors , @agherzan , @kraj
finally I'm near to the solution (I think).

I've just rebuild the cross compile with Raspian Burster Lite (no X11) and follow an issue on the Qt bug reports https://bugreports.qt.io/browse/QTBUG-76889?filter=-3

It's normal that with the  linux-rasp-pi3-vc4-g+'s spec is not enabled eglfs_bcrm because in this case (like RPI3-64bit) is using kms (Using EGL dev

[2019-08-07 13:02] saeugetier commented on #465
Done: https://github.com/agherzan/meta-raspberrypi/pull/466

[2019-08-07 13:27] thesillywhat commented on #464
I am not using vc4graphics. In my local.conf. I am removing vc4graphics from my machine features.
I have attached my local.conf file here
[local_conf.txt](https://github.com/agherzan/meta-raspberrypi/files/3477201/local_conf.txt)

[2019-08-07 13:37] gitgonewithwind opened #467 "x11 in raspberry pi 4 chromium can not display on weida hi-tech cool touch screen in Yotco project"
**Description**

**Steps to reproduce the issue:**
1.
my local.config: some codes are my application. the local.conf almost are same as the file in raspberry pi3

MACHINE = "raspberrypi4"
DISTRO ?= "nodistro"
PACKAGE_CLASSES ?= "package_rpm"
DL_DIR = "/opt/Downloads"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
# display language support
CORE_IMAGE_EXTRA_INSTALL += " \
	source-han-sans-cn-fonts \
	sourc

[2019-08-07 13:39] gitgonewithwind commented on #467
do I need change some default config for x11 xorg in /etc/X11 ?

[2019-08-07 14:36] thesillywhat commented on #464
So I am using vc4graphics now and I have restarted the process will keep this thread updated with the result

[2019-08-07 15:25] kraj commented on #464
`MACHINE_FEATURES_remove="vc4graphics" ` that's your problem, remove it from your local.conf
`

[2019-08-07 16:36] mozcelikors commented on #453
@peel70 I tried to reproduce your solution
[code]
In the application side,
[code]

Then when I try with vc4-fkms-v3d on Yocto, I get no performance improvement like you.
There must be that is done in Raspbian that we are missing.

@agherzan @kraj  I did not see in meta-raspberrypi sources any reference to "linux-rasp-pi3-vc4-g++". Qt compilation is done with -xplatform linux-oe-g++ (qtbase_git.bb)

[2019-08-07 17:25] thesillywhat commented on #464
That did work.

[2019-08-07 17:25] #464 closed

[2019-08-07 18:11] bvarner commented on #422
Tried again, on `master`.
[code]

Same results.

Adding to local.conf:
[code]
Results in the console displaying appropriately.
Seems there must be some difference between the 3B+ and the 3A+ with the graphics driver?

[2019-08-07 19:13] peel70 commented on #453
Hi @mozcelikors ,
I found a potential solution after finding the  https://bugreports.qt.io/browse/QTBUG-76889?filter=-3 and the relative guide made by Mark at this link http://wapel.de/?p=641
I've checked the Qt's Yocto log.do_configure and the cross compile config.summary and both build

EGLFS EGLDevice ...................... yes
    EGLFS GBM ............................ yes

that is for the egl

[2019-08-07 19:43] kraj commented on #422
I would think there should be no differences in userspace at all.

[2019-08-07 20:48] mozcelikors commented on #453
@peel70 You were able to do this on Raspbian, is that correct?

Also you mean that gstreamer acceleration does not work in Raspbian, right?

I am currently interested in pure Yocto solution since my distro developments depend on Qt-EGLFS. I am hoping to find a solution in Yocto, and I thought I'd give this a shot. I will let you know if it helps.

[2019-08-08 07:29] peel70 commented on #453
Hi @mozcelikors,
yes I confirm its working on Raspbian, there is a problem on QtMultimedia with gstreamer with the video acceleration (like the previous RPI3,2,1,0)
I hoping that this will be fixed.

[2019-08-08 11:34] agherzan commented on #453
I tried to compare it against rpi3 with kmscube:

[code]
It takes the wrong renderer on rpi4.

[2019-08-08 12:36] agherzan commented on #453
I think the core of the issue (or at least part of it) is that mesa doesn't have the right driver enabled (v3d).

[2019-08-08 13:24] gitgonewithwind commented on #467
I changed  VC4DTBO ?= "vc4-fkms-v3d" to VC4DTBO ?= "vc4-kms-v3d" in conf/machine/raspberrypi4.conf.  error is still there. it's similar to #453

[  297.602249] i2c-bcm2835 fe805000.i2c: i2c transfer timed out
[  298.642262] i2c-bcm2835 fe805000.i2c: i2c transfer timed out
[  299.682255] i2c-bcm2835 fe805000.i2c: i2c transfer timed out
[  300.722254] i2c-bcm2835 fe805000.i2c: i2c transfer timed out

[2019-08-08 13:27] agherzan commented on #467
Don't use `vc4-kms-v3d` on rpi4. It will not work (at least for now).

[2019-08-08 13:33] gitgonewithwind commented on #467
thanks.
but anybody found solution?

[2019-08-08 13:35] agherzan commented on #467
Not yet. I wasn't able to run even `kmscube`.

[2019-08-08 13:40] gitgonewithwind commented on #467
Thank your reply so soon.
one more question: this upstream is the official  source code for raspberry pi, is it? I think so, but now     I am confused. I mean if there is no solution, It's hard for me to find it.
I look forward to your reply very soon.
Thank you.

[2019-08-08 13:42] agherzan commented on #467
In not official as in maintained by the foundation but it is the main upstream one (if not the only).

[2019-08-08 13:43] bvarner commented on #422
I don't know -- I don't have a 3B+ to test with. I'm assuming you (or someone else here) does and that the 64 bit build works there, too.

It's only on the `-64` machine that this issue shows up, and only when I enable `vc4graphics`.

[2019-08-08 13:49] gitgonewithwind commented on #467
Thank you very much for your reply so soon.
so there is no solution in the world up to now.
I keep going to find it. anyway, it's hard to me. I almost have spent more than two weeks.
do you have any idea about what cause the issue as you guess? thanks.

[2019-08-08 13:52] sashko commented on #460
Same issue on `Warrior`.

[2019-08-08 13:53] peel70 commented on #453
Hi @agherzan ,
this is the output of the Raspian Burster

pi@raspberrypi:~/kmscube $ ./kmscube
Using display 0x1ef1710 with EGL version 1.4
===================================
EGL information:
  version: "1.4"
  vendor: "Mesa Project"
  client extensions: "EGL_EXT_device_base EGL_EXT_device_enumeration EGL_EXT_device_query EGL_EXT_platform_base EGL_KHR_client_get_all_proc_addresses EGL_EXT_client_

[2019-08-08 13:57] gitgonewithwind commented on #453
Thank you. I got it.

[2019-08-08 13:57] agherzan commented on #453
I'm onto something. I'll update soon.

[2019-08-08 13:58] gitgonewithwind commented on #453
good news. I will try it.

[2019-08-08 13:59] peel70 commented on #453
hi @agherzan ,
this is the output from Raspian Burster

[code]

[2019-08-08 14:03] agherzan commented on #453
@peel70 I've done that too. I know that it's picked correctly there.

[2019-08-08 15:05] agherzan commented on #453
@peel70 but do  you get any output on hdmi?

[2019-08-08 15:11] peel70 commented on #453
@agherzan if you mean on Raspian yes and QML is accelerated, if you mean with the master branch of Yocto, yes but not accelerated

[2019-08-08 15:13] agherzan commented on #453
OK. So you are using rpi4 (32b right?). Have you tried kmscube on Yocto?

[2019-08-08 15:14] peel70 commented on #453
right rpi4 32bit. No I've not tried kmscube on Yocto

[2019-08-08 15:21] peel70 commented on #453
@agherzan is not installed on my Yocto's image, I've to rebuild it to try, I've noticed that there is not the /opt/vc folder in the image. Maybe the problem is this?

[2019-08-08 15:27] gitgonewithwind commented on #453
I'm going to try kmscube

[2019-08-08 15:35] gitgonewithwind commented on #467
I used the updated master branch to build  MACHINE = "raspberrypi3" .
 the image does not work in raspberry 3.  no display same as raspberry 4.

but linux-raspberrypi-rt_4.4  works well . I used before.

[2019-08-08 16:01] kraj commented on #467
For now
rpi4 class
`DTBO="vc4-fkms-v3d"`
rpi3 class
`DTBO="vc4-kms-v3d"`

if you do not override thes are defaults too.

[2019-08-08 16:04] kraj commented on #453
@agherzan probably we should disable vc4 graphics for 32bit rpi4 for now.

[2019-08-08 16:08] agherzan commented on #453
@kraj It's really annoying because it works on raspbian. With vc4 fkms. I just miss something which makes mesa select software renderer.

[2019-08-08 16:36] gitgonewithwind commented on #453
in yocto:

raspberrypi4:/home/myuser# export DISPLAY=:0
raspberrypi4:/home/myuser# kmscube
drmModeGetResources failed: Invalid argument
failed to initialize legacy DRM

[2019-08-08 16:40] peel70 commented on #453
@gitgonewithwind with rpi4 and kms you don't need to export DISPLAY it's not working if you export DISPLAY

[2019-08-08 16:40] gitgonewithwind commented on #453
my start up script:
#!/bin/sh

export DISPLAY=:0

xset s off
xset dpms 0 0 0
xset -dpms
..

kernel  boot up output:

....

starting mountd: done
Starting system log daemon...0
Starting kernel log daemon...0
Starting crond: OK
Modifiers specified, but DRI is too old
(II) modeset(0): Initializing kms color map for depth 24, 8 bpc.
The XKEYBOARD keymap compiler (xkbcomp) reports:

Errors from xkbcomp

[2019-08-08 16:41] peel70 commented on #453
@gitgonewithwind  I've build Yocto without X11 like Burster Ligth to have eglfs_kms performance

[2019-08-08 16:48] mozcelikors commented on #453
Let's please focus on the issue at hand. Our purpose is to improve the performance of OpenGL/ES based applications on meta-raspberrypi. @agherzan seems to be close to a solution, that is mesa selecting software renderer on Yocto as opposed to Raspbian, we should stick to it. I think unrelated questions should be asked on different issues to avoid flooding.

[2019-08-08 16:51] gitgonewithwind commented on #467
/etc/X11/Xsession.d# cat 01logo.shbg
#!/bin/sh
/usr/bin/xset s off
/usr/bin/xset dpms 0 0 0
/usr/bin/xset -dpms
/usr/bin/xli -onroot -center -zoom 100 /home/root/logo.png

-----------------------
it can show my copmay's logo at start up, but  slow!
===============
raspberrypi4:/etc/X11/Xsession.d# cat 01logo.shbg
#!/bin/sh
/usr/bin/xset s off
/usr/bin/xset dpms 0 0 0
/usr/bin/xset -dpms
/usr/bin/x

[2019-08-08 16:53] gitgonewithwind commented on #453
I think I need X11 to run chromium. is it right?

[2019-08-08 16:59] gitgonewithwind commented on #453
/usr/bin/xli -onroot -center -zoom 100 /home/root/logo.png
my company log can show. but very slow to show and display. think it's the same issue with yours. I am not sure.

[2019-08-08 17:13] gitgonewithwind commented on #467
my init startup script in /etc/init.d

cat fti-touchscreen.sh
#!/bin/sh

export DISPLAY=:0

xset s off
xset dpms 0 0 0
xset -dpms

pushd /home/myuser
sudo node /home/myuser/node/server.js &
popd

sleep 7
sudo -u myuser chromium --gpu-no-context-lost --enable-gpu-rasterization --start-fullscreen --kiosk --no-first-run --incognito http://localhost:3300/rpi.html > /dev/null 2>&1 &

[2019-08-09 05:48] agherzan commented on #461
Here is a small update. The issue seems to be that mesa doesn't select the right driver and falls back to software renderer in Yocto. On Raspbian, this doesn't happen. Tested with kmscube. RaspberryPi 4 uses Videocore 6 which needs a new mesa driver, v3d. Also, on the kernel side there was another issue where the rpi4-64 didn't enable the v3d driver (the 32bit counterpart does/did). All these are

[2019-08-09 05:49] agherzan commented on #453
Posted an update in https://github.com/agherzan/meta-raspberrypi/issues/461 as I reckon that's the root of these issues. TLDR: Not fixed yet.

[2019-08-09 05:55] aurelian17 commented on #461
@agherzan please specify the wip branch. I will try to give it a try this weekend if possible.

[2019-08-09 11:49] agherzan commented on #461
@aurelian17 That is great. I just pushed the branch as well: https://github.com/agherzan/meta-raspberrypi/tree/ag/rpi4-graphics . Keep us updated.

[2019-08-10 19:24] aurelian17 commented on #461
Can someone please post the output of the following command on RPI3: cat /sys/dev/char/226\:128/device/uevent

[2019-08-10 21:41] mozcelikors opened #469 "wiringPi does not work, as it needs to be updated to 2.52 for RPi4"
As suggested in http://wiringpi.com/wiringpi-updated-to-2-52-for-the-raspberry-pi-4b/, Raspberry Pi 4 is supported in 2.52 version of wiringPi (Raspberry Pi 4 is not supported in other versions). I think this should be updated on meta-raspberrypi as well. Furthermore, gpio tool gives segmentation fault, possibly there needs to be upgrades there as well.

[2019-08-11 06:57] kraj commented on #461
@aurelian17
[code]

[2019-08-12 11:03] peel70 commented on #461
@aurelian17 hello,
today I've build both 32 and 64 bit image for RPI4 with the new branch poster by @agherzan but the output of the kmscube is this:

[code]
In both the  images there's not the opt/vc fodfer, I think is important for che management of the VideoCore.
Maybe is may mistake in the local.conf?

Regards
Enrico

[2019-08-12 14:08] gitgonewithwind commented on #461
but for me, the output is same as before(MACHINE = "raspberrypi4"
):

raspberrypi4:/etc/X11/Xsession.d# kmscube
drmModeGetResources failed: Invalid argument
failed to initialize legacy DRM

[2019-08-12 15:02] gitgonewithwind commented on #461
in branch ag/rpi4-graphics

raspberrypi4:/home/myuser# cat /sys/dev/char/226\:0/device/uevent
DRIVER=v3d
OF_NAME=v3d
OF_FULLNAME=/v3dbus/v3d@7ec04000
OF_COMPATIBLE_0=brcm,2711-v3d
OF_COMPATIBLE_N=1
MODALIAS=of:Nv3dT<NULL>Cbrcm,2711-v3d

[2019-08-12 22:44] vrziny commented on #461
@agherzan, @psivasubramanian, @gitgonewithwind
I found some clues in Mesa after digging into it. Mesa seems to introduce KMSRO since 19.0 for better infrastructure.
In short, add v3d and kmsro to bbappend file like a line below if you use Mesa 19.x.
GALLIUMDRIVERS_append_rpi = ",vc4,v3d,kmsro"
kmscube and weston work very well now.

[2019-08-12 23:40] kraj commented on #461
This is a common driver, it should be applied to main recipe in oe-core, and infact vc4 as well should move there, we should only apply v3d here

[2019-08-13 00:15] vrziny commented on #461
@kraj I totally agree with your opinion. This is just one of several ways to enable h/w acceleration for 3d application like kmscube. It should be applied to their recipe. I hope it can help who struggle with it at this time.

[2019-08-13 08:07] peel70 commented on #461
Hi @vrziny,
I've modified bbappend as you and rebuild image raspberrypi4-64 (no X11 or weston) and the problem is not fixed, kmscube don't work.
Maybe something wrong in my configuration?

Raspbian Buster ligth (no X11) works good

[2019-08-13 09:30] vrziny commented on #461
Hi @peel70,
Your error log comes from failure of drmModeSetCrtc. Have you run modetest? You should compare the result of modetest and dmesg with raspbian. Actually I'm not using YoE, but it's based on yocto project(32 bit).

[2019-08-13 15:03] peel70 commented on #461
hi @vrziny,
I'm using yocto too, I've checked on 64bit and is not working, with 32bit its working now.
I think there are other changes to do.
I'm using Qt5.12.3 and try a test app; it's accelerated, but Qt only see 1 Screen, but tvservice show both. With the original raspbian burster light and this Qt's guide https://doc.qt.io/qt-5/embedded-linux.html I was able to use both hdmi with different QML

[2019-08-13 16:47] gitgonewithwind commented on #461
hi @peel70 @vrziny
I modified the file as GALLIUMDRIVERS_append_rpi = ",vc4,v3d,kmsro" .    in yocto  branch ag/rpi4-graphics
when starting up, my company logo display is faster than before as normal. but the x11 chromium still does not display. my issue is #467.   so you patch is useful  at somewhere for @vrziny and for my logo display. thanks

but:

raspberrypi4:/home/myuser# kmscube
drmModeGetR

[2019-08-13 19:19] proffalken opened #473 "WiringPi has been deprecated"
**Description**

WiringPi has been deprecated by it's author: http://wiringpi.com/wiringpi-deprecated/

As reported in https://github.com/brocaar/lora-gateway-os/issues/18, git.drogon.com no longer presents a git server, instead it just presents an error.

This means that when you come to build an image that relies on Wiring Pi to be installed (such as the LoRa-Gateway-OS repo) then it fails at ht

[2019-08-13 19:34] vrziny commented on #461
@gitgonewithwind,
Have you try "kmscube -D /dev/dri/card1"?

[2019-08-13 19:40] peel70 commented on #461
Hi @vrziny,
this is my output of the above command:
[code]

It seems to work on card0 and not on card1
I'm not at office at the moment and I cannot make other tests

[2019-08-13 19:46] gitgonewithwind commented on #461
@peel70

raspberrypi4:/home/myuser# kmscube
drmModeGetResources failed: Invalid argument
failed to initialize legacy DRM
raspberrypi4:/home/myuser# kmscube -D /dev/dri/card1
Using display 0x1521a90 with EGL version 1.4
===================================
EGL information:
  version: "1.4"
  vendor: "Mesa Project"
  client extensions: "EGL_EXT_client_extensions EGL_EXT_device_base EGL_EXT_dev"
  dis

[2019-08-13 19:47] gitgonewithwind commented on #461
@peel70

raspberrypi4:/home/myuser# kmscube
drmModeGetResources failed: Invalid argument
failed to initialize legacy DRM
raspberrypi4:/home/myuser# kmscube -D /dev/dri/card1
Using display 0x1521a90 with EGL version 1.4
===================================
EGL information:
  version: "1.4"
  vendor: "Mesa Project"
  client extensions: "EGL_EXT_client_extensions EGL_EXT_device_base EGL_EXT_dev"
  dis

[2019-08-13 19:49] gitgonewithwind commented on #461
@peel70

### raspberrypi4:/home/myuser# kmscube
drmModeGetResources failed: Invalid argument
failed to initialize legacy DRM
raspberrypi4:/home/myuser# kmscube -D /dev/dri/card1
Using display 0x1521a90 with EGL version 1.4
===================================
EGL information:
  version: "1.4"
  vendor: "Mesa Project"
  client extensions: "EGL_EXT_client_extensions EGL_EXT_device_base EGL_EXT_dev"

[2019-08-13 19:54] gitgonewithwind commented on #461
@peel70

raspberrypi4:/home/myuser# sudo kmscube
drmModeGetResources failed: Invalid argument
failed to initialize legacy DRM
raspberrypi4:/home/myuser# sudo kmscube -D /dev/dri/card0
drmModeGetResources failed: Invalid argument
failed to initialize legacy DRM
raspberrypi4:/home/myuser# sudo kmscube -D /dev/dri/card1
Using display 0x1c590a0 with EGL version 1.4
===================================

[2019-08-13 19:57] peel70 commented on #461
@gitgonewithwind
don't know, I've rebuild the image with @vrziny suggestions and something is working.
Have you try with root user (I see this difference from me)?
I've read that the user must be in the "**render**" group and root is all enabled by default

[2019-08-13 20:01] gitgonewithwind commented on #461
@peel70
sorry, I used bitbake core-image-x11 to build the image.
I changed to HDMI2 port  to show as my post before. I think my output is same as your.
let me roll back

[2019-08-13 20:07] gitgonewithwind commented on #461
@peel70
I think you QT display issue is same as my logo display issue. now I use the patch  GALLIUMDRIVERS_append_rpi = ",vc4,v3d,kmsro"  . my logo display is correct! for me It fixed!

but x11 chromioun no display. it's another issue.

[2019-08-13 20:12] gitgonewithwind commented on #461
@peel70

pberrypi4:/home/myuser# kmscube -D /dev/dri/card1
Using display 0x2d9a90 with EGL version 1.4
===================================
EGL information:
  version: "1.4"
  vendor: "Mesa Project"
  client extensions: "EGL_EXT_client_extensions EGL_EXT_device_base EGL_EXT_dev"
  display extensions: "EGL_EXT_buffer_age EGL_EXT_image_dma_buf_import EGL_EXT_"
===================================
Open

[2019-08-13 20:33] peel70 commented on #461
@gitgonewithwind the suggestion worked for me and for my qt test app.
But the secondary HDMI is not working ( and when configure a json file to qt for the second display management, cause a crash of the application.
We are not in the correct post because we are not speaking about YoE but I think the problems are the same.
Maybe something wrong in you local.conf?
I've removed X11 and wayland from d

[2019-08-13 20:41] gitgonewithwind commented on #461
@peel70
I need run chromium, so I think I need x11. tomorrow I will try your local.conf ( remove X11 and wayland from distro features and added opengl). now it's time to go home.
see you.
the suggestion is useful for my logo display. but chromium no display which is another issue.

[2019-08-13 20:58] peel70 commented on #461
@gitgonewithwind, with my suggestion you are not able to run chromium

[2019-08-14 10:34] Supriyaj29 opened #474 "rpm-basic-image build with 'rt' kernel fails"
**Description**

I am trying to build custom image for raspberrypi-cm3. I have setup yocto environment using worrier branch.

I am overriding following variables in local.conf:
MACHINE ?= "raspberrypi-cm3"
RPI_USE_U_BOOT = "1"
IMAGE_INSTALL_append = " kernel-image kernel-devicetree"
IMAGE_FSTYPES_remove += " rpi-sdimg"
IMAGE_FSTYPES = "ext4"
KERNEL_BOOTCMD = "bootz"
KERNEL_IMGTYPE = "zImage"
PREFE

[2019-08-14 11:52] agherzan commented on #461
@vrziny Very good catch with `kmsro`. I'll give it a try tomorrow.

[2019-08-14 12:28] gitgonewithwind commented on #461
Thanks @peel70  I got it.

[2019-08-14 12:30] agherzan commented on #474
This should be fixed by https://github.com/agherzan/meta-raspberrypi/pull/457

[2019-08-14 13:05] agherzan commented on #473
That is news to me @proffalken . I think we should go ahead and remove the recipe.

[2019-08-14 13:46] brocaar commented on #473
@agherzan I'm not sure if (directly) removing the recipe would be the right approach. I understand that the author is not going to continue the development (see http://wiringpi.com/wiringpi-deprecated/), but it doesn't mean that we are not able to use the already released versions.

https://git.drogon.net/ currently returns:

It does say it is temporarily unavailable, not permanently. Hopefully it

[2019-08-14 14:17] agherzan commented on #473
I read it as a permanent removal.

[2019-08-14 14:41] proffalken commented on #473
@agherzan yeah, have to agree with you here, I think the removal of the git repo is potentially temporary, but I get the feeling from that blog post that halting future development is more permanent than we might hope. :(

[2019-08-14 14:43] proffalken commented on #473
FWIW, I do think that removing it immediately might be a bit premature, perhaps keep an eye on the situation and see how it develops.

@brocaar the only thing I've not been able to figure out so far is whether it will affect the ability of lora-gateway-os to interact with some of the boards.

I'm pretty sure things like the IC880A run via SPI, but I can't tell whether your code is reliant on the u

[2019-08-14 14:47] agherzan commented on #473
Let's make it at least RPI123 only compatible.

[2019-08-14 16:31] kraj commented on #473
blacklist it. Add some like below to the recipe
[code]

[2019-08-15 11:41] aurelian17 commented on #461
GALLIUMDRIVERS_append_rpi = ",vc4,v3d,kmsro" does the trick for the 32bit version. But the 64bit still doesn't work.
And I think that for 32bit is working because of some userland parts that were added to the build.

[2019-08-15 13:02] agherzan commented on #461
kmscube works with both 32 and 64bit machines with https://github.com/agherzan/meta-raspberrypi/pull/476. @kraj I would hardcode `kmsro` for now so I can backport the patch easily on warrior as well. As soon as the change lands in poky we change.

[2019-08-15 15:33] peel70 commented on #453
Hi @agherzan
I want to summarize my tests:

1) Raspbian Buster Light + Qt 5.12.4 Cross Compiled
- kmscube works
- Qt see two QScreen and I'm able to mirror or put different contents on the two screens at the same time on **/dev/dri/card1**

2) Bitbake Yocto Master branch, meta-raspberrypi vc4 branch + @kraj hardcoded options Qt 5.12.3

-  64 bit image kmscube not working (maybe my mistake in the b

[2019-08-15 15:36] agherzan commented on #453
@peel70 https://github.com/agherzan/meta-raspberrypi/pull/476/files should make this work.

[2019-08-15 15:41] peel70 commented on #453
@agherzan I will try in this days and give you a feedback.

[2019-08-15 15:57] gitgonewithwind commented on #453
@agherzan
the testing result for your update ag/rpi4-graphics branch is same as yesterday:

pberrypi4:/home/myuser# kmscube -D /dev/dri/card1
Using display 0x2d9a90 with EGL version 1.4

EGL information:
version: "1.4"
vendor: "Mesa Project"
client extensions: "EGL_EXT_client_extensions EGL_EXT_device_base EGL_EXT_dev"
display extensions: "EGL_EXT_buffer_age EGL_EXT_image_dma_buf_import EGL_EXT_"

[2019-08-15 15:58] agherzan commented on #453
@gitgonewithwind what user are you running that command as?

[2019-08-15 15:59] gitgonewithwind commented on #453
@agherzan
root

[2019-08-15 16:15] agherzan commented on #453
I have not tried chromium but I can say that kmscube and qt5 demos work as expected.

[2019-08-15 16:17] gitgonewithwind commented on #453
so you mean chromium should work well? I am compiling the chromium-x11... in bitbake core-image-x11 and default local.conf ...

[2019-08-15 16:18] agherzan commented on #453
chromium is on top of X which I haven't tried. I only worked over eglfs.

[2019-08-15 16:19] gitgonewithwind commented on #453
can you try later? I have spent more than 3 weeks, I worry about my manager is not happy. thanks

[2019-08-15 16:22] agherzan commented on #453
Sadly I can't because I don't have the time for it.

[2019-08-15 16:25] agherzan commented on #469
@mozcelikors Good shout. Are you able to test and put up a patch for this?

[2019-08-15 16:26] agherzan commented on #469
Also, see https://github.com/agherzan/meta-raspberrypi/issues/473

[2019-08-15 17:00] gitgonewithwind commented on #453
No problem. I mean It should  work well up to now? I am going to try.

[2019-08-15 17:05] agherzan commented on #453
@gitgonewithwind I don't see why it wouldn't work right now. Give it a spin bun please start with a minimum configuration leaving as much as possible default. For example `VC4DTBO`. All you you should need is to IMAGE_INSTALL_append, MACHINE and maybe DL_DIR and related. Start from this trying to run a mesa demo over x11 (glxgears). Afterwards, if it works, you can move on.

Also, please keep the

[2019-08-15 17:07] mozcelikors commented on #469
@agherzan Hi, a patch to the existent recipe, or modifying the existing recipe to 2.54? Since git repo is also going to be deprecated, I'm not so sure how to write recipe for .deb package, maybe if there is a tar somewhere we can use it I think. If you can give me a bit more detail what might be the best for approach for meta-raspberrypi, I can see what I can do.

[2019-08-15 17:09] gitgonewithwind commented on #453
@agherzan
thank you so much for your suggestions. I will do it.

[2019-08-15 17:13] agherzan commented on #469
That's why I pointed you to the deprecation issue too. I think we should just blacklist it for now. Hoping that someone will pick up the maintenance.

[2019-08-15 18:51] agherzan commented on #467
@Sakaki I know you run X on rpi4-64 in gentoo. Have you ever seen `Draw call returned Invalid argument.  Expect corruption.` when starting X?

[2019-08-15 18:53] agherzan commented on #467
@sakaki- I know you run X on rpi4-64 in gentoo. Have you ever seen `Draw call returned Invalid argument.  Expect corruption.` when starting X?

[2019-08-16 08:15] vrziny commented on #461
@agherzan That's a good step forward. I'm glad it helped.

[2019-08-16 11:58] agherzan commented on #467
@gitgonewithwind In order to make you happy I tested X as well. If you build master `meta-rasperrypi` + master `poky` you will be able to run X and accelerated demos (like `glxgears`). **There is a bug in warrior** where this doesn't work (as of yet).

Here is a demo `local.conf` with which I built a `core-image-basic`:

[code]

Here is a sample log of running `glxgears`:

[code]

I'm also closing

[2019-08-16 11:58] agherzan commented on #461
Fixed by https://github.com/agherzan/meta-raspberrypi/pull/476

[2019-08-16 11:58] #461 closed

[2019-08-16 11:59] agherzan commented on #453
This should be fixed now. See: https://github.com/agherzan/meta-raspberrypi/pull/476

[2019-08-16 11:59] #453 closed

[2019-08-16 12:18] sakaki- commented on #467
Not that I recall.

[2019-08-16 12:19] gitgonewithwind commented on #467
@agherzan @sakaki-
thank you so much. I am going to test.

[2019-08-16 15:32] gitgonewithwind commented on #467
@agherzan

root@raspberrypi4:~# DISPLAY=:0 glxgears
Error: couldn't open display :0
root@raspberrypi4:~# kmscube
drmModeGetResources failed: Invalid argument
failed to initialize legacy DRM
root@raspberrypi4:~# kmscube -D /dev/dri/card0
drmModeGetResources failed: Invalid argument
failed to initialize legacy DRM
root@raspberrypi4:~# kmscube -D /dev/dri/card1
Using display 0xe0bb70 with EGL version

[2019-08-16 15:34] agherzan commented on #467
@gitgonewithwind Have you started X first?

[2019-08-16 15:35] gitgonewithwind commented on #467
@agherzan
sorry ,how to start x?  I do not know before

[2019-08-16 15:36] agherzan commented on #467
There are many ways - please search online. But for the sake of this test just run `X &` and afterwards the `glxgears` app.

[2019-08-16 15:41] gitgonewithwind commented on #467
@agherzan
Thank you so much. works well!
I am going to add my company apps.
Thanks again. have a good weekend!

[2019-08-16 20:07] fgiancane8 commented on #474
@agherzan ,

actually it is not fixed, I just updated the standard kernel and not the -rt one. It happens that the -rt version is maintained as a separate branch with different point release, so we either have to back port again the patch on 4.14-rt series or include in SRC_URI the patch I posted before.

[2019-08-17 10:00] agherzan commented on #474
Right. Missed the fact that this was on a rt branch. The easiest way would be to work with upstream on this. But I'm not sure if they maintain the 4.14 branch anymore. What about the 4.19 one? We should update if we haven't don't already.

[2019-08-18 09:33] agherzan opened #479 "Broken graphics on poky provided mesa version in warrior"
**Description**

When building a image for RaspberryPi (tested on 4) on warrior, HDMI shows no output.

**Steps to reproduce the issue:**
1. checkout warrior meta-raspberrypi and poky
2. build a image that includes for example kmscube
3. run kmscube

**Describe the results you received:**
[code]

App works but there is no HDMI output.

**Additional information you deem important (e.g. issue happen

[2019-08-18 09:34] fgiancane8 commented on #474
There is a 4.19.y-rt branch on raspberrypi/linux repository, and it seems to have RT_PATCH included and currently maintained.

However, in my opinion, I would not remove the 4.14 series. I am experiencing issues with 4.19 series especially with the MIPI DSI official display which is working correctly on 4.14 and not on 4.19 (no way of making it work so far, tested like 3 weeks ago).

My suggestion

[2019-08-18 10:24] agherzan commented on #474
We have now a 4.19 rt recipe: https://github.com/agherzan/meta-raspberrypi/pull/478 . And about the 4.14 I agree to backport the dt rename fix.

[2019-08-19 12:16] fgiancane8 commented on #474
PR sent to raspberrypi/linux also for 4.14.y-rt series. In the meantime, please find attached the patch here.

[2019-08-19 12:17] fgiancane8 commented on #474
[0001-Backport-BCM270X_DT-Rename-Pi-Zero-W-DT-files.patch.zip](https://github.com/agherzan/meta-raspberrypi/files/3515828/0001-Backport-BCM270X_DT-Rename-Pi-Zero-W-DT-files.patch.zip)

[2019-08-19 18:22] mozcelikors opened #481 "GStreamer-based QML Video does not work on EGLFS on Pi 4, but works on Pi 3"
I am interested in developing/porting apps to Pi, and now switching to Pi 4. I am unable to run Qt's official example video player, I suspect there is still driver anomalities with meta-raspberrypi, regarding graphical infrastructure, when it comes to Pi 4.

**How to reproduce:**
_Build image with:_
[code]
_From Pi,_
[code]
_Checked configuration:_

meta-raspberrypi master HEAD @ b112816e95ec59447

[2019-08-19 18:33] agherzan commented on #481
What is your full `local.conf`? Also, is this 32 or 64bit?

[2019-08-19 18:35] mozcelikors commented on #481
This is 32 bit.  Here are my `local.conf` additions:
[code]

[2019-08-19 18:37] agherzan commented on #481
What is your distro?

[2019-08-19 19:06] gitgonewithwind commented on #467
@agherzan
sorry, chromium still can not work!
DISPLAY=:0 glxgears  works well,  my local.conf,core-image-full-cmdline, 32bit

my nodjs code works well. I can access http://localhost:3300/rpi.html from my host machines. so the error is not from my the other code (nodejs webserver)
but I run chromium,Segmentation fault, no display on touchscreen.
I am trying to find the reasons.

******
DISPLAY=:0 s

[2019-08-19 19:15] mozcelikors commented on #481
Hi, My distro is poky

[2019-08-20 12:56] gitgonewithwind commented on #481
@agherzan
my chromium still does not work! please look at #467 thanks. I try to figure out.

[2019-08-20 13:37] agherzan commented on #481
@gitgonewithwind I kindly ask you to stop hijacking random threads. As you can see this is another issue. If you haven't received feedback yet, it is most probably because it's not something people are working on right now and there is not an obvious solution to your problem. So please be patient and in the meanwhile try to dig into the problem as much as you can.

[2019-08-20 13:38] agherzan commented on #481
@aurelian17 @kraj Might know more about Gst and QML. I haven't tried anything in that regards.

[2019-08-20 13:48] gitgonewithwind commented on #467
@agherzan
I got it. I mean I do not want  to close this issue. if closed, maybe nobody care it. thank you so much.

[2019-08-20 13:48] agherzan commented on #467
That makes sense. I'll reopen it.

[2019-08-20 13:55] xuhcc commented on #467
@gitgonewithwind

Try to run chromium with `--disable-gpu` flag. I had similar issue with QtWebEngine on RPi and disabling GPU acceleration solved it.

[2019-08-20 14:12] gitgonewithwind commented on #467
@xuhcc

not work with --disable-gpu. thanks

I simply run : sudo -u myuser chromium     in my old source code in pi3, works well.
but in current pi4 still  it's  Segmentation fault. I am going to add components  one by one in local.conf to try.

raspberrypi4:/home/myuser# sudo -u myuser chromium
Segmentation fault

[2019-08-20 14:39] gitgonewithwind commented on #467
strace sudo -u myuser chromium

output:
...
wait4(8848, [{WIFSIGNALED(s) && WTERMSIG(s) == SIGSEGV}], WNOHANG|WSTOPPED, NULL) = 8848
rt_sigaction(SIGHUP, {sa_handler=0x1ee69, sa_mask=~[KILL STOP RTMIN RT_1], sa_flags=SA_RESTORER|SA_RESTART, sa_restorer=0xb6dcad51}, NULL, 8) = 0
rt_sigaction(SIGINT, {sa_handler=0x1ee69, sa_mask=~[KILL STOP RTMIN RT_1], sa_flags=SA_RESTORER|SA_RESTART, sa_restorer=0

[2019-08-20 16:15] gitgonewithwind commented on #467
my chromium version:  chromium-x11-76.0.3809.100
I open a issue at meta-browser too: https://github.com/OSSystems/meta-browser/issues/299
maybe the issue is from chromium itself.
I am going to add the old version to test.

[2019-08-20 16:32] aurelian17 commented on #481
I'll take a look over it. It will help me a lot having exactly the same configuration as yours. So please share local.conf and bblayers.conf.

[2019-08-20 16:47] mozcelikors commented on #481
@aurelian17 Hi, thanks. I will do best I can. Let me know if you might need anything else.

meta-raspberrypi master HEAD @ b112816
poky master HEAD @ 5f0d31ce4653f7a76a5226fa379a285ceca19d63

local.conf

[code]

bblayers.conf

[code]

Core Image components from recipes

[code]

[2019-08-20 20:41] gitgonewithwind commented on #467
I use following local.conf for pi4 64bit  to generate the image.  it works well to run sudo -u myuser chromium.
but 32bit can not work!
I am going to add more my apps and test more

local.conf

 1 MACHINE ?= "raspberrypi4-64"
  2 DL_DIR = "/opt/Downloads"
  3 #SSTATE_DIR = "/work/yocto/shared-sstate"
  4 GPU_MEM = "256"
  5 ENABLE_UART = "1"
  6 RPI_USE_U_BOOT = "1"
  7 LICENSE_FLAGS_WHITELIST = "

[2019-08-22 13:29] #474 closed

[2019-08-22 17:26] gitgonewithwind commented on #467
pi4 64bit core-image-base  works well.
but 32bit not work!

[2019-08-23 20:04] thesillywhat opened #483 "Boot to U-Boot not working on CM3- warrior"
**Description**
Raspberrypi-Cm3 wont boot up after adding RPI_USE_U_BOOT = "1"

I added the variable RPI_USE_U_BOOT = "1" and After that the device just never boots up.
I see nothing on the screen

**Steps to reproduce the issue:**
1. Added RPI_USE_U_BOOT = "1" to local.conf

**Describe the results you received:**
Blank screen

**Describe the results you expected:**
Boot screen and then boot to th

[2019-08-23 20:05] thesillywhat commented on #483
Added local.conf
[local__conf.txt](https://github.com/agherzan/meta-raspberrypi/files/3536034/local__conf.txt)

[2019-08-23 20:39] thesillywhat commented on #483
Just an update. I Just added IMAGE_INSTALLS_append = "u-boot"
Now the screen turns on I am able to SSH into it. But somehow the colors on my splash image are completely wrong and terminal screen instead of showing a black color it is showing yellow color
Attached Image

![IMG_5946](https://user-images.githubusercontent.com/53226144/63622351-7f35b980-c5c4-11e9-97e8-de7d474ed924.jpg)

[2019-08-25 11:29] mozcelikors commented on #481
@aurelian17 Any good news yet ?

[2019-08-25 19:57] xuhcc commented on #481
@mozcelikors Does standalone gstreamer work for you on RPi4? I'm trying to play video with `gst-play-1.0`, it is starting without errors but video is not showing.

[2019-08-25 21:18] peel70 commented on #481
Hi @mozcelikors  @agherzan @aurelian17 I've the same issue as you but I've configured a qmultimedia_git.bbappend with
PACKAGECONFIG_append = " gstreamer"
because QMultimedia must be compiled with gstreamer flag.

in the plugin-bad of gstreamer I've also included PACKAGECONFIG_append = " faad faac kms"

In gstreamer I've also addedd gstreamer1.0-omx because, is the only that is able tu use the VC f

[2019-08-26 17:57] mozcelikors commented on #481
@xuhcc In my experience, I get no video as well, stuck at Prerolling...

gst-play-1.0 mymovie.mp4
Press 'k' to see a list of keyboard shortcuts.
Now playing /run/media/sdb1/mymovie.mp4
Prerolling...

Note that I need to run it under EGLFS. X11 doesn't cut it for me. So I also tried ! eglfsink and ! kmssink. Same behavior.

[2019-08-26 19:18] xuhcc commented on #481
@mozcelikors

I had the same issue with preroll (also without X11). Today I managed to get it working by constructing the pipeline manually:

[code]

1080p video is playing fine now, but 4K is super slow.

That's my `gstreamer1.0-plugins-bad_1.16.0.bbappend` (thanks @peel70):

[code]

[2019-08-26 19:24] peel70 commented on #481
@xuhcc nice to hear this, have you check the CPU load during the video play?

[2019-08-26 20:10] xuhcc commented on #481
@peel70 Yes, indeed the CPU load is high. When I play the same video with omxplayer, the CPU load is insignificant.

[2019-08-26 20:39] peel70 commented on #481
@xuhcc as I suspected gstreamer is using sw decoding and not hw decoding.
RPI4 has h265 builtin decoding.
With KODI I was able to play 4k H265 with low CPU load with RPI4.
To be sure about gstreamer chain, read this guide https://embeddedartistry.com/blog/2018/2/22/generating-gstreamer-pipeline-graphs and configure GST_DEBUG_DUMP_DOT_DIR so you are able to see a graphically gstreamer chain.

I thi

[2019-08-27 18:45] gitgonewithwind opened #484 "raspberry pi4-64bit can not display logo at boot up"
raspberry pi4-64bit can not display logo at boot up

pi4-32bit can show a few  small raspberries and rainbow colour at boot up  and after I change file drivers/video/logo/logo_linux_clut224.ppm  it can show my company logo.

but pi4-64bit no samll raspberries display ,only rainbow colour , and no my company logo after  drivers/video/logo/logo_linux_clut224.ppm replaced by my logo.

[2019-08-29 14:08] mozcelikors commented on #481
Neither from QML application, nor from entering gst-play-1.0 can I play a .mp4 video at the moment.
I've added to bad plugins:
PACKAGECONFIG_remove = "vulkan"
PACKAGECONFIG_append = " faad faac kms "

and to the image:
IMAGE_INSTALL_append = " gstreamer1.0-omx "
IMAGE_INSTALL_append = " libde265 "

I play with:
GST_DEBUG_DUMP_DOT_DIR=/home/root gst-launch-1.0 -v filesrc location=mymovie.mp4  ! mat

[2019-08-29 14:24] peel70 commented on #481
@mozcelikors I've used master branch instead of warrior to build rpi4 image without X11 with Qt5.12.3 and a QML application works fine and accelerated read this
https://doc.qt.io/qt-5/embedded-linux.html
you have to launch application with -platform eglfs but it use eglfs_kms instead of eglfs_brcm (like before warrior and pi3)
Use setenv in main.cpp and enable debug rules
setenv("QT_LOGGING_RULES"

[2019-08-29 14:32] mozcelikors commented on #481
@peel70 A QML Application works fine, but does qmlvideo example work in your case? (check the issue topic)
QML application also works fine with me, I also run with -platform eglfs, Everything works fine, except that QML-based video doesn't show up. (Qt internally uses GStreamer)
I will check your pipeline

[2019-08-29 16:07] peel70 commented on #481
@mozcelikors
I've QML video work with Qmultimedia MediaPlayer and VideoOut but fps are poor
gstreamer is working too
have you tried with gst-play-1.0 too?

[2019-08-29 18:07] mozcelikors commented on #481
@peel70 Interesting. gst-play-1.0 also gives nothing. Maybe my master branches are a bit outdated and I need to pull the latest. I will give it a go with the very latest.

[2019-08-29 18:54] peel70 commented on #481
@mozcelikors let me take some time to check on my build

[2019-08-29 18:54] mozcelikors commented on #481
@peel70 Sure, thanks for the help

[2019-08-30 00:18] peel70 commented on #481
@mozcelikors sorry my mistake
I've tried
gst-launch-1.0 videotestsrc ! kmssink
and its working

I've played mkv files and not mp4 because I wanted to try the h265 built-in decoder but it works at 3/4 fps QMediaplayer is able to play mkv but with the same performance

I was able ti play mp4 with this command but is a sw render (I've installed gstreamer-1.0-libav):
`gst-launch-1.0 -e -vvv filesrc lo

[2019-09-01 20:16] mozcelikors commented on #481
gst-launch-1.0 videotestsrc ! kmssink works.
But playing through /usr/share/examples/multimedia/qmlvideo still does not work for me.
I've built everything fresh, with the latest git repos.

[2019-09-02 06:33] peel70 commented on #481
Hi I’m out for 1 week,
Before qmlvideo try what work for me.
If you have compiled qmultimedia with gstreamer flag, what works on gst works on qmultimedia. From qt 5.11.4 if I’m not wrong it’s possibile to specify gst pipeline in qmediaplayer too in the source property

[2019-09-02 06:40] mozcelikors commented on #481
@peel70 Hi,
I compiled qmultimedia with gstreamer everytime, When I use everything master, it uses 5.13.0.
Could you please specify which HEADs you used and which branch for,
poky
meta-openembedded
meta-raspberrypi
meta-qt5
meta-qt5-extra
Thanks. I will try other commands when I get home.

[2019-09-02 07:20] peel70 commented on #481
If I remember well 5.12.3
Can you try a little qtquick app and enable qtdebug and watch what happening when playing video?
Try mp4 mov and mkv

[2019-09-02 07:22] peel70 commented on #481
setenv("QT_LOGGING_RULES", "*=true")

[2019-09-02 15:04] mozcelikors commented on #481
I enabled logs when I used qmlvideo example:
[code]

[2019-09-02 15:15] peel70 commented on #481
I don’t see anything about multimedia
Could you try with
export QT_LOGGING_RULES=qt.multimedia.*=true

Have you try gstreamer with .mov like me and this example too?

[2019-09-02 15:57] mozcelikors commented on #481
@peel70 I've tried .mp4
[code]
qt.multimedia.video: media object is QMediaPlayer(0xe041c0)
qt.multimedia.video: found videonode plugin "egl" 0xfc60f8
qt.multimedia.video: updatePaintNode: no frames yet
qt.multimedia.video: Video surface format: QVideoSurfaceFormat(Format_YUV420P, QSize(480, 272), viewport=QRect(0,0 480x272), pixelAspectRatio=QSize(1, 1), handleType=NoHandle, yCbCrColorSpace=YCbCr_

[2019-09-02 16:00] mozcelikors commented on #481
Update: gst-launch-1.0 -e -vvv filesrc location="/run/media/sda1/mymovie.mp4" ! qtdemux ! h264parse ! avdec_h264 ! kmssink works.
But qmlvideo does not.

[2019-09-02 16:02] peel70 commented on #481
Ok try with a .mkv file

[2019-09-02 16:03] peel70 commented on #481
Try .mov with gstreamer like me too

[2019-09-03 17:14] mozcelikors commented on #481
@peel70 Playing .mov using gst-launch-1.0 -e -vvv filesrc location=big_buck_bunny_720p_h264.mov ! qtdemux ! queue ! h264parse ! v4l2h264dec capture-io-mode=4 ! kmssink does not work for me.
But again, I'm interested in playing .mp4 files using qmlvideo. You said you were able to do it. Do you use raspberrypi4 (32-bit) ? Could you share with me your local.conf, and which HEADs and branches you use

[2019-09-03 18:17] stevep-korg commented on #400
My organization has what seems to be the same problem using uart1 on a CM3/CM3+.  We only have observed the problem since we switched over to testing 4.19.66.  The 4.14.112 code we were previously using does not exhibit the problem.

@s-maynard Thanks for posting what may be a possible workaround.  What is the meaning of the d600 in the name of your overlay file; does it hav some specific meaning

[2019-09-03 18:53] stevep-korg commented on #400
By the way, the following entried in config.txt were sufficient in 4.14.112 kernels running on CM3/CM3+ for allowing use of both uart0 and uart1:

#  Tell Linux to not drive serial Console on GPIO pins 14 & 15
enable_uart=1
#  Disable Bluetooth (frees up UART0 and connects UART0 TXD0 and RXD0 pins to GPIO pins 14 & 15, respectively)
dtoverlay=pi3-disable-bt
# CONFIGURE UART1 FOR LEGACY MIDI USE, c

[2019-09-03 18:59] peel70 commented on #481
No I’m Sorry the only way I was able to play mp4 was with gstreamer and avdec_h264
.mkv works in qml but not accelerated.
I think qmultimedia use  gstreamer like gstplay so to understand the automatic pipeline applyed by qmultimedia is  configure gst_debug_dot_dir and analize the pipeline.
Maybe you need, and I will try next week because I not at home, to remove omx and retry
I also think that .mp

[2019-09-03 19:14] s-maynard commented on #400
apologies - the d600 is a product name for my company; I should have generalized the comment for all to consume...

[2019-09-03 19:17] s-maynard commented on #400
PS. I am still on 4.14.112

[2019-09-03 19:38] stevep-korg commented on #400
@s-maynard Thanks much for the clarification about d600 potential meaning, and also for reporting that you are using 4.14.112.  It seems that my issue of losing the ability to use uart1 in 4.19.66 as compared to 4.14.112 is a different problem than this issue 400, which is just related to having combined acceptable settings for uart1 in the overlays and config.txt, which does seem to be more of a

[2019-09-03 23:58] stevep-korg commented on #400
@DonMorr Were you able to get uart0 and uart1 this to work in 4.19?  (I noticed above your commentscontained "linux-raspberrypi/1_4.19.27+gitAUTOINC+c0e09b3420-r0/").

Can anyone get it to work on 4.19.66? We can not, yet both work beautifully on 4.14.112.

[2019-09-04 06:33] peel70 commented on #481
I’ve found this interesting article about mp4 decode, if I understand well v4l use ffmpeg for hw decoding so we can try install ffmpeg and enable v4l
https://www.raspberrypi.org/forums/viewtopic.php?t=234778

[2019-09-04 06:47] peel70 commented on #481
In my build I’ve installed ffmpeg and maybe is for this that the pipeline with .mov works for me but maybe something have to be done in the ffmpeg configuration to enable h264dec for the v4l; we have to try this too

[2019-09-04 08:26] peel70 commented on #481
This is interesting too https://www.raspberrypi.org/forums/viewtopic.php?t=179670

I think that we need the support of someone expert in hw decoding and how to enable it on rpi

[2019-09-04 08:34] peel70 commented on #481
Obvious question: are your videos H.264/MPEG-4?

[2019-09-04 18:12] mozcelikors commented on #481
@peel70 My videos are H.264, your standard .mp4.
I created a Qt issue, hopefully they can share their thoughts with us: https://bugreports.qt.io/browse/QTBUG-78047

[2019-09-05 06:40] peel70 commented on #481
I want to share my experience:
Some years ago I’ve tried Qt’s Boot2Qt (a payment module of qt for embedded development) to try to build image for rpi3
It’s poky based (https://doc.qt.io/QtForDeviceCreation/qtee-custom-embedded-linux-image.html)
Because is a payment module obviously must be stable and tested so it’s not aligned to the latest poky releases
After I’ve built the image I’ve tried to pl

[2019-09-05 19:37] peel70 commented on #481
I’ve open an issue on v4l to have a double chance to have an answer; I’m watching your qt issue.
See https://bugzilla.kernel.org/show_bug.cgi?id=204781

[2019-09-10 15:31] peel70 commented on #481
@mozcelikors I'm the same that have commented your QT BUG, please let Valentine check for another solution, as I told you in the previous posts, MediaPlayer can accept gst pipeline.
But consider a multi platform app or the fade in or out of the audio, with gst you need to demux audio and video but is difficult to control the audio volume and the audio output (HDMI / minijack)
I've just tested this

[2019-09-10 15:54] mozcelikors commented on #481
@peel70 I got it. I am just curious why playbin does not work for me and it works for you. (I use Yocto, I have ffmpeg installed)

[2019-09-10 16:18] peel70 commented on #481
@mozcelikors in these days I'm reading a lot of article and I have the idea where the problem is but is difficult to try a fix.

try to download this  wget -c http://mirrors.standaloneinstaller.com/video-sample/grb_2.mp4
this file have a Codec ID : isom (isom/iso2/avc1/mp41)

the .mov have a Codec ID : qt   2005.03 (qt  )

these two files works fine and in GPU (no CPU LOAD when playing)

the files

[2019-09-10 23:52] stevep-st opened #492 "UART1 not available in 4.19.66 built in master, but works fine in 4.14.112"
This is a different issue than #400, although it also happens on CM3 and CM3+.  Please follow, I'll provide documentation.

Description:

1. Build linux-raspberrypi 4.14.112 in master branch with the proper settings for uart1 in config.txt, and making sure 8250 NR UARTS is 1.
2. Install and boot the system
Result: uart1 is functional on ttyS0.  Observed:

[code]

3. Build linux-raspberrypi 4.19.66

[2019-09-11 00:00] stevep-korg commented on #492
config.txt and cmdline.txt identical for both 4.14.112 and 4.19.66 builds:

[config.txt](https://github.com/agherzan/meta-raspberrypi/files/3598172/config.txt)

[cmdline.txt](https://github.com/agherzan/meta-raspberrypi/files/3598175/cmdline.txt)

[2019-09-11 00:02] stevep-korg commented on #492
Here are the pertinent lines from config.txt:

# CONFIGURE UART0 FOR KEYSCANNER USE
#  Tell Linux to not drive serial Console on GPIO pins 14 & 15
enable_uart=1
#  Disable Bluetooth (frees up UART0 and connects UART0 TXD0 and RXD0 pins to GPIO pins 14 & 15, respectively)
dtoverlay=pi3-disable-bt
# CONFIGURE UART1 FOR LEGACY MIDI USE, connecting UART1 TXD1 and RXD1 pins to GPIO pins 32 & 33, respec

[2019-09-11 00:08] stevep-korg commented on #492
These settings along with 8250 NR UARTS 1 should be sufficient for uart1 to be functional.  I would like it if someone involved in the meta-raspberrypi project would please build/run 4.19.66 or very close version in master branch when time permits, and see that the uart1 can not be made available using the reasonable documented settings as shown.

[2019-09-11 00:12] stevep-korg commented on #492
Some additional filesystems comparisons which may be helpful.  I also have the /var/log/messages from both systems if anyone wishes to see them.

[4_14_112-vs-4_19_66.txt](https://github.com/agherzan/meta-raspberrypi/files/3598205/4_14_112-vs-4_19_66.txt)

[2019-09-11 02:56] stevep-korg commented on #492
The kernel configs:
[config-4.14.112.zip](https://github.com/agherzan/meta-raspberrypi/files/3598622/config-4.14.112.zip)

[config-4.19.66.zip](https://github.com/agherzan/meta-raspberrypi/files/3598629/config-4.19.66.zip)

[2019-09-11 10:48] agherzan commented on #492
@stevep-korg Just a heads up that you can actually edit the description so you shouldn't have to follow up with comments when you report an issue.

Have you tried this in Raspbian?

[2019-09-11 15:55] stevep-korg commented on #492
@agherzan Thanks for the tip.  I am aware I can do that, and actually edited some of those last night.  I thought it would help to put the information in chunks in different entries, but now that I think more about it. maybe it generated a bunch of emails for people, and if so, sorry for the extra noise.

I haven't tried Raspbian, but I can try today to see if it registers it OK.

[2019-09-11 18:17] stevep-korg commented on #492
@agherzan I tried Raspbian Lite for starters, which does not initialize uart1 at all.  If you searh for "uart" and also "serial" in them messages file, you will notice only the PL011 uart, which is uart0, is initialized.

[messages.zip](https://github.com/agherzan/meta-raspberrypi/files/3602181/messages.zip)
[cmdline.zip](https://github.com/agherzan/meta-raspberrypi/files/3602182/cmdline.zip)
[con

[2019-09-11 21:15] stevep-korg commented on #492
@agherzan I also trie Raspbian Buster Full (4.19), which it appears by default also does not initialize uart1 at all.  If you search for "uart" and also "serial" in the messages file, you will notice only the PL011 uart, which is uart0, is initialized.  I did not try tweaking the system.

[messages.zip](https://github.com/agherzan/meta-raspberrypi/files/3602761/messages.zip)
[cmdline.zip](https://

[2019-09-14 08:51] theonlyzby commented on #469
I found this arm64 fork ( https://github.com/Vicinzu/wiringPi-arm64 ), which can be installed into aarch64 container ... but it has not update up 2.52 to support Raspberry Pi 4 :-(

[2019-09-14 13:53] peel70 commented on #481
@mozcelikors after some days of test and switch back to pi3 to make other tests, finally I've got pi4 working to play mp4 in QtMultimedia too.
But at the moment I see only software decode and not hardware but is a big step (for me)
You have to try with 64bit machine and not 32bit.

Please let me know if work for you too.

I've used master branch of all the components.

Build Configuration:
BB_VERS

[2019-09-16 12:19] peel70 commented on #481
@agherzan these are the tests that I've performed last week:

- RPI3-32bit thud GStreamer 1.14 Qt 5.11.3 the video work in QML hw accelerated via gst-omx CPU 18-20%

- RPI4-32bit master GStreamer 1.16 Qt 5.13 v4l2 decoder is active but I'm not able to play mp4 files, work on .mov with gst-launch and some particular mp4 codec but not in QMultimedia. It play only mkv on QMultimedia and Gstreamer but

[2019-09-16 13:10] agherzan commented on #481
I don't have enough experience with this to recommend something without digging into it. If this is reproducible on Raspbian it's worth shouting on the forums as well.

[2019-09-16 16:13] xuhcc commented on #481
Apparently Kodi is the only player that can play 4K videos on RPi4 with hardware acceleration:
* https://www.raspberrypi.org/forums/viewtopic.php?f=38&t=246837
* https://github.com/popcornmix/xbmc/tree/leia_pi4

[2019-09-16 20:39] peel70 commented on #481
I've just comment the article on raspberry pi forum, but not yet approved so not visible at the moment.

[2019-09-23 14:50] pauldotknopf opened #497 "Disable read-only attribute on boot partition?"
We use Pi's as a standalone test video source. We like to modify the ```config.txt``` often to adjust the resolution/framerate.

Is there a way to disable the read-only attribute on the boot partition so that I may modify the ```config.txt```?

[2019-09-27 01:14] kraj opened #498 "omxplayer overlapping with other shared lib providers"
I am seeing this error regularly

[code]

It seems omxplayer is bundling stuff, so we need to be careful and fix the providers to address this error.

[2019-10-01 15:16] BlackZork opened #499 "kernel fails to compile (warrior branch)"
[code]
There no hifiberry-dacplusdsp.dtbo in SRCREV=13ce09db830e0c2fe524460b0673afb974359bc2

set in recipes-kernel/linux/linux-raspberrypi_4.19.bb

My workaround is to bump it to 4d486c17f636bb339c10cd73a07292220a973e01

[2019-10-02 12:38] agherzan commented on #499
Where do we include this dtb target?

[2019-10-02 12:46] BlackZork commented on #499
Ok, I found that I included it in my own bbappend file. I am sorry for this false report.

[2019-10-02 12:46] #499 closed

[2019-10-02 12:51] agherzan commented on #499
That's what I suspected. I'm also fine in including it and updating the kernel. Feel free to push a PR for master for that.

[2019-10-02 21:14] BlackZork opened #500 "RPI 3b+ with official touchscreen: problems after upgrade from thud to warrior"
7" PI touchscreen shows boot phase, but as soon as psplash is shown screen freezes.

I tried so far:
- default kernel on warrior branch (core-image-base)
- 4.14.112 kernel on warrior branch (core-image-base)
- [meta-rpi layer](https://github.com/jumpnow/meta-rpi) - it uses kernel 4.19.73

Raspbian (Release 2019-09-26, 4.19.75 kernel) boots and works ok.

Anyone has a working configuration for warr

[2019-10-03 13:50] minusplusminus commented on #374
HI everyone,

I'm currently using `mender-convert` to patch my raspbian img `Linux 4.9.184-linuxkit x86_64` for my rpi 3. I'm using [Waveshare SIM7600E-H_4G_HAT](https://www.waveshare.com/wiki/SIM7600E-H_4G_HAT) that I connect using an USB port so I can create an direct 4G internet connection using [qmicli](https://techship.com/faq/how-to-step-by-step-set-up-a-data-connection-over-qmi-interface-us

[2019-10-03 13:55] nandra commented on #374
IIRC you need to patch u-boot not mender. I think best would be ask on hub.mender.io instead here as you can get feedback from people familiar with problematic :)

[2019-10-04 15:53] agherzan commented on #500
@BlackZork Do you have a stable power supply? Also, can you attach a serial console to see if the entire board is frozen?

[2019-10-04 18:57] BlackZork commented on #500
It is a problem with vc4 video driver. When I blacklisted it in /etc/modprobe.d touchscreen works OK.

I tried to use VC4DTBO = "vc4-fkms-v3d" in layer.conf, but effect is the same.

I ended with MACHINE_FEATURES_remove = "vc4graphics", which I assume is a return to old working configuration. Will see when I add QT5 to my new layer.

BTW, hdmi output works OK with vc4 kernel module loaded.