[2015-11-16 10:19] LocutusOfBorg opened #4 "spurious file in master branch"
Hi, please remove the "patch" file in the root of the master branch

(I guess something bad happened to my patch forwarding)

[2015-11-16 10:23] agherzan commented on #4
Can you add a pull request for this please? Thanks.

[2015-11-16 10:27] LocutusOfBorg commented on #4
closing, added #5 instead :)

[2015-11-16 10:28] LocutusOfBorg commented on #4
(I thought you were asking for mails instead of PRs)

[2015-11-16 10:34] agherzan commented on #4
Well we do emails officially. But I can manage PRs too.

[2015-11-16 10:36] LocutusOfBorg commented on #4
wonderful :)

[2015-12-16 18:06] daveti opened #6 "conf for pi zero?"
Hi

Is there any conf for Pi Zero? Or could I reuse Pi/Pi2 for Zero?

Thanks,
Dave

[2015-12-16 18:47] agherzan commented on #6
As we tested it in the resin context, we were able to boot the zero conf just by using the rpi1 machine config. You could try it and let us know if you get into troubles.

[2015-12-16 18:54] daveti commented on #6
Cool! Thanks~

[2015-12-16 18:54] #6 closed

[2015-12-16 19:10] agherzan commented on #6
Wilkomen.

[2016-02-19 08:01] zwerch opened #7 "Issue tracker down"
Your external issue tracker seems to be offline.

[2016-02-19 08:02] zwerch opened #8 "Most of the initscripts in rcS.d are not being executed"
# Summary

We found out that most of the initscripts in `/etc/rcS.d` are not executed. In fact only `S00psplash` is executed as far as we could find out. We discovered this because `S04udev` seemed not to be running.
We could not find the cause though, if we work around this by starting the scripts manually it works like a charm (but this doesn't feel right).

# Steps to reproduce

We wanted to bu

[2016-02-20 19:15] agherzan commented on #7
Yeah... i moved to to AWS. I'm seriously wondering if we should just move completely on github. And maybe just ask people to send the patches to mailing list too for more community visibility.

[2016-02-20 19:17] agherzan commented on #8
One interesting information would be what is your DISTRO_FEATURES.

[2016-02-22 08:08] zwerch commented on #7
Just do it :grinning:

[2016-02-22 08:14] zwerch commented on #8
Can you tell me where to find them?

[2016-02-22 14:58] zwerch commented on #8
We kind of fixed the issue with `udev` by changing it's position to a later one - `S20udev` worked for us.
But it still is very strange.

[2016-02-25 14:13] zwerch commented on #8
We didn't come across any other bugs so far, so this seems to be related to `udev` only. Maybe, to work around the issue, you could add a `udev_182.bbappend` containing this:
[code]

You can close this now if you want.

[2016-03-15 15:10] toolmmy opened #10 "Device Tree Binary management for different kernels and machine configurations"
There are currently multiple issues regarding the device tree binary handling. Currently all dtb's are specified in the rpi-base.inc. But this causes multiple isses by different kernel recipes. For example the Kernel 3.18 doesn't provide the bcm2710-rpi-3-b.dtb

`
| make[3]: *** No rule to make target 'arch/arm/boot/dts/bcm2710-rpi-3-b.dtb'.  Stop.
| make[2]: *** [bcm2710-rpi-3-b.dtb] Error 2
| ma

[2016-03-20 11:15] toolmmy commented on #10
@agherzan please checkout the changes made in here https://github.com/toolmmy/meta-raspberrypi/commit/cddd262b5904d464e6a751391edc7b41fc375907. If they are suitable for you I would create a pull request.

[2016-03-27 15:21] danielnilsson9 opened #11 "bluetooth"
Hi

Any ideas for getting bluetooth to work on rpi3? I have tried patching bluez5 according to this issue:
https://github.com/raspberrypi/linux/issues/1314

and putting the image in /lib/firmware/brcm and all but I can't get it to work. I just get get timeouts when running hciattach, sometimes it says flashing firmware but then it times out again.

Anyone who got it working or is working on it tha

[2016-04-02 15:28] toolmmy commented on #10
Can be closed due to commit 75efa69

[2016-04-02 15:28] #10 closed

[2016-04-04 17:37] agherzan commented on #10
Thanks @toolmmy

[2016-04-09 12:01] toolmmy commented on #11
hi @danielnilsson9
check out the following commit https://github.com/toolmmy/meta-raspberrypi/commit/e6e84cbb8dbee54c484105de8dc6c40169e881bb
Make sure that you dont have a running agetty on ttyAMA0

[2016-04-09 12:19] danielnilsson9 commented on #11
@toolmmy

Looks pretty much identical to what I did, strange I couldn't get i working, definitely gonna try that out. Thank you for letting me know!

[2016-04-13 03:35] agherzan commented on #11
@toolmmy I see a set of patches on bluez5 but on trace of them online. Are these sent to bluez5? What is the status of these patches?

[2016-04-13 04:51] toolmmy commented on #11
@agherzan These patches regarding bluez5 seems to be very specific for the rpi3. Thats why they are provided by the foundation itself. I couldn't find any discussions in the bluez5 mailing list. Even when the patches are included in the upcoming versions of bluez5 we still rely on the latest versions provided by poky/openEmbedded which might can take time until they have spread out.

[2016-04-15 15:43] giraldeau opened #14 "Extends kernel configuration"
The bitbake build process configures the kernel using .cfg files. However, the meta-raspberrypi linux-rpi.inc creates a config file and calls make oldconfig. Is there a reason why the configuration is done this way? What would be the prefered way to extends the kernel configuration with additional parameters?

Thanks!

[2016-04-15 17:28] giraldeau opened #15 "Duplicated patch"
Seems that the file 0001-dts-add-overlay-for-pitft22.patch is duplicated multiple times, though the content is the same. Should this patch be merged in the raspberrypi kernel branch?

https://github.com/raspberrypi/linux

[2016-04-22 07:11] zwerch opened #16 "Hardware Watchdog Pi 2"
I read about a hardware watchdog kernel module [here](https://www.bayerschmidt.com/raspberry-pi/89-auto-reboot-a-hung-raspberry-pi-using-the-on-board-watchdog-timer.html).
I would like to have a hardware watchdog in my firmware on the Pi 2 B, too.
Is this supported at all? If yes, how can I enable it?

[2016-04-22 11:36] agherzan commented on #16
The module is compiled (tested on rpi3). You can load it with modprobe bcm2835_wdt .

[2016-04-22 12:48] zwerch commented on #16
Thanks for your answer!
Is there a way that I don't need to manually load the module but configure my image / whatever to load it automatically?

[2016-04-22 12:57] agherzan commented on #16
No worries. The way to do it in yocto is using KERNEL_MODULE_AUTOLOAD http://www.yoctoproject.org/docs/2.0/ref-manual/ref-manual.html#migration-1.7-kernel-module-autoloading .

[2016-04-22 13:43] zwerch commented on #16
Thanks a lot!

[2016-04-22 13:43] #16 closed

[2016-04-22 13:55] agherzan commented on #16
Welcome.

[2016-04-25 07:20] agherzan commented on #11
I merged a patch similar to what @toolmmy proposed. The only change is that the changes to bluez are rpi3 machine specific in the bbappend.

Cheers!

[2016-04-25 07:20] #11 closed

[2016-04-25 07:38] agherzan commented on #8
Hm. I haven't seen this issue at all. I actually tested by creating a dummy init script in rcS which echoed something. It was started at next reboot and the message was shown.

[2016-04-25 07:38] #8 closed

[2016-04-25 07:57] agherzan commented on #15
Submitted.
https://github.com/raspberrypi/linux/pull/1436
https://github.com/raspberrypi/linux/pull/1437

[2016-04-25 07:57] #15 closed

[2016-04-25 08:03] agherzan commented on #14
Hi. I was under the impression that we fixed this in the past by adding support for yocto config fragments. I haven't tested it in a while but I did it now and indeed it seems broken. We use the make oldconfig because we use a defconfig from the kernel tree repository.

[2016-04-25 08:11] agherzan commented on #7
:) https://lists.yoctoproject.org/pipermail/yocto/2016-April/029682.html

[2016-04-25 08:11] #7 closed

[2016-04-28 01:59] pauldotknopf opened #17 "Just got a Pi3 Model B in, image doesn't boot."
I verified that NOOBS 1.9 boots correctly.

My Pi3 image (```MACHINE = "raspberrypi3"```) just shows 4 raspberries on boot.

I have also verified that my image for my Pi2 works (```MACHINE = "raspberrypi2"```).

Here is my setup.

[code]

[code]

[2016-04-28 03:58] pauldotknopf commented on #17
If I copy over the ```bcm*``` files and ```bootcode.bin``` from NOOBS into the image created by yocto, it works.

[2016-04-28 07:36] agherzan commented on #17
Hi @pauldotknopf . What target are you baking?

[2016-04-28 12:35] pauldotknopf commented on #17
If I ```bitbake rpi-basic-image```, it happens.

[2016-04-28 12:52] agherzan commented on #17
After you burn the sdcard image, can you please tell what do you have in your first partition?

[2016-04-28 13:08] pauldotknopf commented on #17
[code]

[2016-04-28 14:08] pauldotknopf commented on #17
In case you want to inspect (or boot) the image, here it is.

[rpi-basic-image-raspberrypi3.rpi-sdimg](https://drive.google.com/file/d/0By5zzSLiMe2INjlySUQ3UEtJSVk/view?usp=sharing)

[2016-05-02 16:45] pauldotknopf commented on #17
Any ideas with this?

[2016-05-02 17:45] toolmmy commented on #17
I see a lot of different layers. did you try just poky with meta-raspberrypi? Ive tested the latest release (krogoth) yesterday without any issues (just the rpi-sd-card but anyway)

[2016-05-04 13:50] agherzan commented on #17
I tested rpi3 and rpi2 and they both seem find. Could you check what @toolmmy is suggesting?

[2016-05-04 13:52] pauldotknopf commented on #17
I have, and it still didn't work. All my branches were on master.

I will do it again, and share my layer info again, removing the ones that aren't needed for the basic image.

[2016-05-04 13:53] pauldotknopf commented on #17
Have you tried to boot the image I shared with you? I wonder if it is just my batch of rpi s. This happens on all 5 of mine.

[2016-05-04 13:55] agherzan commented on #17
Let me try it now. Be right back.

[2016-05-04 14:16] agherzan commented on #17
Indeed. It doesn't boot for me too (using the image you provided).

[2016-05-04 14:17] pauldotknopf commented on #17
Ya, well, I'll try the latest release. I still don't think it will work though. I will let you know.

[2016-05-05 16:17] tmpsantos commented on #17
Also got the four berries with my Pi3:

[code]

Gonna try with `krogoth` now.

[2016-05-05 19:22] tmpsantos commented on #17
Got stuck on the 4 berries with `krogoth` too.

[code]

[2016-05-05 20:35] brunoabinader commented on #17
👍 1

I had success by replacing `bcm2710-rpi-3-b.dtb` specifically.

[2016-05-05 20:39] pauldotknopf commented on #17
@brunoabinader, ya, I can't say I try each individual file specifically to see what worked. Just copied a bunch of files that looked relevant, and it worked! ;)

[2016-05-06 11:25] tmpsantos commented on #17
The firmware binary on NOOBS 1.9 can be found at `c230b2b9b5a38615a4ab17539c3b438064fe5d83` of https://github.com/raspberrypi/firmware.git The `firmware` recipe on `meta-raspberry` master is a few commits ahead.

[2016-05-06 15:17] tmpsantos commented on #17
Just realized that `bcm2710-rpi-3-b.dtb` is built from the kernel sources and has nothing to do with the firmware binaries.

I just tried building with kernel 4.4 and also didn't help.

[2016-05-10 16:06] nowls opened #18 "Feature request: configuration parameter for freeing up /dev/ttyAMA0 on RPi2"
I'm running an Adafruit GPS Hat on a Raspberry Pi 2. The pins on that product are mapped to the TXD0/RXD0 pins and should be available through /dev/ttyAMA0. Is there a way I can use a dtoverlay option to override "console=serial0,115200", skip the firmware's search-and-replace, and just shove "console=tty1" in there to free up /dev/ttyAMA0? I believe this should be a configuration parameter I coul

[2016-05-10 16:10] agherzan commented on #18
That is actually a very good point. I know resin is doing something similar to address this issue. Here is the relevant commit: https://github.com/resin-os/resin-raspberrypi/commit/12f0123b5d536102da33284aff33b37ae2bbbd29

So you can always overwrite CMDLINE with your own configuration.

[2016-05-13 08:35] agherzan commented on #17
I'm wondering why can't I reproduce this at all... As well the meta-rpi bsp layer is used in resin product and works fine for all the boards rpi1, rpi2 and rpi3. So the only problematic file is the dtb?

[2016-05-17 02:18] yongli3 commented on #14
@agherzan  I encountered this issue too. I cannot change the kernel config using the fragments cfg files(https://github.com/jumpnow/meta-rpi/issues/2). I found there is a patch about it: https://lists.yoctoproject.org/pipermail/yocto/2015-August/026101.html, can we merge it?

[2016-06-05 16:42] pficheux commented on #17
Replaced bcm2710-rpi-3.dtb, but does not work :(

[2016-06-05 18:32] tmpsantos commented on #17
Where are you taking the firmware from?

[2016-06-06 10:01] agherzan commented on #17
Are you sure the board doesn't boot? It might be that there is no serial console configured and just don't see any feedback. How do you test if the board actually boots?

[2016-06-06 10:17] pficheux commented on #17
I've copied it from Raspbian (a rough test...). The same configuration (PC + Adafruit USB cable + Pi3) works with Raspian by adding the following line to config.txt :

dtoverlay=pi3-disable-bt

(from https://openenergymonitor.org/emon/node/1231.

[2016-06-06 10:19] agherzan commented on #17
Can you try to configure the serial as instructed in the README file? https://github.com/agherzan/meta-raspberrypi/blob/master/README#L242

[2016-06-06 10:21] pficheux commented on #17
OK, sorry for not reading the README...

[2016-06-06 10:36] agherzan commented on #17
It's fine. It's a long file and one can easily miss information from there. I'm thinking of having a normal documentation soon.

[2016-06-06 20:30] pficheux commented on #17
Works fine with ENABLE_UART = "1 !

Regards

[2016-06-06 20:51] agherzan commented on #17
Super cool! Glad we sorted out.

[2016-06-07 15:12] zorce commented on #17
Hi,
Did you solve the issues? I have the same kind of issues. Cannot boot the rpi-basic-image just end up with 4 berrys. If I copy the dtb files from an existing known to work image I end up with the rainbow screen instead...

[2016-06-07 21:22] pficheux commented on #17
I fixed the problem with ENABLE_UART = "1", but I use a serial console, no HDMI output.

[2016-06-08 05:23] zorce commented on #17
I will try that need to get an FTDI usb to serial cable.
But shouldn't I get HDMI output?

[2016-06-08 10:12] pficheux commented on #17
I use this USB cable https://www.adafruit.com/product/954. i didn't test HDMI but cmdline.txt contains "console=serial0,115200"  ->  console should be on serial port only (?)

[2016-06-08 10:47] agherzan commented on #17
That is not configured by default. You can add as many console= as you wish. For HDMI you need to add console=tty1.

[2016-06-08 11:50] zorce commented on #17
Thank, will check this when I get home!

[2016-06-09 07:54] pficheux opened #19 "Taskhash mismatch"
Hi,

I've got strange problem about 'taskhash mismatch'  when I try to rebuild core-image-minimal after a 'cleansstate'.

ERROR: core-image-minimal-1.0-r0 do_image_rpi_sdimg: Taskhash mismatch 1b48d92377c7cedb58231830828f590b verses 92b3b86f0e026e3159ba0f71477c092a for /media/pierre/SAMSUNG_EXT4/Yocto/krogoth/meta/recipes-core/images/core-image-minimal.bb.do_image_rpi_sdimg
ERROR: Taskhash mismatc

[2016-06-09 10:08] agherzan commented on #19
There is a patch for this and I will take a look on it this week. In the meanwhile you can check the mailing list.

[2016-06-14 11:33] wilberforce opened #20 "Lirc-Rpi and w1-therm modules not populating /dev /sys"
I'm struggling with one wire temperature sensor and an Ir receiver using a recent yocto build, here is what I'm seeing on a Jessie build:

[code]

not working yocto:

[code]

I have device tree entries in /boot/config.txt
[code]

I can load the modules by using modprobe, or adding to /etc/modules, however the modules don't seem to populate /sys/bus/w1 with the actual devices, and the lirc-rpi fail

[2016-06-14 16:49] agherzan commented on #19
This issue was fixed in master. Please check and reopen this issue if you find it otherwise.

[2016-06-14 18:47] agherzan commented on #19
Can you recheck with current poky master? I can't replicate the issue anymore.

[2016-06-14 23:22] agherzan commented on #20
Sadly I hit a similar issue lately too (https://github.com/resin-os/resin-raspberrypi/issues/24). I'm going to investigate it very soon as this hits other overlays too as I see. You might want to try the latest kernel 4.4 and some patches for dtbo support too that are already in the mailing list. I'll get to them soon and see what's going on.

[2016-06-14 23:27] agherzan commented on #17
Will close this for now. If you still encounter problems with RPI3 feel free to comment.

[2016-06-14 23:27] #17 closed

[2016-06-14 23:28] agherzan commented on #18
@nowls did you manage to get it fixed?

[2016-06-15 00:35] wilberforce commented on #20
Thanks for the reply.

I'm using 4.4.9:
[code]
I've tried looking at udev rules, but that didn't work for me. I'm not sure what debugging I can added - there is the device tree debug flag, however the tools aren't part of the yocto build

[2016-06-15 01:14] wilberforce commented on #20
It works for some overlays and not others.

[code]

working:
[code]
The modules are loaded and the led blinks a heartbeat (useful to tell when to pull the power when headless)

`i2c-dev` is still required in `/etc/modules` to get the i2c devices (same with Jessie)

not working:
[code]

interestingly, I've never managed to the rtc overlays working on jessie either.

Sorry, not clear on which list t

[2016-06-15 06:12] pficheux commented on #19
OK I will do that today.

[2016-06-15 19:22] nowls commented on #18
Sort of... I didn't do it in a general way. I ended up making my recipes-kernel/linux/linux-raspberrypi_%.bbappend that uses Sed to replace serial0,115200 with tty1. I'm still learning openembedded magic...

[2016-06-16 10:48] wilberforce commented on #20
Using the debug=1 param shows the issue for the lirc case

modprobe lirc_rpi debug=1

[code]

And the yocto case

[code]

So it's the pin_ctrl version of the driver not matching!

[2016-06-16 12:09] wilberforce commented on #20
This is probably out of date...

https://github.com/raspberrypi/linux/issues/936#issuecomment-109802801

[2016-06-20 10:16] pficheux commented on #19
Hi,
Look good now, no more error.

[2016-06-20 10:17] agherzan commented on #19
Cool. Closing.

[2016-06-20 10:17] #19 closed

[2016-07-01 14:01] #4 closed

[2016-07-01 14:04] LocutusOfBorg opened #21 "not building anymore with latest krogoth yocto branch"
[code]

the culprit is change: 31351ce146bf9c61d779456cd68ff7c2c9d4c8a8

[2016-07-01 14:05] LocutusOfBorg commented on #21
reverting http://git.yoctoproject.org/cgit/cgit.cgi/poky/commit/?id=31351ce146bf9c61d779456cd68ff7c2c9d4c8a8 this commit make it work again, but upstream told it might be an issue of your layer

[2016-07-07 10:58] wilberforce commented on #20
@agherzan

Have you had a chance to look yet?

I thought it might be related to this

https://github.com/agherzan/meta-raspberrypi/commit/8a21c1dda6150ae2596f3932ffbc6cb317ebcdf8

However this didn't appear to fix :-(

[2016-07-07 16:31] simark opened #22 "Empty bcm28355 package"
When I add `bcm2835` to my IMAGE_INSTALL variable, the `do_rootfs` step of my image fails, i think because no bcm2835 package is generated (as it would be empty).  In my `log.do_rootfs`:

[code]

And indeed, no bcm2835 package is generated:

[code]

By allowing an empty package to be created, the `do_rootfs` step finishes cleanly.

[code]

Am I doing something wrong?  Am I supposed to put `bcm2835

[2016-07-08 11:12] agherzan commented on #22
Hi @simark . Indeed this is the case. the package creates some tests and a static library. So these would make sense only on dev. Are you going to compile stuff on board? Why do you need this package on board?

[2016-07-08 11:16] agherzan commented on #20
@wilberforce Indeed we found the issue in my case. It was because of a typo in overlayers directory. https://github.com/resin-os/resin-raspberrypi/commit/ca41c2efc49983fe3452aecde2bdb4d57b33cc2c which seems to be unrelated to your problem. I personally don't have an idea what might cause this right now.

You ar eusing a jessy build as I see. Can you use current master?

[2016-07-08 11:38] agherzan commented on #21
Hi @LocutusOfBorg this seems to be an issue that got solved in the meanwhile as trying now with current master seems to not reproduce your issue. I used:

[code]

[2016-07-08 11:54] LocutusOfBorg commented on #21
yes, fixed here
http://git.yoctoproject.org/cgit/cgit.cgi/poky/commit/?id=e6917603e2a7ad8a920d3883d2ddf196b6038dc5

G.

[2016-07-08 11:54] #21 closed

[2016-07-08 12:05] agherzan commented on #21
Cool. Thanks man.

[2016-07-08 12:44] simark commented on #22
Indeed, from what I understand, I only want bcm2835-staticdev to end up in the SDK, so that it can be used when writing applications.  How would you do this?

I have tried

[code]
but it doesn't work when I do the populate_sdk task:

[code]

I also tried

[code]

but also got an error:

[code]

How are we supposed the to use this recipe?

[2016-07-08 12:52] agherzan commented on #22
Now I got it. You use it from the SDK. That makes sense in that case. I'm not a SDK user so the only way I would use it is though a build based on sysroot.

[2016-07-08 12:58] simark commented on #22
Could you define

?  The SDK is essentially two sysroots (target and host).

Thanks for your help, I am trying to grasp the magic in Yocto, and it's a bit hard as I find the documentation a bit sparse.

[2016-07-08 13:00] simark commented on #22
Perhaps the right way would be to remove the (automatic/implicit I suppose) dependency of the -staticdev package on the main package? A bit like what was done here:

http://lists.openembedded.org/pipermail/openembedded-core/2012-July/065226.html

[2016-07-08 13:19] agherzan commented on #22
Very good catch. That might work just fine for you. Can you check?

What I mean is that I never used the artifacts from this recipe in a SDK. The way I used it is by having another recipe which depends on it and compiles stuff by getting this static library form sysroot.

[2016-07-08 13:24] simark commented on #22
Yes, adding

    RDEPENDS_${PN}-staticdev = ""

makes it so that I can use

    TOOLCHAIN_TARGET_TASK_append = " bcm2835-staticdev"

in my image, and I end up with

    /opt/poky/2.1+snapshot/sysroots/cortexa7hf-neon-vfpv4-poky-linux-gnueabi/usr/lib/libbcm2835.a

in my SDK, so I guess it's good!  I think it doesn't carry very well the intent though.  I suppose that something like

    RDEPENDS_${P

[2016-07-08 13:31] agherzan commented on #22
Please push a patch for the RDEPENDS fix. That seems like the right way forward.
`RDEPENDS_${PN}-staticdev = ""`

[2016-07-09 01:27] simark commented on #22
I have looked at it a bit more, and I think it should be

    RDEPENDS_${PN}-dev = ""

The -staticdev package only includes the static library (libbcm2835.a), whereas the -dev package only includes the header (bcm2835.h).  In order to do anything useful, we need both.  In the default rules in ${pokyrepo}/meta/conf/bitbake.conf, we can see that -staticdev depends on -dev:

    RDEPENDS_${PN}-static

[2016-07-25 07:37] izak commented on #14
Ran into the same problem. Lost about a day trying to figure out why the patch works but the config is flatly ignored. Eventually applied the patch above and it appears to be the perfect solution.

[2016-07-25 08:42] toolmmy commented on #14
I'm not quite sure, bit it seems that the fragments are applied within the kernel_configme task (see kernel-yocto.inc addtask kernel_configme before do_configure after do_patch) before do_configure.

The do_configure of the linux-rpi.inc clears the complete .config in order to create a new one so all changes applied by the fragments are gone.

[2016-07-26 08:32] wilberforce commented on #20
looks like the sources were out of sync.

` bitbake -c cleansstate virtual/kernel`

This cleared out, and a rebuild shows:

[code]

[code]

[2016-07-26 08:32] #20 closed

[2016-08-09 19:48] my007ms opened #26 "Enable bluetooth in Pi3"
Hello,

I am trying to enable bluetooth in my Pi3 image so now i have

local.conf

MACHINE ??= "raspberrypi3"
IMAGE_FSTYPES = "rpi-sdimg"
IMAGE_INSTALL_append = "bluez5 wireless-tools linux-firmware-brcm43430 wpa-supplicant rpm"
DISTRO_FEATURES_append += " bluez5 bluetooth wifi systemd"
ENABLE_UART = "1"
MACHINE_FEATURES += " pi3-miniuart-bt"

bblayers.conf

BBLAYERS ?= " \
  /home/yocto/poky/meta

[2016-08-10 07:42] toolmmy commented on #26
Hi,

the pi3-miniuart-bt is reducing the Baudrate to the serial hci interface to 115200 baud in order to manage the serial consoke in parallel. The curren setup is using the actual baudrate for the hci interface 9xxxxx. Could you check your setup without the rpi3-minicom-bt overlay?

[2016-08-10 23:24] my007ms commented on #26
Hi,

without rpi3-minicom-bt overlay it boot fine with HDMI console but no bluetooth in hciconfig -a
but if i add extra USB bluetooth it work fine only the built in bluetooth never show up

Thanks

[2016-08-18 06:45] toolmmy commented on #26
Hi,

are you using a systemd environment? Otherwise you need a sysvinit script that performes the hciattach during system start. Could you please try the following command manually

/usr/bin/hciattach -n /dev/ttyAMA0 bcm43xx 921600 noflow -

[2016-08-18 20:03] my007ms commented on #26
Thanks toolmmy

Yes it's work i was think that udev should take care of create the dev
I try with systemd and it work fine also i try the manual command and it work fine as well

However in both cases SCO socket not working ( it's received zero packet ) this not only in yacto image i think in all Pi Images including NOOBS and RASPBIAN, have you by any chance try used SCO sockets in your side with

[2016-08-23 13:44] #26 closed

[2016-09-03 13:17] Lionelon opened #27 "wiringPi cannot be built because gertboard.h is missing"
bitbake wiringpi
displays following error.

| NOTE: make -j 1 INCLUDE_DIR=/donnees/programmation/yocto/poky/build_rpi/tmp/work/cortexa7hf-neon-vfpv4-poky-linux-gnueabi/wiringpi/git-r0/image/usr/include LIB_DIR=/donnees/programmation/yocto/poky/build_rpi/tmp/work/cortexa7hf-neon-vfpv4-poky-linux-gnueabi/wiringpi/git-r0/image/usr/lib DESTDIR=/donnees/programmation/yocto/poky/build_rpi/tmp/work/corte

[2016-09-21 13:02] Lionelon commented on #27
Should be closed. It is delivered on 2016-09-17

[2016-09-21 13:02] #27 closed

[2016-09-27 15:48] mickey-happygolucky opened #30 "do_image_rpi_sdimg failed with oe-core in krogoth branch"
[code]

do_image_rpi_sdimg is failed after 4817e2c087097c02755d6309304878e42cf61d3c commit.
I reverted 4817e2c087097c02755d6309304878e42cf61d3c for test, then do_image_rpi_sdimg is succeeded.

This commit is correspond on oe-core in master branch. but it is unnecessary for the krogoth branch.

By the way, why meta-raspberrypi does not have krogoth branch?

[2016-10-03 05:02] mark2b opened #31 "RPi 3 - wifi ready image"
What is a way to get wifi ready image for RPi3?
There is no wlan0 interface for build-in wifi

[2016-10-06 10:56] rguenthe commented on #31
Somehow the firmware for the wifi module is not getting installed on the rootfs, even though the firmware package is appended to the `MACHINE_EXTRA_RRECOMMENDS` in `raspberrypi3.conf`.
Adding `IMAGE_INSTALL += "linux-firmware-brcm43430"` to my image recipe worked for me.

I checked the variable with `bitbake -e` and it seems to be set correctly ...
`...MACHINE_EXTRA_RRECOMMENDS=" linux-firmware-br

[2016-10-06 11:46] rguenthe commented on #31
found the reason why installing the firmware using the `MACHINE_EXTRA_RRECOMMENDS` variable is not always working:

(Source: Yocto Documentation: http://www.yoctoproject.org/docs/current/ref-manual/ref-manual.html#var-MACHINE_EXTRA_RRECOMMENDS)

[2016-10-11 21:38] sherpya commented on #30
even reverting the commit I get `| /home/sherpya/poky/build/rpi3/tmp/deploy/images/raspberrypi3/Image-hifiberry-amp.dtbo: No such file or directory` (no dtbo support in krogoth)

[2016-10-12 06:37] rguenthe commented on #30
Same problem here using the master branch.
The devicetree overlay files have extension `dtbo.dtb` instead of `dtbo`. As a workaround I changed `DTB_EXT=${DTB##*.}` to `DTB_EXT="dtb"` (Line 119) in `classes/sdcard_image-rpi.bbclass` but this should rather be fixed by using correct file names (kernel issue?)

[2016-10-12 11:34] lurch commented on #30
IIRC whether you get `.dtb` or `.dtbo` files, depends on which version of the kernel you're using?

[2016-10-12 13:01] mickey-happygolucky commented on #30
I know that fixed some problems in master branch.
however I want to use krogoth branch without some workarounds.

So, I tought that I wish meta-raspberrypi had krogoth branch like a jethro, fido, dylan...

If maintenance cost is too much, I give up that use the oe-core in krogoth branch.

[2016-10-12 21:23] agherzan commented on #30
Indeed we included changes that are not compatible anymore with krogoth. I will try to create a krogoth branch.

[2016-10-12 23:28] agherzan commented on #30
I create a krogoth branch which should work fine with yocto/meta-oe krogoth. Will close this for now. Please tell me if you still encounter issues.

[2016-10-12 23:28] #30 closed

[2016-10-14 09:13] agherzan commented on #31
The problem with this is that `MACHINE_EXTRA_RRECOMMENDS` is in packagegroup-machine-base which is brought in by core-image. While this being true, the included images templates in meta-raspberrypi are based on core-image-minimal which does not include in turn `MACHINE_EXTRA_RRECOMMENDS`. I'm thinking of bringing in `linux-firmware-brcm43430` in rpi-basic-image. I think that would make sense. But

[2016-10-26 13:20] toolmmy commented on #31
I guess it is important to know that the broadcom-firmware is now part of the linux-firmware of morty (path: root/meta/recipes-kernel/linux-firmware/linux-firmware_git.bb). The funny thing is that it is called bcm43430 instead of brcm43430 :)

[2016-10-31 13:18] agherzan commented on #31
That is indeed interesting @toolmmy . I would expect a sysroot conflict but I haven't seen it on master (which should have this change).

[2016-11-15 15:23] mickey-happygolucky opened #35 "bitbake core-image-sato failed with oe-core master or morty"
I tried to bitbaking core-image-sato.
However bitbake showed error message as follows.

[code]

I suspected commit 380740d866b5360647fb5980cb8df69f8af814e5.
I tried bitbake after reverting this commit.
Then bitbake is succeeded.

Have you seen problems like this?

[2016-11-16 12:01] agherzan commented on #35
On Tue, Nov 15, 2016 at 07:23:13AM -0800, Yusuke Mitsuki wrote:

Hi Yusuke,

We fixed this in master. Feel free to give it a try.

--
Andrei Gherzan

[2016-11-16 15:04] mickey-happygolucky commented on #35
Hi Andrei,

I confirmed. It works so fine.
Thanks!

[2016-11-16 15:04] #35 closed

[2016-11-16 20:15] mirzak opened #36 "Problem with firmware files"
Hi guys.

Anyone else experiencing problems booting on current HEAD?

I am currently testing on a raspberrypi2 and it builds just fine but does not boot. Tested both Linux and u-boot. I tried using the "bootfiles" from krogoth branch (just copied them to boot section on SD) and that worked! Though I did not use the device tree from krogoth but from HEAD, the krogoth one did not work for me. So the

[2016-11-22 10:17] cws7777 opened #37 "External wifi LAN card problems after updating firmware"
Hi,
I'm having an issue with external wifi LAN card after updating firmware.
It works fine before updating firmware but not now.
Giving me dmesg like below,

usb 1-1.3: ath9k_htc: Firmware ath9k_htc/htc_9271-1.4.0.fw requested
[    4.877941] usb 1-1.3: Direct firmware load for ath9k_htc/htc_9271-1.4.0.fw failed with error -2
[    4.877966] usb 1-1.3: ath9k_htc: Firmware htc_9271.fw requested
[

[2016-11-27 05:25] latiaoxia opened #40 "The RAM size is 128M on raspi2."
I have built an image using this layer, the ram size should be 1G on raspi, but the `free`command output is 128M.

[2016-11-27 12:04] mirzak commented on #36
I took the matter in my own hands and did some digging. It is all related to https://github.com/raspberrypi/firmware/commit/d0bc6ce8e2ae7850959fed4edb0695f3cddfb96a. Which changed the default clock rate of UART0 (console on most pi`s).

So the device actually boots, but the console serial port does not work properly.

[2016-12-06 18:14] agherzan commented on #36
Hi @mirzak . So this means you are using uboot, right?

[2016-12-06 18:59] agherzan commented on #37
Hi. This output tells you exactly that you miss some firmware for that dongle. I don't know how is that relevant on the firmware update, but you need them on the filesystem.

Found one here: https://github.com/OpenELEC/wlan-firmware/blob/master/firmware/ath9k_htc/htc_9271-1.4.0.fw

[2016-12-06 18:59] #37 closed

[2016-12-06 19:19] mirzak commented on #36
Hi @agherzan. Yes that is true, I am using u-boot.

[2016-12-10 22:47] Minipada commented on #31
I compiled a new image, with master repos and I couldn't detect wifi until I included `brcmfmac43430-sdio.txt`.
It seems it was provided before (at least in jethro) by the current layer but since it is now handled by the standard poky repo, it is not handled here. They'd need to patch this to have a wifi ready image

[2017-01-05 18:00] karansinghminhas opened #42 "ERROR: Function failed: do_image_rpi_sdimg"
![screenshot from 2017-01-04 21 18 07](https://cloud.githubusercontent.com/assets/24550701/21691519/e937f318-d39e-11e6-9f07-bb486c62dea8.png)

[2017-01-11 22:48] dl9pf commented on #30
I see the same issue on morty branch, too.

[2017-01-18 17:36] agherzan commented on #30
@dl9pf What revision of meta-rpi and poky are you using?

[2017-01-18 17:38] agherzan commented on #42
Sadly I am not maintaining the krogoth branch anymore. Can you test the morty one?

[2017-01-18 17:55] dl9pf commented on #30
Problem was in custom image class that did not catch-up with the changes in morty. Found/Solved. Sri for the noise.

[2017-01-18 18:09] agherzan commented on #30
Thanks @dl9pf

[2017-01-20 17:53] agherzan commented on #42
Tested morty and can't reproduce.

[2017-01-20 17:53] #42 closed

[2017-01-20 17:57] agherzan commented on #40
Hello,

What exactly RaspberryPi version are you using? Do you have any GPU memory configuration in your config.txt?

Regards,
Andrei

[2017-01-20 17:57] agherzan commented on #36
@mirzak Current morty branch should have this fixed. Feel free to reopen if needed.

[2017-01-20 17:58] #36 closed

[2017-01-20 17:58] #18 closed

[2017-01-21 01:29] latiaoxia commented on #40
Thanks! I've solved this problem, I use the old gpu bootloader.

[2017-01-21 01:29] #40 closed

[2017-01-21 01:31] agherzan commented on #31
@Minipada Morty should have the firmware included in the test image (rpi-test-image). It includes connman too so you can check connectivity. I'll close this issue for now. Feel free to open it if needed.

[2017-01-24 16:07] mickey-happygolucky opened #43 "u-boot build failed in morty branch"
I checked out  morty branch both poky and meta-raspberrypi.
Then I added [KERNEL_IMAGETYPE = "uImage"] to my local.conf and ran bitbake.
but I got an error such as follows.

[code]

It seems to missing symbol that fw_dtb_pointer.
I think fw_dtb_pointer is declared in lowlevel_init.S.
However lowlevel_init.S is not included in Makefiles.

I checked git log then I think suspicious a commit that 031e

[2017-01-24 16:59] mirzak commented on #43
Yeah, that problem is expekted.

That patch got applied before morty was created, and hence followed when morty branch was created.

But I agree that it should be reverted on morty. It does still apply on master though.

[2017-01-24 18:01] mickey-happygolucky commented on #43
Thanks for your reply.
I understood.
I think so too that should not be reverted on master branch.

[2017-01-24 19:16] mirzak commented on #43
Sent a patch to yocto mailing list reverting this on morty...

[2017-01-24 22:19] mihaelaapetroaie opened #44 "linux-raspberrypi_4.9.bb"
<img width="1304" alt="screen shot 2017-01-24 at 22 16 49" src="https://cloud.githubusercontent.com/assets/9384100/22269402/1910d8a0-e283-11e6-85fc-bdb4f4a41517.png">

[2017-01-25 15:28] agherzan commented on #44
Could you please replace the screenshot with text information about:
1. versions
2. host OS
3. full logs

Thank you,

[2017-01-25 15:39] agherzan commented on #43
Should be fixed now in master. Thank you.

[2017-01-25 15:39] #43 closed

[2017-01-25 16:08] agherzan commented on #44
In the meanwhile I compiled 4.9.X on master just fine. Please come back with more details. In the meanwhile I will consider this not reproducible.

[2017-01-25 16:08] #44 closed

[2017-01-25 17:10] mihaelaapetroaie commented on #44
added the info you asked for. Please let me know if you need anything else

Thanks

[2017-01-25 17:15] agherzan commented on #44
Can you use morty branches of poky and meta-raspberrypi? Those should be the stable branches to be used when not developing.

[2017-01-25 18:16] mihaelaapetroaie commented on #44
Thanks a lot for this. I used the meta-raspberrypi morty, but now I get a new error:

NOTE: Running task 720 of 2227 (/media/mika/new/poky/meta/recipes-bsp/u-boot/u-boot_2016.03.bb:do_fetch)
NOTE: recipe u-boot-v2016.03+gitAUTOINC+df61a74e68-r0: task do_fetch: Started
NOTE: recipe libgcc-6.2.0-r0: task do_install: Started
NOTE: recipe u-boot-v2016.03+gitAUTOINC+df61a74e68-r0: task do_fetch: Succee

[2017-01-25 18:18] agherzan commented on #44
You are applying a patch that is not part if meta-raspberrypi:

[code]

[2017-01-25 18:27] mirzak commented on #44
I assume you are are using meta-mender(morty), that error you get @mihaelaapetroaie got fixed today, so just do a pull and it should be ok.

Sorry for hijacking this issue, but I am involved in meta-mender as well so might as well :)

[2017-01-26 18:02] mihaelaapetroaie commented on #44
@mirzak, thanks a lot! It worked!!

[2017-02-07 16:56] mickey-happygolucky opened #45 "mouse does not worked at core-image-sato in morty"
Hello.

I tried to use core-image-sato with vc4graphics.
Sato is booted however mouse pointer does not moved in spite of mouse is moved.

I added the following line to my local.conf.
It seems to work fine.

[code]

I think xf86-input-evdev should be included IMAGE_INSTALL or dependencies to core-image-sato or else...

Would you let me know your opinion.
Thanks.

[2017-02-07 16:57] agherzan commented on #45
The BSP is not maintaining that components and how the input driver is deployed. This issue should be directed to the yocto/poky/oe-core mailing list.

[2017-02-08 03:01] mickey-happygolucky commented on #45
mmm...

but other platform is not happend such a problem.
for exapmle meta-ti, xf86-input-evdev is included XSERVER varibale in omap4.inc.
Such as follows.

[code]

It really oe-core's issue?
Whether xf86-input-evdev should be used or not depends on the board?

I know already workaround.
So I think that you do not have to fix meta - raspberypi by force.

Thanks.

[2017-02-12 13:26] mickey-happygolucky opened #46 "mouse does not worked at core-image-sato in morty"
I could not reopened follows issue, then I created new issue.
https://github.com/agherzan/meta-raspberrypi/issues/45

I said "I know already workaround. So I think that you do not have to fix meta-raspberypi by force." in comment.

BUT I would like to hear your opinion on the questions below.

[code]

You do not necessarily need to fix this problem in meta-raspberrypi.
But I think you should answe

[2017-02-12 13:34] agherzan commented on #46
Please don't create duplicated issue and wait patiently until me or somebody else has the time to give some feedback. If you can't reopen an issue, it will be opened by a maintainer when considered appropriate. Thanks for understanding.

[2017-02-12 13:34] #46 closed

[2017-02-12 13:39] agherzan commented on #45
We can address this in meta-raspberry too by adding this package to the XSERVER too. This will fix your problem so feel free to send a patch to mailing list.

[2017-02-12 13:40] mickey-happygolucky commented on #46
Sorry.
Since the problem was closed too soon, I thought whether the question was ignored.

[2017-02-12 15:53] mickey-happygolucky commented on #45
I should have send the patch to mailing list.
I am sorry, I do not know whether it was successfully transmitted.

[2017-02-13 20:20] TheMeaningfulEngineer opened #47 "Build braking for linux-raspberrypi_4.9.bb and linux-raspberrypi_4.4.bb"
Hi, I'm getting this error when trying to run the build. Tried systems Lubuntu 16.10 and Lubuntu 16.04.
16.04 doesn't complain about being an unsupported distribution.

Here are the steps to reproduce the issue:

[code]

It results in the following error:

[code]

[2017-02-13 23:41] TheMeaningfulEngineer commented on #47
Expanding all `getVar('SOMETHING')` with `getVar('SOMETHING', False)` seems to solve the issue.
Don't know the reasoning behind the fix :)

[2017-02-13 23:48] agherzan commented on #47
What version of poky and meta-rasperrypi are you using?

[2017-02-14 00:00] TheMeaningfulEngineer commented on #47
Poky git commit: `6a1f33cc40bfac33cf030fe41e1a8efd1e5fad6f`
meta-raspberrypi git commit: `68634deeed2a930a15eedd02e6b1de7d1e014d3b`

Will this do?
It's `morty` checked out today, and meta-raspberrypi also checked out today.

[2017-02-14 00:03] agherzan commented on #47
The problem is that you are using a master raspberrypi with morty poky. You should use morty with morty for both repositories. The issue you are facing is due to this commit:
3ad29d11e7f9c08de8e782ef4264e2047acb42bb .

[2017-02-14 00:07] TheMeaningfulEngineer commented on #47
I see. Thanks for the clarification.
Will test this and close the issue on confirmation.

[2017-02-14 00:40] TheMeaningfulEngineer commented on #47
All seems to be in order now, thanks.
Here is a suggestion on the documentation change:

I found the whole openembedded dependency part somewhat confusing. And the note addresses the issue I had encountered.
Just my 2 cents :)

[2017-02-14 00:41] #47 closed

[2017-02-16 14:43] mickey-happygolucky commented on #45
Discussion is ongoing in mailing list.
It seems that the problem was that meta-raspberrypi did not correspond to the following oe-core's commit.

[code]

I think it will be accepted Andreas Müller's patch.
I just want the mouse to work on core-image-sato, so that's fine.

Thanks.

[2017-02-22 08:47] andreabenini opened #48 "question: cmdline.txt setup/usage"
Hi Andrei,
I'm using latest yocto (morty) synced with git, your layer and I'm using "raspberrypi" as MACHINE in order to keep compatibility with RPi1,2,3,0. I'm having issues with cmdline.txt because it seems to be rewritten by something else (maybe kernel?) and I want to set my own file. I've tried to create a .bbappend file with the do_deploy_append() function as reported [here](http://raspberry

[2017-02-22 17:06] agherzan commented on #48
Hi Ben,

Indeed, Kernel is the only one who touches that file. Could you show me exactly what did you do in order to add you own modifications? What file did you create and where did you put it?

Andrei

[2017-02-23 00:06] andreabenini commented on #48
Here's something (meta-img/recipes-core/images/img-minimal.image.bb):
[code]
MACHINE is "raspberrypi"
My file gets executed because other functions here are fine, this one seems to be ignored. I'm even trying to generate a dummy file `output.txt` but nothing appears on the boot partition or the deploy dir

[2017-02-23 09:08] xpgdk commented on #31
@agherzan I believe linux-firmware in Poky contains the actual bcm43430 firmware (brcmfmac43430-sdio.bin). However, the NVRAM configuration file (brcmfmac43430-sdio.txt) does not seem to be present. I think that's the way it's supposed to be, as the NVRAM file seems to be highly board specific.
So, the NVRAM file should probably be part of meta-raspberrypi.

[2017-02-28 10:57] gizero opened #49 "devtool build linux-raspberrypi fails"
This was tested on current master. Only `poky/master` and `meta-raspberrypi/master` in `bblayers.conf`.

After starting a `devtool modify linux-raspberrypi` session, building the kernel fails with the following log. Any suggestion where to look for troubleshooting this?

[code]

[2017-03-01 02:12] agherzan commented on #49
I personally don't know what's going on right now. I would say that it would be better to send an email to the mailing list. I personally don't usually mess with devtool.

[2017-03-01 02:41] agherzan commented on #31
@xpgdk Correct. Could you push a patch which would bbappend the nvram configuration too?

[2017-03-01 02:42] agherzan commented on #31
As well it would be great to send this patch to master and morty.

[2017-03-01 02:44] agherzan commented on #48
The easiest way would be to go in tmp/work/raspberrypi3-poky-linux-gnueabi/linux-raspberrypi/1_4.4.48+gitAUTOINC+7ddf96fbb7-r0/temp and check the run.do_deploy generated script.

[2017-03-01 08:46] andreabenini commented on #48
Fine, I'll look at it. Thanks.
general question: is it possible to execute a .bb file during the image creation without generating a "package" (.deb, rpm, pkg,...) inside your yocto image ? I'd like to add what you suggested in my image creation but without having a package (.deb) in my img.
Thanks again

[2017-03-04 11:03] #48 closed

[2017-03-05 13:39] MickHackEthic opened #50 "Package management using apt"
Hi,
I don't know if this is an issue, I have compiled a console-image recipe for raspberry pi3 successfully.
I have setted up the wifi to have internet connection and now I would like to set apt properly to use Raspbian repository for upgrade and mainteinance.
I have added the official repository URL into sources.list but when I have tried to install something or just upgrade with apt-get upgrade

[2017-03-08 08:35] gizero commented on #31
Hi! Anyone working on this? I'd like to help fixing it, but I still don't have a clear view of where things should be fixed (pretty new to RPi boot/configuration logic). I'm building on master and my image `inherit core-image`.
I see no wlan0 ifce and, from `dmesg` I get:
[code]

[2017-03-08 09:12] xpgdk commented on #31
@gizero I have a local solution, which I am working on getting pushed.
I'm just lacking the time to do it, but haven't forgot it...

[2017-03-11 10:19] Ixox commented on #45
I should have read more carefully the open issues earlier.
I also noticed that for any X11 built. Those lines have been removed in december 2016.
https://github.com/agherzan/meta-raspberrypi/commit/c40558173ffd96c499d101155f6c4c2be85d9f0f
They're present in several other BSP layer such as the beagleboard :
https://github.com/beagleboard/meta-beagleboard/blob/master/common-bsp/conf/machine/beaglebo

[2017-03-11 10:41] #50 closed

[2017-03-16 16:51] gizero commented on #31
@xpgdk a patch for this seems to be already staged in @kraj repo. I'm baking the thing to give it a test... just thought to leave a comment to avoid duplicating the efforts

[2017-03-21 16:35] agherzan commented on #31
Current master has this fixed. Ping back if that is not working for you.

[2017-03-21 16:35] #31 closed

[2017-03-21 16:40] agherzan commented on #45
Current changes in master should get this back working. Can you give it a try?

[2017-03-21 16:40] #45 closed

[2017-03-21 16:56] agherzan commented on #50
Sorry for the late reply. Yocto doesn't support apt package manager.

[2017-03-21 23:47] iunu-build commented on #31
Not seeing any commit in master with this file or a bbappend, just omxplayer update.

[2017-03-22 05:51] gizero commented on #31
Commit 6ce6e57782c23fd21ad47286ac8b809ce989ea78 is doing the job!

[2017-03-29 08:23] Larswad commented on #30
Bumping here! What was the solution to this? I don't get it. I get the same problem with morty and sdcard image generation for raspberry. The overlay naming is off in two ways, should I patch the image class or checkout another version of it?

[2017-04-01 17:35] bog-dan-ro commented on #31
I just test it using master branch and this issue is not fixed. brcmfmac43430-sdio.txt is not present in my core-image-base.

I also added the following vars to my local.conf
IMAGE_INSTALL_append += " linux-firmware iw networkmanager"
DISTRO_FEATURES_append += " wifi"

[2017-04-03 13:28] agherzan commented on #31
@bog-dan-ro The firmware you need is installed in `${PN}-bcm4343` . Ref.: https://github.com/agherzan/meta-raspberrypi/blob/master/conf/machine/raspberrypi3.conf#L8

[2017-04-03 13:37] agherzan commented on #30
@Larswad what revision of meta-raspberrypi and poky are you using?

[2017-04-03 15:11] Larswad commented on #30
Thanks, agherzan for responding! Well, I followed this guys guide http://www.jumpnowtek.com/rpi/Raspberry-Pi-Systems-with-Yocto.html
So it's morty,
It seems the revision for meta-raspberrypi is is 4.9.10 and the commit id cce6292e41493158c26f5b1b7fded97faacf10d7

For poky its:
DISTRO_VERSION = "2.2.1"
DISTRO_CODENAME = "morty
Commit id: 924e576b8930fd2268d85f0b151e5f68a3c2afce

I did checkout of 4

[2017-04-05 15:41] agherzan commented on #30
I'm confused. Sorry. So what combination of poky and meta-raspberrypi failed for you?

[2017-04-06 02:56] roboticists opened #51 "rpi-sdimg file not found"
A quick question about sdimg file after building meta-raspberrypi. I have got rpi-hwup-image-raspberrypi-20170405083420.rootfs.tar.bz2 and bcm2835-bootfiles folder. I cannot see any file which says *sdimg*.

Build Configuration:
BB_VERSION        = "1.32.0"
BUILD_SYS         = "x86_64-linux"
NATIVELSBSTRING   = "universal"
TARGET_SYS        = "arm-poky-linux-gnueabi"
MACHINE           = "raspberry

[2017-04-06 23:18] roboticists commented on #51
I have found a problem and fixed it.

[2017-04-06 23:18] #51 closed

[2017-04-06 23:20] agherzan commented on #51
What was the issue?

[2017-04-07 14:32] Larswad commented on #30
The platform and meta-raspberry pi i described above failed this way.

EXCEPT, for when I then checked out 487e2c of meta-raspberrypi of the bbclass file for building sdcard image.

Now I've reverted the whole thing and I'm going for a krogoth build instead (so I'm happy).
But yet still, I can't understand why the head commit of meta-raspberrypi in morty didn't work regarding this exact issue with

[2017-04-08 08:35] bog-dan-ro commented on #31
@agherzanI've seen that line, but, sadly, is not installed :)

[2017-04-10 14:55] mickey-happygolucky commented on #45
Sorry I'm late.
I tried in master. It works fine! thanks!!

By the way, would you fix it in morty branch?

[2017-04-11 10:07] agherzan commented on #45
@mickey-happygolucky Would you be able to cherry pick the needed patches from master and send a PR to morty? That would help.

[2017-04-13 12:13] andreabenini opened #52 "RPI multi board support ?"
Hi Andrei,
I'm able to compile a basic image (rpi-hwup-image.bb) for RaspberryPi (1/2/3) boards just by changing the MACHINE var, but when I set it for example to "raspberrypi" my image boots just only on v1 boards (B and B+), the same happens for "raspberrypi3" boards (3 only) and so on. Boot partition for each image is basically the same and has its kernel.img (or kernel7.img) only.
Is there a w

[2017-04-13 12:47] mickey-happygolucky commented on #45
I tried cherry-pick the 52bec45b into morty. However mouse does not work.

I checked a log in a meta directory(oe-core).  I realized that a1668c8721709f3d1bc0078737514111e1985bdd is not in the oe-core in morty.
It seems 52bec45b depends on a1668c8721709f3d1bc0078737514111e1985bdd.

I don't know what I should do...

I think easiest way to make mouse work in morty is revert c4055817.(It is workaroun

[2017-04-14 12:41] agherzan commented on #52
Hi @andreabenini . This should be brought in the mailing list as most of the users are there and will provide you additional information. I will reply there as soon as you send it. Sounds good?

[2017-04-14 12:42] agherzan commented on #49
User to send the question to the mailing list.

[2017-04-14 12:43] andreabenini commented on #52
sounds reasonable, closing it

[2017-04-14 12:57] agherzan commented on #52
Thanks @andreabenini

[2017-04-14 12:57] #52 closed

[2017-04-16 10:32] metamorphling opened #53 "Waveshare 3.5 inches LCD"
Did anybody manage to make this display work with raspberry pi3?
In kernel config display drivers are being built as modules, but still no luck. LCD shows just white screen the moment I put power on. Tried to do some "echo 0 > /dev/fb0" and "tail -f /dev/input/touchscreen0", no reactions on touch too.

[2017-04-17 01:56] agherzan commented on #53
From this documentation it seems that it needs OOT drivers: http://www.waveshare.com/wiki/3.5inch_RPi_LCD_(A)#Driver . I don't think anyone worked in adding support for it.

[2017-04-17 02:00] agherzan commented on #53
Checked the archives there - probably you only need those overlays.

[2017-04-17 02:03] agherzan commented on #31
@bog-dan-ro what exact revision are you using and what machine?

[2017-04-17 12:05] agherzan commented on #45
Hi @mickey-happygolucky . I would take this to the mailing list but my recommendation would be to push a commit to morty which adds a bbeppend xserver-xorg which includes xf86-input-libinput in XSERVER_RRECOMMENDS.

[2017-04-17 12:09] agherzan commented on #30
I just checked morty meta-rpi + morty poky and it worked just fine.

[2017-04-17 12:53] agherzan commented on #31
@bog-dan-ro I pushed a new set of patches for morty. Those should fix your issue and bring back WiFi in morty.

[2017-04-21 15:01] mickey-happygolucky commented on #45
Hello @agherzan . Thanks for your reply.

I have opened a PR according to your advice. Would you check it out?

[2017-04-21 16:07] agherzan commented on #45
Thanks @mickey-happygolucky . Looks good. Would I ask too much to push the commits to the mailing list? This is the official way of pushing commits for meta-raspberrypi as stated in README. In this way more people will have a chance of reviewing this change.

[2017-04-23 13:06] fuyongjie opened #55 "raspberrypi rpi-test-image compile error"
Hi:
How to solve this compile problem?
Log as follows：

fuyongjie@Lenovo:~/work/raspberrypi/yocto$ source poky/oe-init-build-env rpi-build

### Shell environment set up for builds. ###

You can now run 'bitbake <target>'

Common targets are:
    core-image-minimal
    core-image-sato
    meta-toolchain
    meta-ide-support

You can also run generated qemu images with a command like 'runqemu qemux8

[2017-04-23 16:11] mickey-happygolucky commented on #45
Hello @agherzan .

Okay I sent patches to yoctoproject mailing list.
Thanks.

[2017-04-24 17:17] Tropicao opened #56 "Raspberry Pi 3 build issue"
Hello, I am encountering difficulties with the Rpi3 build. Since I was not sure the problem was not my fault, I cloned a fresh copy of poky and meta-raspberrypi (both checked out on morty, and meta dependencies on morty too), but the problem is still appearing, trying to build the DISTRO poky for MACHINE raspberrypi3 :

➜  build git:(morty) bitbake rpi-hwup-image
Loading cache: 100% |#############

[2017-04-24 17:30] agherzan commented on #56
Please submit the issue to mailing list as there there more people who can help with feedback.

[2017-04-26 16:11] carlonluca opened #57 "raspberrypi3-64 fails to build"
Hello! I tried to build for raspberrypi2 and everything seemed to work properly. I then tried to build for raspberrypi3-64 but I got this error:

[code]

Any idea why this is happening?

[2017-04-27 07:53] denyste opened #58 "Dependency rpi-basic-image, vc-graphics and integration xf86-video-fbturbo"
Hi Andrei,
I am creating and building an embedded Linux distribution for the raspberry pi3.
I use the version of Yocto Project 2.2.1 - Morty and the layer meta-raspberrypi.
I am integrating the vc-graphics/vc-graphics-hardfp (meta-raspberrypi recipes) into the image rpi-basic-image.
I am not able to solve the problems of dependencies between the recipe vc-graphics/vc-graphics-hardfp of this recipe

[2017-04-27 13:10] twoerner commented on #58
If you add the following to your local.conf file, your image will use vc4graphics instead of userland:

    MACHINE_FEATURES_append = " vc4graphics"

(note that the space after the opening double-quote and the 'v' is significant)

But I'm not 100% sure that will work for a morty build, you might have to move all your layers to master.

[2017-04-28 09:10] denyste commented on #58
Thanks Twoerner.
How I do this?
How do I move all layers morty branch to master?

[2017-05-11 21:45] jenkins-ag commented on #14
test: please ignore

[2017-05-12 19:22] betafive commented on #57
There was some discussion of this on the mailing list. @carlonluca, Is this now resolved?

[2017-05-12 19:27] betafive commented on #58
@denyste, just checkout the master branch in each layer repository.

[2017-05-12 19:37] twoerner commented on #58
Oops! I missed the followup question. Thanks @betafive!

[2017-05-12 19:55] agherzan commented on #53
@metamorphling Were you able to make it work?

[2017-05-14 00:01] carlonluca commented on #57
Yes, solved. It can be closed.

[2017-05-15 08:59] #57 closed

[2017-05-17 17:51] agherzan commented on #55
This was fixed in master. Ref.: https://github.com/agherzan/meta-raspberrypi/commit/fe909cd5b9cb23dabc4f8d3600f5ec6b3e8443c1

[2017-05-17 17:51] #55 closed

[2017-05-17 17:53] agherzan commented on #56
Tested it on morty and it seems working fine.

[2017-05-17 17:53] #56 closed

[2017-05-19 21:57] agherzan commented on #58
@denyste How is it going?

[2017-05-22 07:57] betafive opened #74 "Readme is too long and needs breaking up"
Creating this so we don't forget...

Should we split the Readme into files in a doc directory in the git repository itself or should we use the wiki on GitHub? My preference is a doc directory as we're then not tied to GitHub too closely.

[2017-05-22 08:47] agherzan commented on #74
I would not go for github wiki either as I'm not sure how we can migrate in case we want to switch from it. I would vote though for something that can be interpreted / parsed / compiled in pdf and html.

[2017-05-22 08:52] betafive commented on #74
Ok. It sounds like a doc directory full of markdown formatted files is the way to go. We can then use sphinx or one of the thousand other similar tools to turn that into html/pdf.

[2017-05-24 15:33] agherzan commented on #58
Closing due to no activity.

[2017-05-24 15:33] #58 closed

[2017-05-24 15:35] agherzan commented on #53
Hopefully you managed to make it work. It would be great if you give us some feedback. I'll close the ticket for now. Do comment if there is anything we can help with.

[2017-05-24 15:35] #53 closed

[2017-05-26 06:47] mirzak opened #78 "rpi-test-image: missing dependency"
**Description**

`rpi-test-image` is un-buildable

The problem above is that I was following the instructions of the README of morty branch, and it does not mention dependencies on "meta-oe/meta-networking" and "meta-oe/meta-python". The `rpi-test-image` requires previously mentioned layers.

Creating this issue so that I wont forget to update the documentation.

Question:

Shall we first convert

[2017-05-26 08:45] betafive commented on #78
I think it's probably best to change this after merging #75 so that series doesn't need to be rebased.

[2017-05-26 10:42] agherzan commented on #78
@betafive I don't think we should bring the documentation work back in morty. It would be an additional work for which I fail to see amazing gain. I would say to let morty with old README, and only bring proper documentation in pyro an master. if you guys agree, we can have this addition only in morty for the README.

[2017-05-26 10:43] betafive commented on #78
Ah sorry I misread, if this is just for morty then yes just need to update the README.

[2017-05-26 10:44] agherzan commented on #78
Master already has this note in README. Thanks guys.

[2017-05-26 11:16] #74 closed

[2017-05-27 02:24] #22 closed

[2017-06-15 10:36] michal-mazurek opened #85 "raspberrypi3-64 MACHINEOVERRIDES"
Currently meta-raspberrypi/conf/machine/raspberrypi3-64.conf sets:
`MACHINEOVERRIDES = "raspberrypi3:raspberrypi:${MACHINE}"`
Is there a need for it to include "raspberrypi"? The non-64bit version doesn't seem to do that.

[2017-06-15 10:40] agherzan commented on #85
I think that is an issue. We should only have raspberrypi3 there and rely on `rpi` as family sock. @kraj , thoughts?

[2017-06-15 16:00] kraj commented on #85
I think it can be removed, if 32bit version doesnt use it then we dont need it for 64bit version either
we have to fix fallouts though.

[2017-06-15 19:46] agherzan commented on #85
@michal-mazurek Would you be able to sent a PR for this too?

[2017-06-19 15:32] xkrys commented on #14
I'm also struggling with this, I want to add some support for can devices from my custom layers but changes from kernel fragments are ignored

[2017-06-26 12:38] agherzan commented on #14
There were some patches in the mailing list in this regards. If anyone has a little bit of time, a PR would be great.

[2017-06-27 10:16] markwang1971 opened #89 "webkitgtk build is failed"
I have got the latest branch and its build is OK. But if webkitgtk is enabled, the build is failed because
some interfaces are not defined in gl2ext.h. For example,  PFNGLFRAMEBUFFERTEXTURE2DMULTISAMPLEIMGPROC,  likely its version is too old.  Can I upgrade opengl es by myself?

[2017-06-28 13:27] agherzan commented on #89
Hello @markwang1971 . I'm not testing or playing with webkitgtk so I am not aware of this issue. What do you mean by updating opengl? I mean what provider?

[2017-06-28 14:42] markwang1971 commented on #89
Hi agherzan, the default build of meta-raspberrypi uses userland to generate GLES2 header files in sysroot, which are too old and cause the failure of webkitgtk.

But after adding MACHINE_FEATURE_append = " mesa-gl" (or mesa ), userland will be ignored and the mesa will generate GLES2 header files in sysroot, with which webkitgtk build can success.

[2017-06-28 14:58] agherzan commented on #89
I don't really understand why that MACHINE_FEATURE works with `mesa-gl`. The gles provider is set in meta-raspberrypi in rpi-default-providers.inc . Did you manually set mesa as gles provider?

[2017-06-29 00:51] markwang1971 commented on #89
Sorry, it should be MACHINE_FEATURE_append = " vc4graphics", which causes userland to be replaced by mesa.

[2017-06-29 09:43] agherzan commented on #89
Most probably not. This sounds like and issue to be raised against the userland repository. They would be able to give us additional information.

[2017-07-19 13:27] Minipada opened #97 "RPI CM3 64 Bits"
**Description**
I am trying to write a configuration file for the cm3 64 bits, but I keep getting errors regarding `KERNEL_DEVICETREE`. I am trying to make the machine similar to the raspberrypi3-64 and add the `KERNEL_DEVICETREE` for the CM, but from what I understand, they are not shipped.
During compilation, it fails, not finding some dtb.It seem `KERNEL_DEVICETREE` points to some, but those ar

[2017-07-24 09:40] TafThorne opened #98 "rpio requires the logging and threading Python packages but does not RDEPENDS them in recipe"
**Description**

The rpio tool requires Python's logging and Threading library code.  These libraries are not present on a minimal install and must be required by the tool's recipe to ensure they are included in the build.

**Steps to reproduce the issue:**
1. Checkout a work area for Raspberry Pi work
1. Add rpio to the list of things to `IMAGE_INSTALL_append`
1. Perform a `rpi-basic-image` gener

[2017-07-26 16:09] #98 closed

[2017-07-26 22:16] yangjiel opened #101 "Provider conflicts"
When I try to build all the packages in morty branch, I have couple errors:

[code]

I fixed this by changing the rpi-default-providers.inc of virtual/egl, virtual/libgles2, virtual/libgl, virtual/mesa to mesa, then I have other errors:

[code]

I fixed this by changing the gstreamer1.0-plugins-bad_%.bbappend
[code]
and there seems no error.

Could you reproduce those problems and fix them upstrea

[2017-07-27 09:13] betafive commented on #101
Could you try reverting your changes and setting the following in your local.conf file:

    MACHINE_FEATURES += "vc4graphics"

This should then set the correct providers for virtual/egl, virtual/libgles2, etc and remove "dispmanx" from the PACKAGECONFIG for gstreamer1.0-plugins-bad.

We may need to improve the documentation to say which packages require vc4graphics to be enabled.

[2017-07-27 09:24] betafive commented on #97
Looking in the linux-raspberrypi kernel sources, there isn't any `*-cm.dtb` files in https://github.com/raspberrypi/linux/tree/rpi-4.9.y/arch/arm64/boot/dts/broadcom.

I'd recommend asking on the linux-raspberrypi repository what the correct dts file is to for the RaspberryPi CM3 to be used in 64-bit mode.

[2017-07-27 09:34] Minipada commented on #97
You are right, that's where I mostly working. It's a WIP on the kernel and will update you asap. I'd like to merge it here once it's done

[2017-07-27 09:36] betafive commented on #97
Ok that's good news, it'd be nice to have the CM3 working with a 64-bit operating system.

Do you have a kernel branch that does have the dts files you need?

[2017-07-27 09:42] Minipada commented on #97
Yes, [here](https://github.com/synapticon/linux/tree/feature_rpi-cm3-64). For now, it is more experiments since it's the first time I work with this.

[2017-07-27 09:45] betafive commented on #97
Ok. For development you can modify `recipes-kernel/linux/linux-raspberrypi_4.9.bb` in the meta-raspberrypi layer, change SRC_URI to point to your kernel repository and branch. That should allow you to test your changes. Once they're working and have been merged in to the upstream linux-raspberrypi repository you can send us a pull request to add the raspberrypi-cm3-64 MACHINE configuration.

[2017-07-27 10:45] Minipada commented on #97
Yes, thanks for the informations. I'm really new to the kernel side, but am used to Yocto. This is pretty interesting, but I have to say, it lacks documentation, especially on some dts files. One needs to dig to understand why it's needed. e.g, why is the bcm2837 needed for the 64 bit rpi3.

[2017-07-27 23:47] yangjiel commented on #101
Thank you for your reply and helping, there is no such error anymore.

[2017-07-27 23:47] #101 closed

[2017-08-01 10:31] gizero opened #104 "RPi not booting with latest u-boot from oe-core"
Still nailing this down by bisecting poky repo (annoyingly lengthy task...), but looks like some recent commit on oe-core broke the capability of booting with u-boot in the chain... Anyone seeing this as well?

The boot hangs at 'Starting kernel ...' and at first glance the most evident difference w.r.t. a working sdcard image is that there is no mention of the dtb blob being used to boot.

A core

[2017-08-01 12:15] gizero commented on #104
Bisect confirmed it was the upgrade to u-boot v2017.07 to break the boot. I started digging into changes between v2017.05 and v2017.07 and it seems there is some meat on RPi side, most notably support for device tree overlay and configuration switch to driver model for both USB and MMC.

[2017-08-02 08:58] betafive commented on #104
I can confirm this on both raspberrypi and raspberrypi3. I also can't interrupt u-boot by hitting keys so it looks like it's ignoring the USB keyboard. I'm currently having a look upstream to see what's been changed.

[2017-08-02 09:24] betafive commented on #104
Upgrading the firmware to the latest commit from https://github.com/raspberrypi/firmware doesn't fix the issue.

[2017-08-02 09:41] betafive commented on #104
http://git.denx.de/?p=u-boot.git;a=commit;h=8b7d0924544156010a0b9e51dfa9b5985d136f64 is probably half the problem, support for Raspberry Pi devices is no longer maintained upstream.

[2017-08-02 12:15] betafive commented on #104
I've got a working u-boot by revering a couple of commits and dropping the CONFIG_USB_STORAGE option. See https://gitlab.com/toganlabs/u-boot/commits/pbarker/rpi if you want to test this.

I'm not going to merge these as patches against u-boot in meta-raspberrypi yet. I've sent an email to the u-boot list and will wait a couple of days to see what response I get.

[2017-08-02 12:48] gizero commented on #104
@betafive Thanks for looking at it. I also tried the firmware upgrade way with no luck (used latest tagged release, not the master branch tip). From your reverts I realized my git grep was not catching all rpi related changes between the two u-boot releases: I'll look into it again while I already focused on DT and DM related changes... maybe I can figure out what really broke it. In the meanwhile

[2017-08-03 07:10] aurelian17 opened #105 "wiringpi library is not linked correctly"
**Description**

Incorrect order of compiler flags causing the libwiringpi.so library to not have the required linking dependencies.

**Steps to reproduce the issue:**
Build an executable that links to libwiringpi.so. The compilation of this executable will break with the following error:
recipe-sysroot/usr/lib/libwiringPi.so: undefined reference to `crypt'
| collect2: error: ld returned 1 exit st

[2017-08-04 12:10] Minipada commented on #97
Here as an update. I manage to boot, the kernel log seems really promising. My only issue is it seems device tree overlays are ignored, for a reason I ignore. Because they are ignored, I cannot use `pi3-disable-bt` enabling to log in. Hence the message `console [ttyS0] enabled` is not displayed

I think dtoverlays are ignored since adding overlay to use uart1 doesn't change any behavior.

The setu

[2017-08-06 08:50] d21d3q opened #106 "Support for multiple displays"
There is currently one Waveshare display supported ([here](https://github.com/agherzan/meta-raspberrypi/blob/f6a2ca21c72b8d97cd0f89a0a436bf90b431698b/recipes-bsp/bootfiles/rpi-config_git.bb#L121)).
It is being done by setting variable `WAVESHARE_1024X600_C_2_1`
[code]
I am going to add support for different displays (which have different parameters). I am thinking about doing it in way like this:

[2017-08-06 21:20] fwag opened #107 "WiFi driver error"
**WiFi driver init fail**

I'm using the pyro version of this Yocto layer and when I boot up the image I receive the following error:
[    3.392744] brcmfmac mmc1:0001:1: Direct firmware load for brcm/brcmfmac43430-sdio.bin failed with error -2

This is my bblayers variable:
BBLAYERS ?= " \
  /opt/yocto/poky/meta \
  /opt/yocto/poky/meta-poky \
  /opt/yocto/poky/meta-yocto-bsp \
  /opt/yocto/poky/

[2017-08-07 19:32] fwag commented on #31
Anyone has tried on new pyro ? I'm facing this issue
[ 3.392744] brcmfmac mmc1:0001:1: Direct firmware load for brcm/brcmfmac43430-sdio.bin failed with error -2

[2017-08-09 09:58] ollyw commented on #14
Hi all, I tried the patches on the mailing list and extended for RPI3. I will put in a PR once it works, however, it doesn't seem to work fully, and I wondered if I could get some help?

I get a QA error that the /lib folder is not shipped. I can't see why the patches from https://lists.yoctoproject.org/pipermail/yocto/2015-August/026101.html would cause that issue as they don't seem to include ch

[2017-08-09 17:02] twoerner commented on #106
I'm most likely the only person using that option (I was the one who added it). If we're going to change to a new style of specifying the panel (i.e. from resolution to product description) then we shouldn't keep the older style for backwards compatibility.

It's no problem for me to change it in my config files. Over time this sort of backwards compatibility ends up looking silly :-)

[2017-08-15 07:47] ehrenmann1977 opened #108 "set_image_size number of sectors 81920 not a multiple of sectors per track 63"
**Description**

**Steps to reproduce the issue:**
1. Yocto-Morthy
2. meta-raspberrypi
3. meta-diet
4. enable the systemd in local.conf

**Describe the results you received:**
failed due to image size

[2017-08-16 08:06] betafive commented on #108
Please could you send us the full bitbake output including the error.

[2017-08-23 15:37] agherzan opened #111 "Build fails due to gstreamer1.0-omx update in poky"
**Description**

The build fails with current poky master.

**Steps to reproduce the issue:**
1. poky master
2. build rpi-test-image

**Describe the results you received:**

[code]

**Describe the results you expected:**

Successful build.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Additional details (revisions used, host distro, etc.):**

[2017-08-23 15:38] agherzan commented on #111
@kraj I'm going to try to port the patches to 1.12.

[2017-08-23 15:55] kraj commented on #111
I had patch on my fork already just proposed it for master

[2017-08-23 15:57] agherzan commented on #111
I thought so. OK. I'll let the builds finish and merge it. Thanks.

[2017-08-23 17:11] agherzan commented on #108
@ehrenmann1977 were you able to find the roots of the problem? We would like to find out if so. Otherwise we will be closing this issue.

[2017-08-23 17:12] agherzan commented on #31
What revision are you using?

[2017-08-23 17:13] agherzan commented on #107
@betafive Do you have ny idea if pyro has broken wifi?

[2017-08-23 17:16] agherzan commented on #97
Why don't you use the default serial console? And figure it out from there.

[2017-08-23 20:36] Minipada commented on #97
Hey @agherzan, I worked on it since last update, but I was not working for almost 3 weeks or so. I'll update the status in the next week

[2017-08-24 08:59] gizero commented on #104
Hi! I'd like to know what the general feeling is on this issue... @betafive started [this](https://lists.denx.de/pipermail/u-boot/2017-August/300857.html) discussion on the the u-boot list a while ago: there was some feedback, but mostly focused on finding the minimal set of reverts required to make it functional again. Do you think it's time for crafting a patch/bbappend for meta-raspberrypi to o

[2017-08-24 20:55] ehrenmann1977 commented on #108
hi there,

yes i could solve this issue, i created a file at ~/.mtoosrc

Add mtools_skip_check=1 to skip this test

On Wed, Aug 23, 2017 at 7:11 PM, Andrei Gherzan <notifications@github.com>
wrote:

[2017-08-25 08:35] betafive commented on #104
I've been a bit busy this week but going to look at this today. I'll put a set of minimal reverts in place in meta-raspberrypi so that we at least have something working for now.

I'm going to have a think about the upstream maintenance issue as well, I'm pretty heavily dependent on u-boot (as tftp boot saves so much time in testing) and don't want to see this stagnate.

[2017-08-28 21:20] #104 closed

[2017-09-01 12:59] #105 closed

[2017-09-05 11:50] Minipada commented on #97
I am almost done but I still cannot make have the HDMI working. I found out vc4 driver was not loaded. I then tried with a raspberrypi3-64 (not compute module) machine but no success, I have exactly the same issue, videocore is not loaded.I'm using the minimum layers for creating the machine and here is my setup.

* Config.txt:

      #Enable VC4 Graphics
      dtoverlay=vc4-kms-v3d
      gpu_mem=

[2017-09-07 06:31] kraj commented on #111
this should be closed

[2017-09-07 06:33] kraj commented on #89
@markwang1971 yes update userland and also submit it upstream

[2017-09-07 07:33] jku commented on #108
Are you 100% sure this is on morty or newer? I'm fairly confident I've fixed this before morty release in oe-core (commit "mtools: Patch out a useless sanity check").

[2017-09-11 12:38] #111 closed

[2017-09-12 20:40] wian007 opened #122 "Wrong version gstreamer1.0-omx_1.10%.bbappend in pyro branch"
**Description**
recipes-multimedia/gstreamer/gstreamer1.0-omx_1.10%.bbappend  generates the error
"ERROR: No recipes available for:" on the pyro branch.

Poky pyro switched to:
meta/recipes-multimedia/gstreamer/gstreamer1.0-omx_1.12.2.bb

This master branch has the correct bbappend.

**Steps to reproduce the issue:**
1. Clone the poky pyro branch
2. Clone the meta-raspberrypi pyro branch
3. Bitbak

[2017-09-12 20:41] wian007 commented on #122
Suggested fix, merge master to pyro for gstreamer1.0* recipes

[2017-09-13 06:23] betafive commented on #122
Looks like it's still 1.10.x on pyro: http://git.yoctoproject.org/cgit/cgit.cgi/poky/tree/meta/recipes-multimedia/gstreamer?h=pyro

Are you sure you have the correct Poky branch checked out?

[2017-09-13 08:48] wian007 commented on #122
I'm so sorry, though I double checked it but it seems I have the wrong branch checked out.
Guess I need more sleep

[2017-09-13 08:48] #122 closed

[2017-09-14 13:42] agherzan commented on #122
Don't worry about it @wian007 . Glad you found the issue.

[2017-09-14 17:42] embexus opened #124 "RPi WIC image build does not include bootfiles"
wenn building Rpi image using WIC format the image does not include bootfiles and hence is not able to boot !

[2017-09-14 17:48] embexus commented on #124
following patch fix the issue:

diff --git a/conf/machine/include/rpi-base.inc b/conf/machine/include/rpi-base.inc
index 4a0ea2a..fe4849b 100644
--- a/conf/machine/include/rpi-base.inc
+++ b/conf/machine/include/rpi-base.inc
@@ -48,7 +48,7 @@ MACHINE_FEATURES += "apm usbhost keyboard vfat ext2 screen touchscreen alsa blue
 # Raspberry Pi has no hardware clock
 MACHINE_FEATURES_BACKFILL_CONSIDERED

[2017-09-14 17:49] embexus commented on #124
Adding MACHINE_EXTRA_RRECOMMENDS += " kernel-modules bcm2835-bootfiles rpi-config" in conf/machine/include/rpi-base.inc should fix this issue

[2017-09-14 17:54] gizero commented on #124
I use to build raspberrypi3 images generated by both `wic` and `sdcard_image_rpi` class, but still only use the latter for production. However, I'd bet the `wic` one used to boot fine at least until a few weeks ago. I remember I compared the vfat partitions content from the two images and they looked identical in the end. I'll get back to these observations and see if things have changed.

[2017-09-14 17:56] embexus commented on #124
This issue has been identified on pyro branch, didn't test master

[2017-09-15 06:43] agherzan commented on #124
The problem is that when using wic and not generating the sdcard, nobody depends on bcm2835-bootfiles and those files will not be deployed. Most probably you either generated both - sdcard first, or you had it build already.

[2017-09-15 06:52] gizero commented on #124
Indeed `wic` was added via `IMAGE_FSTYPES_append = " wic"`, always alongside with its default value from machine config so it's very likely what you say. If different `IMAGE_FSTYPES` get processed in order, I definitely never tried `wic` "alone".

[2017-09-15 07:09] betafive commented on #124
I have tested pull request https://github.com/agherzan/meta-raspberrypi/pull/120 with `IMAGE_FSTYPES = "wic"` for both raspberrypi3 and raspberrypi3-64. That does pick up the correct files now and the images do boot successfully.

I'm pretty sure the change should be to `IMAGE_BOOT_FILES` not `MACHINE_EXTRA_RRECOMMENDS` as the files need to go in the boot partition rather than the rootfs. I may be

[2017-09-15 07:12] agherzan commented on #124
That indeed is the right fix. We do need though to backport it in pyro.

[2017-09-15 07:14] betafive commented on #124
Agreed. I'm away for the next couple of days (moving house & office) but after that I'm going to take another look at pyro backports.

[2017-09-15 07:16] agherzan commented on #124
Thanks @betafive

[2017-09-19 04:10] bkzshabbaz commented on #57
How was this issue resolved?  I'm still seeing it on my end.

[2017-09-21 19:48] betafive commented on #108
Closing this as there's a workaround in place and the issue should be fixed in oe-core as per comment above from @jku. Feel free to re-open if needed.

[2017-09-21 19:48] #108 closed

[2017-09-21 19:52] betafive commented on #97
@Minipada - HDMI output not working is a known issue with raspberrypi3-64, it's now in the documentation. We're looking at get it fixed though. Khem's latest patches may help here and these have been merged to master - could you re-try with the latest master? If that doesn't work, I've got another possible solution in progress as well which we could try.

[2017-09-21 20:02] Minipada commented on #97
@betafive Thanks for the hints, I'll try after the current tests. I managed to use the screen using the fkms, I get a warning but this is enough to debug the dts properly. I have made some progress after understanding the device tree wiki and answers from the pelwell, the rpi DT master.
Thanks to the screen (I still don't have ttyS0 access), I see the firmware loads by default the device tree star

[2017-09-25 11:20] agherzan commented on #124
This should be fixed in master. Ping us if that is not the case.

[2017-09-25 11:20] #124 closed

[2017-09-27 19:46] embexus commented on #107
Pyro has no problem with wifi just built one image now, wifi working correctly !

[2017-09-27 19:51] embexus opened #131 "WIC Image / u-Boot"
Version Pyro:
In case I build a WIC image and select my KERNEL_IMAGETYPE = "uImage" and add IMAGE_BOOT_FILES += "u-boot.bin  boot.scr"
The Rpi dos not boot up. To fix the problem :
I need to rename manually  kernel.img to uImage and u-boot.bin to kernel.img.
I have no idea how to perform this operation automatically with WIC (like in sdcard_image-rpi.bblcass) so that WIC image is correctly generat

[2017-09-27 20:41] embexus commented on #131
Ok I figured it out in case of KERNEL_IMAGETYPE = "uImage" , IMAGE_BOOT_FILES  should be set to:

IMAGE_BOOT_FILES ?= "bcm2835-bootfiles/* \
                 ${@make_dtb_boot_files(d)} \
	         u-boot.bin;${SDIMG_KERNELIMAGE} \
		 boot.scr \
                 ${KERNEL_IMAGETYPE} \
                 "

[2017-09-27 21:06] betafive commented on #131
I know this is working on the master branch as I tested it with recent changes. We probably need to look at backporting 04a33ead and maybe 43e0169a and c26e9d3d from master to pyro.

I've been planning on looking at pyro backports for a while but I've been delayed due to my main internet connection being down. I can't make any promises on when I'll get to this, but I will look at it as soon as I g

[2017-09-29 11:22] fgiancane8 opened #132 "weston dependencies not resolved when using userland"
Hi,
I am having a discussion in the oe-core mailing list, which I report here.
http://lists.openembedded.org/pipermail/openembedded-core/2017-September/142897.html

I am having issues in building weston (and Xwayland) when the provider for the openGL stack is selected to be "userland".

In the discussion, it is pointed out that "userland" recipe should RPROVIDES also the libegl, which actually doe

[2017-09-29 14:52] fgiancane8 commented on #132
From 1db90106c25bcc9fae548db5e123bf05bd69946d Mon Sep 17 00:00:00 2001
From: Francesco Giancane <francescogiancane8@gmail.com>
Date: Fri, 29 Sep 2017 16:48:44 +0200
Subject: [PATCH] userland: RPROVIDES is missing libegl

userland package is the Raspberry Pi 3 provider for the openGL stack.
If selected, it shall provide the gles2 and egl stacks in conjunction
with mesa-gl.

libegl was missing in th

[2017-09-29 14:52] fgiancane8 commented on #132
possible patch here...

[2017-09-30 10:30] agherzan commented on #132
Hi @fgiancane8 . Something looks fishy here. Why would we have egl and libegl. Aren't they the same thing? Maybe this was renamed in oe-core?

[2017-09-30 10:49] agherzan commented on #107
So we can close this ticket?

[2017-09-30 10:55] fwag commented on #107
Can you share the configuration files ?

[2017-09-30 11:04] agherzan commented on #107
@fwag are you using pyro branch for both poky and meta-raspberrypi?

[2017-09-30 11:08] fgiancane8 commented on #132
Hi Andrei,

The very same issue is bugging me. If you search the providers, we are
talking about the package virtual/egl. If you search in the recipe
xorg-xserver, it says that its PACKAGECONFIG[glamor] depends on libegl;
also check the mesa.inc file; it RPROVIDES libegl.

I had the same discussion on oe-core (which I reported in the link in my
first comment) but I was told that it is correct to h

[2017-09-30 11:40] fgiancane8 commented on #132
`PACKAGECONFIG[glamor] = "--enable-glamor,--disable-glamor,libepoxy,libegl"`

this is the unsatisfied dependency when choosing userland as PREFERRED_PROVIDER for openGL...

[2017-09-30 12:21] fwag commented on #107
yes of course

[2017-10-04 14:21] Minipada commented on #97
Please excuse me @betafive for the very late answer. [Here](https://github.com/synapticon/linux/tree/cm3_64) is the WIP with a description of the current status.

[2017-10-06 23:57] fwag commented on #107
if it could help I have seen the following warning while compiling linux-firmware:
WARNING: linux-firmware-1_0.0+gitAUTOINC+b14134583c-r0 do_install: linux-firmware stopped providing brcmfmac43430 v7.45.41.26.

[2017-10-13 15:15] fwag commented on #107
I finally solved it removing meta-rpi and just using meta-raspberrypi (bblayers.conf).
I have added in my local.conf the following lines:
DISTRO_FEATURES += "wifi"

IMAGE_INSTALL_append = " \
    crda \
    iw \
    linux-firmware-bcm43430 \
    linux-firmware-ralink \
    linux-firmware-rtl8192ce \
    linux-firmware-rtl8192cu \
    linux-firmware-rtl8192su \
    wireless-tools \
    wpa-supplica

[2017-10-13 15:15] #107 closed

[2017-10-13 15:30] fwag opened #140 "Static library issue"
I don't know if it could be off topic here.
Anyway, I don't know where to ask.

I have created a meta-layer (meta-kp) with:
recipes-example: an example taken from Embedded Linux Projects Using Yocto Project Cookbook with a static library recipe and the relative application.

recipes-piface:  my recipes for an expansion board
- libmcp23s17: a static library
- exmcp23s17: an example just to use this

[2017-10-13 18:49] betafive commented on #140
This sort of question isn't specific to meta-raspberrypi. Your best place to ask this is on the main Yocto Project mailing list (https://lists.yoctoproject.org/listinfo/yocto) or IRC channels (#yocto or #oe on irc.freenode.net).

[2017-10-13 18:49] #140 closed

[2017-10-15 15:12] phatina opened #141 "Raspberry Pi Zero W fails to load firmware for wireless adapter"
**Description**
Loading **brcmfmac** kernel module results in: `brcmfmac43430-sdio.bin failed with error -2` -- so there is no wlan interface and I have no connectivity.

**Steps to reproduce the issue:**
1. enable systemd for yocto build
2. build rpi-hwup-image
3. boot the image

**Describe the results you received:**
No wlan0 interface available.

**Describe the results you expected:**
Wireless

[2017-10-15 19:53] phatina commented on #141
Thanks for updating meta-raspberry, I managed to get my device online.

[2017-10-15 19:53] #141 closed

[2017-10-20 14:02] naveen230 opened #142 "Expansion error"
I'm trying to build ubuntu based rpi3 image and I'm getting the following error,

ERROR: ExpansionError during parsing /poky/meta-raspberrypi/recipes-devtools/python/rpi-gpio_0.6.3.bb
Traceback (most recent call last):
  File "/poky/bitbake/lib/bb/data_smart.py", line 386, in DataSmart.expandWithRefs(s=' ${PYPI_SRC_URI}', varname='SRC_URI'):
                 try:

                     try:
  File

[2017-10-20 14:54] agherzan commented on #142
What version of each layer are you using?

[2017-10-20 14:55] agherzan commented on #131
@embexus this should be fixed now in pyro. Can you confirm?

[2017-10-20 15:22] embexus commented on #131
yes it's fixed by the commit :40447de4782d76f1e23e67ba05e272c27f6ec250

[2017-10-20 15:25] agherzan commented on #131
Thanks.

[2017-10-20 15:25] #131 closed

[2017-10-21 23:24] laibulle opened #143 "ExpansionError during parsing /home/mender/poky/meta/recipes-extended/images/core-image-testmaster.bb"
__steps to reproduce__
[code]

__conf/bblayers.conf__
[code]

__Error__
[code]

[2017-10-22 08:03] betafive commented on #143
The issue here seems to be the exception "OSError: [Errno 12] Cannot allocate memory". I'd guess that's a problem with your build machine rather than within OE (unless there's a bug in bitbake we don't know about).

Do you have at least ~1GB RAM on the machine you're building on? And do you have an alternative machine you could test this on?

[2017-10-22 08:05] laibulle commented on #143
I will try on an other VPS.

[2017-10-22 08:06] agherzan commented on #143
What are the specs of your vps?

[2017-10-22 08:09] laibulle commented on #143
It has 2 GB of ram and 2 x86_64 cores. But it already run a full Mender stack so I don't think that it has 1 GB of ram available

free -m
[code]

[2017-10-22 08:11] betafive commented on #143
Could you try building core-image-minimal with a clean poky clone, without any additional layers? Then add layers in a couple at a time (meta-oe layers first, then meta-raspberrypi, then meta-mender layers).

[2017-10-22 08:27] agherzan commented on #143
Even so, I'm pretty sure less than 1G of ram is not feasible.

[2017-10-22 08:46] laibulle commented on #143
I am trying on a baremetal server, it seems to work for now. I will give you a feedback once it is completed.

Thank you

[2017-10-22 09:10] agherzan commented on #143
Sounds good.

[2017-10-22 20:50] laibulle commented on #143
Ok, I was able to build with a better server.

[2017-10-22 20:50] #143 closed

[2017-10-23 04:46] agherzan commented on #143
Thanks for feedback. I'm glad. Enjoy!

[2017-10-23 15:10] naveen230 commented on #142
Thanks for your reply!

Here are the layers I'm using
poky/meta \
  /poky/meta-poky \
  /poky/meta-yocto \
  /poky/meta-yocto-bsp \
  /poky/meta-debian \
  /poky/meta-raspberrypi \
  /poky/meta-openembedded \
  /poky/meta-openembedded/meta-python \
  /poky/meta-openembedded/meta-oe \
  /poky/meta-openembedded/meta-multimedia \
  /poky/meta-openembedded/meta-networking \
  /poky/meta-openembedded/m

[2017-10-23 15:16] naveen230 commented on #142
I tried different branches of meta-raspberrypi and I'm getting the same expansion error but with different files
ExpansionError during parsing /poky/meta-raspberrypi/recipes-core/images/rpi-test-image.bb
Traceback (most recent call last):
  File "/poky/meta/classes/image.bbclass", line 446, in __anon_510__poky_meta_classes_image_bbclass(d=<bb.data_smart.DataSmart object at 0x7f54ec08e940>):

[2017-10-23 17:52] agherzan commented on #142
You need to use the same branch for meta-raspberrypi - morty that is. There are changes that are incompatible with old yocto version which are part of the master branch.

[2017-10-23 18:06] naveen230 commented on #142
Thanks !

[2017-10-23 18:25] #142 closed

[2017-10-25 09:05] betafive commented on #106
This sounds like a good enhancement, any progress on this @d21d3q ?

[2017-10-25 09:10] betafive commented on #132
The patch above does look correct based on the discussion on the oe-core mailing list. Could you submit this as a pull request?

[2017-10-25 09:13] betafive commented on #97
@Minipada, are you planning to upstream this to the linux-raspberrypi kernel or carry this as a patch in meta-raspberrypi? HDMI output in 64-bit mode should definitely be working now so it would be good to get support for raspberrypi-cm3-64 as a MACHINE if possible.

[2017-10-25 09:15] betafive commented on #89
@markwang1971, any progress on raising this issue upstream?

[2017-10-25 09:16] betafive commented on #85
@michal-mazurek, @agherzan: Can this be closed now as the pull request above has been merged?

[2017-10-25 09:17] betafive commented on #78
Closing as the pull request above fixes this for morty.

[2017-10-25 09:17] #78 closed

[2017-10-25 09:17] Minipada commented on #97
Hello @betafive I have actually made it work and updated my PR on the raspberryi/linux repository but got no answer. I am going to push the tests in some days, the OS will be used by the team and I will have more assurance of the quality of the work done
Here is the link: https://github.com/raspberrypi/linux/pull/2147

[2017-10-25 09:19] betafive commented on #14
@agherzan, @giraldeau, @andig75 : Can this be closed now? Looks like the pull request above has been merged and should resolve this.

[2017-10-25 09:21] betafive commented on #97
Ok, let's see how it goes upstream. Give them a reminder if needed.

[2017-10-25 10:29] fgiancane8 commented on #132
Hi, thank you for the response.

Pull request submitted.

[2017-10-27 20:39] agherzan commented on #97
pelwell is usually quite responsive so I think he will reply soon.

[2017-10-27 20:40] agherzan commented on #14
Yes. I personally tested this lately. Works just fine.

[2017-10-27 20:40] #14 closed

[2017-10-27 20:41] agherzan commented on #85
Yes. Let's clean. If there's anything left needed, I'll let people to comment. For now I'll close it.

[2017-10-27 20:41] #85 closed

[2017-10-28 12:17] FrankBau opened #146 "fetch form pypi.python.org failed: ERROR 403: SSL is required."
**Description**

http: URIs are used in the recipes below, but no longer accepted by server. Changing to https will fix this.

**Steps to reproduce the issue:**
using pyro branch of meta-raspberry
1. $ bitbake -c fetch rpi-gpio
2. $ bitbake -c fetch rpio

**Describe the results you received:**
server complaines: ERROR 403: SSL is required.

**Describe the results you expected:**
the source is fetc

[2017-10-28 18:07] agherzan commented on #146
So this issue is reproducible on pyro, right? Rocko is not affected. Could you confirm?

[2017-10-29 07:20] FrankBau commented on #146
Right. Both recipes fail for pyro.

Don't yet use rocko, but made a quick test:
rpi-gpio_0.6.3.bb uses already  `inherit pypi` and no explicit URL --> works
rpio_0.10.0.bb is still using the http:// URL fails with same ERROR 403: SSL is required.

hth

Frank

[2017-10-30 12:33] agherzan commented on #132
@fgiancane8 is can we close this issue now?

[2017-10-30 13:05] fgiancane8 commented on #132
@agherzan OK to close. Thanks!

[2017-10-30 13:08] #132 closed

[2017-10-30 15:54] fgiancane8 opened #147 "userland recipe packages split"
Hi @agherzan ,

As pointed out in the previous mailing lists, I am providing some more information about this topic.
Just to recap: my understanding is that the official 'userland' package provided from Broadcom does not only contain *GL* libraries, but also other libraries required for interfacing with the hardware.
Please find attached the output of the 'ls' command on the 'image' directory of t

[2017-11-01 13:33] keeslinp opened #148 "hciattach times out sometimes on first boot for rpi0w"
**Description**
I'm using this layer with yocto to build an image for the rpi0-w, and when I first boot the image on the device sometimes it works flawlessly but other times it doesn't set up the bluetooth properly. If it doesn't work on the first boot then rebooting will usually fix it eventually, sometimes running hciattach manually fixes the problem as well. When I dig through the logs I find t

[2017-11-01 14:55] keeslinp commented on #148
I've done some more testing, it seems that `systemctl restart brcm43438` fixes the problem consistently without a reboot. My band-aid solution is going to be adding a script on startup that checks if bluetooth is broken and if it is it will run that to fix it. Hopefully, that works until we can find a permanent solution :).

[2017-11-02 18:45] mihaelaapetroaie opened #150 "SPI and I2C"
Hello,

I am trying to enable SPI and I2C on a Raspberry PI 3. I am using yocto morty and meta-raspberrypi morty. All my layers are morty.

In the local.conf I have added the lines
$ENABLE_SPI_BUS="1"
$ENABLE_I2C="1"

When my image boots, I get no i2c or spi in /dev, but after doing modprobe i2c-dev and modprobe spidev, i get an i2c-2, but no spidev* whatsoever.

It also seems that my yocto built

[2017-11-02 18:53] agherzan commented on #150
What do you use as final image? The sdcard raw image? Or wic?

[2017-11-02 19:10] mihaelaapetroaie commented on #150
hello,

Thanks for your answer. I actually have a minimal os, and on top of that I have OSTree. added the two lines to enable SPI and I2C in local.conf, rebuilt and sent the difference using OSTree to my yocto minimal image.

However, after I saw your comment, I did a dd of the resulting image on a spare SD card, and i get both spidev* and i2c-* (two each).

Do you, by any chance know why this hap

[2017-11-02 21:25] naveen230 opened #151 "wic error"
Hello
I'm using pyro branches of meta-raspberrypi meta-mender meta-openembedded poky to create basic rpi image and getting following error because of the rootfs size.Any suggestions to overcome this issue?
7-sdimg/
| INFO: Creating image(s)...
|
| WARNING: overhead-factor was specified, but size was not, so bitbake variables will be used for the size. In this case both IMAGE_OVERHEAD_FACTOR and --

[2017-11-07 21:53] FrankBau opened #152 "bitbake gstreamer1.0-plugins-bad failes in rocko (with framebuffer: no x11, no wayland)"
**Description**

Trying to bitbake an image with framebuffer as graphical backend (local.conf: DISTRO_FEATURES_remove = " x11 wayland") and gstreamer 1.0 failes:

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

workaround: remove vulkan from DISTRO_FEATURES in local.conf

After removing vulkan, the image builds fine and the gst plugins bad work fine w

[2017-11-09 14:12] loysollivier opened #153 "raspberrypi3-64 does not build on master"
The raspberrypi3-64 does not build. Error: no rule to make target zImage.

**Steps to reproduce the issue:**
1. Follow quick start instructions
2. Use MACHINE="raspberrypi3-64"
3. bitbake rpi-hwup-image

**Describe the results you received:**
| make[2]: *** No rule to make target 'zImage'.  Stop.

**Describe the results you expected:**
A successful build

**Additional information you deem importan

[2017-11-09 14:19] betafive commented on #153
Ah I see the issue here. arm64 platforms don't support `zImage` as a kernel image format. They do support `Image.gz` but I'm not sure if the raspberrypi firmware is happy to boot that.

I'll have time to resolve this in a few days unless Andrei wants to jump in first.

[2017-11-09 16:50] agherzan commented on #153
Ah! arm64 doesn't provide a decompressor. And .gz needs to be handled by bootloader which I doubt bootcode does. Actually I'm pretty sure it does not. So we will have to revert this back to Image for this machine. It is a simple change. @loysollivier Do you want to push a PR?

[2017-11-09 16:52] loysollivier commented on #153
Thanks for the answers.

Sure if you want, doing it right away :)

On Thu, Nov 9, 2017 at 5:50 PM, Andrei Gherzan <notifications@github.com>
wrote:

--
Loys OLLIVIER
Embedded Software Engineer | Baylibre

[2017-11-09 16:55] agherzan commented on #153
@loysollivier you're the man!

[2017-11-09 21:41] martingkelly commented on #153
I just noticed this issue as well; thanks! How soon do you expect until this reaches master?

[2017-11-09 22:30] agherzan commented on #153
Very soon @martingkelly .

[2017-11-10 12:39] #153 closed

[2017-11-17 20:27] martingkelly commented on #49
I have also hit this issue. Was there ever a resolution to this?

[2017-11-18 00:24] martingkelly commented on #49
I think I have a solution to the issue; see referenced PR.

[2017-11-18 21:29] agherzan commented on #49
@martingkelly Nobody chased this one. Thanks for the fix. I'm currently on vacation for a week do you have this as a huge priority? I need to work a little to figure out what is going on. I'm not sure I understand from your PR exactly how dev tool build influences the creation of the config file.

[2017-11-18 22:35] martingkelly commented on #49
Hi, no problem waiting for a review.

I don't fully understand devtool; it appears that devtool just adds an inheritance from externalsrc.bbclass into the recipe. What I observed during debugging is that this line fails:

[code]

Because ${B}.config does not yet exist when we run this line, while in the normal build it does exist. It appears that ${B}.config normally gets created in kernel.bbclass

[2017-11-22 14:25] keeslinp opened #160 "U-boot not working on rpi0w"
**Description**

I am trying to get mender to work on a rpi0-w and I am having trouble getting it to boot. It gets stuck at the rainbow screen which means that there is a problem with the kernel.img.

**Steps to reproduce the issue:**
1. Follow these steps https://github.com/mendersoftware/meta-mender/tree/master/meta-mender-raspberrypi

**Describe the results you received:**
rainbow screen

**Des

[2017-11-22 15:03] betafive commented on #160
Can you ping the original patch author and see if he can update the patch and re-submit to the u-boot mailing list if it works?

[2017-11-22 15:36] keeslinp commented on #160
I'm actually not sure how to ping him, it seems I can't comment on the post because I have no reputation in that community. As I was poking around I had a thought about whether or not `make rpi_0_w_defconfig` is ever being called. Where are all the other `defconfig`s being `make`ed?

[2017-11-22 15:40] betafive commented on #160
The variable which determines the u-boot configuration used in OE is `UBOOT_MACHINE`. We define this in each machine's conf file under `conf/machine`. You should be able to change this in `raspberrypi0-wifi.conf` to match the newly introduced configuration.

[2017-11-22 16:27] keeslinp commented on #160
That helped! Now I was able to get past the rainbow screen and it seems to be stuck at "Starting kernel ..." From what I can see uboot found everything to be okay though. I'm going to try and take out mender and see if just normal uboot works.

[2017-11-22 18:21] keeslinp commented on #160
It still gets stuck at the same spot.
![img_20171122_104724](https://user-images.githubusercontent.com/3063404/33142216-e49e2586-cf72-11e7-81c5-86d89d9fe65f.jpg)

this is my local.conf:

[code]

[2017-11-22 18:29] betafive commented on #160
I'm guessing this is similar to the issue we had on 64-bit Raspberry Pi 3 devices with HDMI output. Sadly I can't help much as I don't have an R Pi Zero.

If you can get a non-OE/Yocto based image booting and outputting graphics (e.g. I know Raspbian, Arch Linux and OpenSUSE are usually good) then compare the `config.txt` file in the boot partition between that image and the image generated from O

[2017-11-22 21:55] keeslinp commented on #160
If I comment out `RPI_USE_U_BOOT = "1"` and `KERNEL_IMAGETYPE = "uImage"` then it boots up like normal and works fine. Would uBoot specifically mess up the hdmi?

I'll check out the config.txt and compare. thanks for the tip.

[2017-11-22 22:22] keeslinp commented on #160
The config.txt's are identical.

This looks promising: http://processors.wiki.ti.com/index.php/Kernel_-_Common_Problems_Booting_Linux (problem 1). I'll see if I can fix that.

[2017-11-22 22:34] keeslinp commented on #160
I found this in the patch file

[code]

But I just tried adding that with no success.

[2017-11-24 11:18] wuxx opened #162 "wget the rpio fail"
**Description**
when I use this command  to compile image for my rpi 3B
$bitbake qt5-image
the bitbake report the wget rpio fail and I have found the reason and the solution.

the origin log output have be overwritten, but we can reproduce it, just use the wget cmd

**Steps to reproduce the issue:**
1.
$wget http://pypi.python.org/packages/source/R/RPIO/RPIO-0.10.0.tar.gz
--2017-11-24 18:10:22--

[2017-11-24 11:20] wuxx commented on #162
added: I work with the branch rocko

[2017-11-27 07:57] betafive commented on #162
It should be possible to modify the recipe to use the pypi class from the meta-python layer. This will set SRC_URI for us from the package name.

Would you like to take a look at that and send a patch?

[2017-11-27 08:06] betafive commented on #162
Duplicates #146

[2017-11-27 08:06] #162 closed

[2017-11-27 08:06] betafive commented on #146
It should be possible to modify the recipe to use the pypi class from the meta-python layer. This will set SRC_URI for us from the package name.

Would you like to take a look at that and send a patch?

[2017-11-27 14:45] agherzan commented on #148
That sounds like a hardware issue. Are you able to reproduce this on a raspbian?

[2017-11-27 15:23] keeslinp commented on #148
I never had this issue on raspbian. I also tested it on 5+ pi's. For what it's worth, once I got the reset script working I never had any more problems. The key is to make sure that nothing tries to use bluetooth before it has been set up properly, otherwise, you have to reboot before it'll work again.

[2017-11-27 15:36] mirzak commented on #152
Well IMO this is not related to meta-raspberrypi.

That is just how poky works nowadays.

If you remove wayland from DISTRO_FEATURES you must also remove vulkan, since vulkan depends on x11 or wayland.

E.g (extending your configuration).

[code]

[2017-11-27 15:41] mirzak commented on #152
or `gstreamer1.0-plugins-bad` needs to be updated to only include `vulkan` if `x11` or `wayland` is present in DISTRO_FEATURES

[2017-11-27 17:03] keeslinp commented on #160
I did a comparison between what the pi3 and the pi0w look like while they boot. Here is an image of the pi3 booting:
![img_20171127_072642](https://user-images.githubusercontent.com/3063404/33278777-d52a8e4c-d359-11e7-9b12-f89ff27059c2.jpg)

The two big differences I noted were that the pi0w doesn't read any usb controllers but the pi3 does. Also, the pi3 seems to have a Flattened  Device Tree bei

[2017-11-29 08:42] FrankBau commented on #152
Yes, I can remove vulkan from DISTRO_FEATURES, see my original posting. But: Raspi HW does not support vulkan, right? Wouldn't it be better when there were some cross-check in the raspi layer avoiding mis-configuration?
One could also argue, like mirzak did, that the error is in the package recipe. Should all packages test for an intersection of MACHINE_FEATURES and DISTRO_FEATURES?
Maybe I should

[2017-11-29 13:20] agherzan commented on #152
The question you have to ask is if this is a raspberrypi specific issue. Would other boards hit the same problem? If the answer is yes, we need to raise this issue against the core.

[2017-12-01 18:04] agherzan commented on #148
If you stop the service and run it manually after everything boots up, does it always work? I'm wondering if there is a dependency that we are not aware of.

[2017-12-01 23:19] keeslinp commented on #148
Yeah, that fixes it fairly consistently. I'll do some tests to see if anything have changed over the last month, but here is the script that I've been using that has worked consistently:

[code]

[2017-12-04 16:49] agherzan commented on #148
It's definitely something that we need to fix for stabolity.

[2017-12-04 21:01] betafive opened #169 "Implement RPI_EXTRA_CONFIG"
(putting this in here so I don't forget)

It would be good to have an RPI_EXTRA_CONFIG variable or similar to add arbitrary text to the config file, so you could do something like this:

[code]

[2017-12-04 22:12] keeslinp commented on #148
Also, I tried removing my fix and the problem returned.

[2017-12-06 11:08] marvic41 commented on #160
Hello,

[2017-12-06 15:33] keeslinp commented on #160
We could try adding it as a patch like I was doing with the other code. If that works, let me know. My company decided to table mender for a bit and find another solution until uboot works on raspberry pi0w. If it does work I'm sure they'd love to know. Good luck :)

[2017-12-06 21:55] mirzak commented on #160
Well it it currently in upstream it will eventually end up here, next release of U-boot is scheduled for 2018.01 I believe and at which point it will be updated in oe-core and we will have support for it.

Until then above patches could be integrated in meta-raspberrypi (bbappend) with status "Backport" until 2018.01 is released. Whoever has interest in having this support please send patches :)

[2017-12-07 13:15] marvic41 commented on #160
Patched (from above link) at this ~/poky/meta/recipes-bsp/u-boot, but yocto not compiling. Than,
Cross compiled uboot (add support for Raspberry Pi Zero W) patched. moved uboot.bin to kernel.img
and copied to boot folder. It got booted with U-boot> prompt
Some thing gone wrong.
![output](https://user-images.githubusercontent.com/7259753/33717037-77d22ebc-db7e-11e7-9364-3c589cf94e90.jpg)

[2017-12-07 13:20] mirzak commented on #160
You need to provide a boot file in some form.

When you build with you Yocto it creates a "boot.scr" file [1] and that is it located on the boot part (same partition as kernel7.img). If you cross-compiled U-boot you need to also create this file and put it in the correct location with the correct name (boot.scr).

[1]. https://github.com/agherzan/meta-raspberrypi/blob/master/recipes-bsp/rpi-u-boot

[2017-12-07 13:35] marvic41 commented on #160
Patched (from above link) to ~/poky/meta/recipes-bsp/u-boot, yocto  did not compiled, than took the uboot (add support for Raspberry Pi Zero W ) source and  cross compiled. Changed uboot.bin to kernel.img
and replaced with old kernel.img in the boot partition. It got missing environment variable bootfile  errors, wrong with uboot source?
![output](https://user-images.githubusercontent.com/7259753/

[2017-12-07 13:59] marvic41 commented on #160
boot.scr is not created after cross compiling U-boot, it created these files.
![image](https://user-images.githubusercontent.com/7259753/33718792-af394b00-db84-11e7-9a96-994e279377d9.png)

[2017-12-07 14:08] mirzak commented on #160
You need to manually do it, it is not part of the u-boot build process.

Please take a look at this recipe for inspiration (this is how it is done in Yocto), https://github.com/agherzan/meta-raspberrypi/blob/master/recipes-bsp/rpi-u-boot-scr/rpi-u-boot-scr.bb

[2017-12-07 14:28] marvic41 commented on #160
I will try that. Patch (https://patchwork.ozlabs.org/patch/841439/)
~/poky/meta/recipes-bsp/u-boot/u-boot-common_2017.01.inc   this giving errors.
SRC_URI = "git://git.denx.de/u-boot.git \
file://001-uboot-zero-w.patch
"
What is way to do this?

[2017-12-07 15:10] mirzak commented on #160
Try this branch: https://github.com/mirzak/meta-raspberrypi/tree/rpi-zero-wifi-support

Compile tested it if you can "runtime" test it i will create an pull-request here.

[2017-12-07 15:21] marvic41 commented on #160
I have to replace this branch git clone git://git.yoctoproject.org/meta-raspberrypi (current branch)
with yours
https://github.com/mirzak/meta-raspberrypi/tree/rpi-zero-wifi-support

[2017-12-07 15:26] mirzak commented on #160
Yepp

[2017-12-08 06:33] marvic41 commented on #160
This branch rpi-zero-wifi-support also struck ed at rain bow screen, Patch for this branch is needed?

[2017-12-08 07:27] mirzak commented on #160
Only

    RPI_USE_U_BOOT = "1"

is necessary.

Oh saw now that raspberrypi0-wifi machine conf defines UBOOT_MACHINE = "rpi_defconfig", which is wrong.

I have updated my branch with the correct value. [1].

[1]. https://github.com/mirzak/meta-raspberrypi/commits/rpi-zero-wifi-support

[2017-12-08 09:27] marvic41 commented on #160
I took fresh copy of meta-raspberrypi branch rpi-zero-wifi-support and compiled it got this error.

`ERROR: oe_runmake failed
| /home/kkk/poky/build/tmp/work/raspberrypi0_wifi-poky-linux-gnueabi/u-boot/1_2017.01-r0/git/scripts/Makefile.build:280: recipe for target 'common/lcd_simplefb.o' failed
| make[2]: *** [common/lcd_simplefb.o] Error 1
| make[2]: *** Waiting for unfinished jobs....
| /home/kk

[2017-12-08 09:54] mirzak commented on #160
Which branch are you using for poky?

[2017-12-08 10:14] marvic41 commented on #160
Tried with both, it got compiled with y'days update. With latest update (today) meta-raspberrypi got error
git clone -b pyro git://git.yoctoproject.org/poky

git clone -b master git://git.yoctoproject.org/poky

[2017-12-08 10:23] mirzak commented on #160
It will unlikely work with pyro as probably requires some more "backported" patches.

Just did a compile test and it passed. My conf:

[code]

[2017-12-08 10:37] marvic41 commented on #160
This the output
kkk@mender178:~/poky/build$ bitbake rpi-hwup-image
Loading cache: 100% |############################################| Time: 0:00:02
Loaded 2863 entries from dependency cache.
Parsing recipes: 100% |##########################################| Time: 0:00:03
Parsing of 2043 .bb files complete (2041 cached, 2 parsed). 2866 targets, 106 skipped, 0 masked, 0 errors.
NOTE: Resolving any m

[2017-12-08 10:40] marvic41 commented on #160
Where to find  backported patches?

[2017-12-08 10:44] mirzak commented on #160
You would have to create them your self based on upstream sources.

[2017-12-08 10:48] marvic41 commented on #160
Any other poky branch will support without patches ?

[2017-12-08 11:28] marvic41 commented on #160
Trying to build from master poky branch, got this erros
`kkk@mender178:~/poky/build$ bitbake-layers add-layer ../meta-mender/meta-mender-raspberrypi
NOTE: Starting bitbake server...
Parsing recipes: 100% |##########################################| Time: 0:00:37
Parsing of 830 .bb files complete (0 cached, 830 parsed). 1293 targets, 43 skipped, 0 masked, 0 errors.
ERROR: No recipes available for:

[2017-12-08 11:41] marvic41 commented on #160
Dependencies need to add first,  now error gone,

[2017-12-08 13:34] marvic41 commented on #160
Even on got the same error for poky master branch, after adding this branch
git clone https://github.com/mirzak/meta-raspberrypi/ -b rpi-zero-wifi-support

No errors with this branch

[2017-12-08 13:38] mirzak commented on #160
Can you post your full configuration (what is printed when you run bitbake)

[2017-12-08 13:58] marvic41 commented on #160
This after bitbake rpi-hwup-image
------------
kkk@mender178:~/poky/build$ bitbake rpi-hwup-image
Parsing recipes: 100% |##########################################| Time: 0:02:07
Parsing of 2024 .bb files complete (0 cached, 2024 parsed). 2833 targets, 99 skipped, 0 masked, 0 errors.
NOTE: Resolving any missing task queue dependencies

Build Configuration:
BB_VERSION           = "1.37.0"
BUILD_SYS

[2017-12-08 14:09] mirzak commented on #160
Can you fix the formatting? Very hard to read now.

Anyway, you are using meta-mender-core which appends to u-boot. Please for the sake of what we are trying to accomplish (u-boot support on raspberrypi0-wifi) remove the meta-mender-core layers and build a "stock" raspberrypi image.

The errors related to Mender you should bring to the Mender mailing-list.

[2017-12-08 14:59] marvic41 commented on #160
Without meta-mender core layer it will build, Already it is done.
But, mender with RPi zero W is needed.
With this RPi branch git://git.yoctoproject.org/meta-raspberrypi
Image created, but, it struck ed at rain bow screen. Added boot_delay=1 to config file in boot partition. increased to 20. Still struck t rain bow display.

[2017-12-08 18:31] marvic41 commented on #160
After changing from
UBOOT_MACHINE ?= "rpi_config"
to
+UBOOT_MACHINE ?= "rpi_0_w_defconfig"  it is flashing error here

scripts/kconfig/conf  --defconfig=arch/../configs/rpi_0_w_defconfig Kconfig
| ***
| *** **Can't find default configuration "arch/../configs/rpi_0_w_defconfxig"!**
| ***
| /home/kkk/poky/build/tmp/work/raspberrypi0_wifi-poky-linux-gnueabi/u-boot/1_2017.01-r0/git/scripts/kconfig/Mak

[2017-12-09 10:08] marvic41 commented on #160
I took fresh copy of all and compiled without mender, it compiled properly.
Next added git://github.com/mendersoftware/meta-mender layer. Inside this folder
https://github.com/mendersoftware/meta-mender/blob/master/meta-mender-raspberrypi/recipes-bsp/u-boot/patches/0001-CONFIGS-rpi-enable-mender-requirements.patch
this patch doen't have for  rpi_0_w_defconfig, added this to patch

configs/rpi_0_w_

[2017-12-10 21:54] mirzak commented on #160
@marvic41 can you confirm for me that U-boot now works for you your raspberrypi0-wifi when you only build with meta-raspberrypi?

If that is the case we can close this issue and I can send a pull-request to get the support up-streamed.

The error you are experiencing now is meta-mender related and we can move that discussion there (I will pop up there as well).

[2017-12-11 13:07] marvic41 commented on #160
It got booted mata-raspberrypi for wifi without mender. This worked before without patch for Zero w Pi.

If this is commented RPI_USE_U_BOOT = "1".

[2017-12-12 22:11] kamomil opened #172 ""You had no conf/local.conf file." message upon `source ~/poky/oe-init-build-env rpi-build`"
Hi,
I followed the instructions and ran `source ~/poky/oe-init-build-env rpi-build`
and I got a long message:

[code]

the file `meta-raspberrypi/rpi-build/conf/local.conf` with the list of optional MACHINE variable, but raspberrypi machines are not in the list

[2017-12-12 22:53] mirzak commented on #172
This is expected behavior when you create an a new "build" directory. The `local.conf` file is simply a copy of a template file found in poky [1].

Just set MACHINE to desired raspberrypi board.

[1]. http://git.yoctoproject.org/cgit.cgi/poky/tree/meta-poky/conf/local.conf.sample?h=rocko

[2017-12-13 02:03] laibulle opened #173 "No network with pi3"
Hello,

I am trying to get network on my Raspberry Pi3.

`ip link` returns "lo" and "eth0" (where is wlan0 ?)

but ifup returns
[code]
Also, before the boot I get "No ethernet found" and the ethernet LED are off until the linux boot.

Did a miss something in the configuration ?

Best regards.

local.conf

[code]
bblayer.conf

[code]

[2017-12-13 07:00] kamomil commented on #172
Hi,
I set `MACHINE = raspberrypi2`, then running `bitbake rpi-hwup-image` I got the error:

[code]

[2017-12-13 08:14] mirzak commented on #172
You need to add meta-raspberrypi to your bblayers.conf

[2017-12-13 11:55] agherzan commented on #173
@laibulle What image do you install and can you pastebin dmesg?

[2017-12-13 11:59] agherzan commented on #172
This is not a bug and the problems you encounter are basic yocto concepts that you need to handle before being able to work with this BSP layer. I suggest reading http://www.yoctoproject.org/docs/current/yocto-project-qs/yocto-project-qs.html and as well take a look as much as possible at http://www.yoctoproject.org/docs/current/ref-manual/ref-manual.html .

[2017-12-13 11:59] #172 closed

[2017-12-15 06:55] sherifomran commented on #148
i have the same issue, tested with systemv and systemd, i can not get the device to get initialized.

[2017-12-16 11:16] sherifomran commented on #148
i tried to reproduce the colleagues error. First I am using rpi0w, in the image, there is no /etc/firmware folder, the folder is installed in lib/firmware/ second it does not have the bcm43430A1.hcd file. As far as i know, the file is needed to reflash the chip. When i created the folders manually in mkdir -p /etc/firmware/brcm/ and copied the files to these locations, i get intialization time out

[2017-12-16 11:52] jerbob92 commented on #173
Wifi isn't working here either. I added linux-firmware-bcm43430 to IMAGE_INSTALL_append.

[2017-12-17 04:02] marvic41 commented on #31
Hello,
Got error while compiling for Rpi zero w using Main branch,
Added in local.conf
`IMAGE_INSTALL_append += linux-firmware-brcm43430`
Error
`ERROR: Nothing RPROVIDES 'linux-firmware-brcm43430' (but /home/kkk/poky/meta-raspberrypi/recipes-core/images/rpi-hwup-image.bb RDEPENDS on or otherwise requires it)
NOTE: Runtime target 'linux-firmware-brcm43430' is unbuildable, removing...
Missing or unb

[2017-12-17 08:32] fwag commented on #31
Are you also using meta-rpi ?

Inviato da iPhone

[2017-12-17 11:43] marvic41 commented on #31
Yes. tried with both branches
`git clone https://github.com/mirzak/meta-raspberrypi/ -b rpi-zero-wifi-support
~/poky/build$ git clone git://git.yoctoproject.org/meta-raspberrypi`

[2017-12-17 12:15] xuhcc commented on #31
@marvic41

Recipe name should be different: **linux-firmware-bcm43430** (without **r**). Also, `+=` is not needed when you use `_append`.

Try this: `IMAGE_INSTALL_append = "  linux-firmware-bcm43430 "`

[2017-12-18 02:45] marvic41 commented on #31
@xuhcc
Thanks, Yes without r it compiled.

[2017-12-18 12:16] sherifomran opened #174 "hciattach is faulty"
**Description**

**Steps to reproduce the issue:**
1. download raspbian image
2. create image using yocto for rpi0w
3. hciattach /dev/ttyAMA0 bcm43xx 3000000 (using the raspian and yocto images)

**Describe the results you received:**
with yocto image, there is initialization timeout. But with the raspbian image, it works fine. I copied the hciattach + the driver to the yocto image (manuall) and i

[2017-12-18 13:34] sherifomran commented on #174
I could fix get it to work for the raspberry pi 0w.
The driver BCM43430A1.hcd 360kb is not correct. The raspbian image has another driver. I took it and embedded it in a recipie to replace this driver. Also, in bluez5.%.bbappend, the patches are installed for raspberrypi3 (see file: SRC_URI_append_raspberrypi3) remove  all existances or "_raspberrypi3" to apply the patch also for the rpi0w.

now b

[2017-12-21 15:46] agherzan commented on #174
Actually we do it for wifi0 too. Check the recipe in master. Would you be able to update BCM43430A1.hcd on master?

[2017-12-21 15:55] agherzan commented on #173
It does work with the right firmware added. This layer come with some images for testing. The key thing is https://github.com/agherzan/meta-raspberrypi/blob/master/recipes-core/packagegroups/packagegroup-rpi-test.bb#L31 .

[2017-12-21 15:55] #173 closed

[2017-12-21 15:57] agherzan commented on #174
Closing as it duplicates https://github.com/agherzan/meta-raspberrypi/issues/148

[2017-12-21 15:58] agherzan commented on #148
Moving https://github.com/agherzan/meta-raspberrypi/issues/174 discussion here. As per @sherifomran investigation this sounds like an outdated firmware. Is anybody able to provide a patch with an updated version of it to master? @keeslinp are you able to test this as well?

[2017-12-21 16:28] jerbob92 commented on #173
@agherzan can you tell me which layers I should add in my local.conf?
Because I'm not getting it to work, whatever I try.

[2017-12-21 16:34] jerbob92 commented on #173
Thanks, already found kernel-modules in rpi-hwup-image so building that now. linux-firmware-bcm43430 was already in there. Will let you know.

[2017-12-21 16:36] agherzan commented on #173
But generally use the test image. And start from there when investigating support issues.

[2017-12-21 17:25] sherifomran commented on #174
I have the morty branch, please update the bluez5% also to it. I sent you the driver per email. thank you

[2017-12-21 17:52] agherzan commented on #174
Please send it over as a PR to master. When merged you can send another one which backports it over morty.

[2017-12-22 10:33] #169 closed

[2018-01-09 19:12] twoerner commented on #169
Does this work for others? It doesn't seem to work for me.

RPI_EXTRA_CONFIG = " \n \
    dtoverlay=spi1-3cs \n \
    dtoverlay=fti-tpm \n \
    "

gives a /mnt/config.txt that looks like:

...
#dtparam=pwr_led_gpio=35
# Enable SPI bus
dtparam=spi=on
# Enable I2C
dtparam=i2c1=on
dtparam=i2c_arm=on
# Enable UART
enable_uart=1
 \n dtoverlay=spi1-3cs \n dtoverlay=fti-tpm \n

[2018-01-10 14:51] leon-anavi opened #177 "U-Boot not working with Rocko on Raspberry Pi 3"
**Description**

Image rpi-basic-image fails to boot on Raspberry Pi 3 using U-Boot and recipes from Poky and meta-raspberrypi branches Rocko. The board gets stuck at the rainbow screen. There is no output on the UART.

I wondering if this issue could be related to #160.

**Steps to reproduce the issue:**
1. Checkout Poky branch Rocko as well as meta-raspberrypi branch Rocko.
2. Set the following

[2018-01-10 14:55] betafive commented on #177
The option to enable u-boot changed with the rocko release (to allow us to support different kernel image types with u-boot, needed for rpi 3 64-bit u-boot).

The short answer is you now need to set `RPI_USE_U_BOOT = "1"`.

See https://github.com/agherzan/meta-raspberrypi/blob/rocko/docs/extra-build-config.md#boot-to-u-boot for the updated documentation.

[2018-01-10 15:11] leon-anavi commented on #177
@betafive, thank you the quick feedback. Works like a charm.

Thanks, Leon

[2018-01-10 15:11] #177 closed

[2018-01-11 11:25] betafive commented on #169
@twoerner: I've just re-tested this in master with your lines added to my local.conf.

Output looks like this:

[code]

Not sure why this would be working for me but not for you. Are you using latest master of everything?

[2018-01-11 18:22] agherzan commented on #169
Test it too and looks fine.

[2018-01-17 12:18] AntonioSanta opened #179 "ttyAMA0 from app not working"
**Description**
I cannot drive the UART0_TX (pin#8) from cpp application. The port ttyAMA0 can be opened successfully from the app but when trying writing some data nothing happens on the TX pin.

**Steps to reproduce the issue:**
1. set ENABLE_UART = "1" and  MACHINE_FEATURES += "pi3-disable-bt" . Changed the SERIAL_CONSOLE on the raspberrypi3.conf file to SERIAL_CONSOLE ?= "115200 tty1" followed

[2018-01-22 12:41] hhromic opened #181 "config.txt customisation overwrites more variables than it should"
**Description**
The recipe https://github.com/agherzan/meta-raspberrypi/blob/master/recipes-bsp/bootfiles/rpi-config_git.bb is overwriting variables that it shouldn't.
For example the customisation of `over_voltage` does not only customise the `over_voltage` variable in the config file but also the `over_voltage_min`, `over_voltage_sdram`, `over_voltage_sdram_c`, `over_voltage_sdram_i` and `over_v

[2018-01-22 14:07] agherzan commented on #179
What is the RPi model you are working on?

[2018-01-22 14:45] AntonioSanta commented on #179
hello, it is raspberryPi3 model B , I have made the UART0_TX pin working by using the ttyS0 port instead of ttyAMA0.

[2018-01-22 18:28] agherzan commented on #179
Can we close the issue in that case? @AntonioSanta

[2018-01-22 20:17] agherzan commented on #174
Closing as duplicate of #148

[2018-01-22 20:17] #174 closed

[2018-01-23 13:34] #148 closed

[2018-01-24 15:28] AntonioSanta commented on #179
OK with me if this is as expected.

[2018-01-26 14:35] keeslinp opened #184 "Switching from rocko to master on rpi-0w breaks wifi"
**Description**

Changing from latest on rocko to latest on master makes it so that the `wlan0` interface doesn't show up anymore.

**Steps to reproduce the issue:**
1. pull latest master
2. build `rpi-hwup-image`
3. run `ip link` or anything that lists the interfaces, only `l0` shows up

**Describe the results you received:**
`wlan0` isn't connected

**Describe the results you expected:**
`wlan0`

[2018-01-29 23:02] hhromic commented on #181
thanks for merging the PR!
I confirm it works fine. I'm closing this issue now.

[2018-01-29 23:02] #181 closed

[2018-01-31 09:11] fgiancane8 opened #187 "kernel-devsrc fails to install, broken dependencies"
Hi all,

For some reasons, I had to build a Raspberry Pi 3 image with kernel sources in both SDK and image.

After building the package (a simple patch is needed, but the package builds correctly) the do_install step fails, because the kernel-devsrc package imports the dependencies from virtual/kernel and in turn from linux-raspberrypi.

The failure is in the fact that a requirement is written int

[2018-01-31 13:28] hhromic commented on #184
hi @keeslinp ,
Using a clean image built from `rocko` also didn't bring Wifi for me on my RPI0W. The same for `master`.
However to bring WiFi, you need to add this line to your `local.conf` file:

    IMAGE_INSTALL_append = " linux-firmware-bcm43430 wpa-supplicant"

It adds the missing firmware and the wpa-supplicant package to the built image. Then, after booting, I just need to customise `/etc/w

[2018-01-31 14:05] agherzan commented on #184
That is correct, HWUP image doesn't install the linux firmware for the wifi device. The part that I am confused now about is the wpa. Isn't only the linux firmware sufficient?

[2018-01-31 14:24] keeslinp commented on #184
Sorry, I should have included my `local.conf`. I already have both of those included. Here is my entire local.conf

[code]

I'm honestly not super sure what some of those firmware packages being installed are, so those could maybe be problematic.

[2018-01-31 14:26] hhromic commented on #184
@agherzan : to bring the Wifi device itself, the linux firmware is sufficient. However, to connect it to something you need a supplicant such as wpa supplicant. I think another alternative is networkmanager. This should be further selected by the user. So I think the only requirement to bring the radio device itself up is to include the linux firmware package. If you need a supplicant you also nee

[2018-01-31 14:29] keeslinp commented on #184
I'll give that a try. Just to clarify, it does work perfectly fine on `rocko`. It is master that is problematic.

[2018-01-31 14:30] hhromic commented on #184
Oh I see. I will try master now then.
But try that of using `=` instead of `+=` and a leading space before the first package for each `_append` line you have.

[2018-01-31 14:57] keeslinp commented on #184
I tried that and it didn't work :/. Here is my new `local.conf`

[code]

Would it be worthwhile to try clearing my cache and doing a fresh build?

[2018-01-31 14:58] mirzak commented on #184
Firmware is actually added in the machine configuration file with MACHINE_EXTRA_RRECOMMENDS

See https://github.com/agherzan/meta-raspberrypi/blob/master/conf/machine/raspberrypi0-wifi.conf#L9

Do not know why it would work on rocko and not in master because the configuration is present in booth

Try:

    bitbake <image> -e | grep ^MACHINE_EXTRA_RRECOMMENDS

To check if it is set correctly, might

[2018-01-31 15:01] hhromic commented on #184
@keeslinp : maybe is worth a try. Disclaimer: I'm very new to Yocto and no expert at all =). I'm currently having trouble trying to create an image using master, something changed since yesterday and I can't add the openembedded layer anymore (failing with a parsing error on base_conditional).

@mirzak :  I also noticed that configuration. I think it just declares that the rpi-based machines have

[2018-01-31 15:24] keeslinp commented on #184
@mirzak here is the output ```MACHINE_EXTRA_RRECOMMENDS="  kernel-modules udev-rules-rpi linux-firmware-bcm43430"```

@hhromic I'll probably give that a try when I take off tonight so that I can leave it running overnight (clean builds take a while)

[2018-01-31 15:25] mirzak commented on #184
From Yocto docs

What actually decides if it is installed is if the image being built includes "packagroup-base" where the MACHINE_EXTRA_RRECOMMENDS are expanded, so basically if the image inherits from "core-image.bbclass" it should be installed.

[2018-01-31 15:29] hhromic commented on #184
thanks for that @mirzak ,
however the firmware is not being included when using the `rpi-hwup-image`. I quickly checked and it seems to include `core-image-minimal.bb` which in turns inherit from `core-image.bbclass`. But contrary to what you suggest, it is not installing the firmware in the final image.

I tested this with a completely clean build environment, just adding the required meta-openem

[2018-01-31 15:52] mirzak commented on #184
Oki not a bug (at least not in Yocto/OE-core).

Looked in to it a bit more.

`core-image-minimal.bb", even though it inherits from core-image.bbclass it sets `IMAGE_INSTALL` and not appending to it, which overwrites anything that `core-image` has added to it basically.

Even the Yocto docs mentions this (if you read it all :))

So it depends on what the intentions of the `rpi-hwup-image` is, to de

[2018-01-31 15:59] hhromic commented on #184
interesting, @mirzak .
I guess this is a matter to think about for the maintainers of the layer then (@agherzan ).
As an end-user, I would expect `rpi-hwup-image` to bring all available machine hardware up, including the wifi radio, and perhaps the bluetooth as well.
Technically speaking, the firmware is the only thing needed for the radio hardware. Then is up to me as the user to further add the

[2018-01-31 16:08] mirzak commented on #184
I would agree with you @hhromic

[2018-01-31 20:38] #49 closed

[2018-02-01 12:31] hhromic commented on #184
Hi guys,
I can confirm that wifi does **not** come up in the `master` branch and it does in `rocko`. The problem is that the file `brcmfmac43430-sdio.bin` is **not** copied into the `/lib/firmware` directory in the built image and only the `brcmfmac43430-sdio.txt` file is copied. If you manually copy the binary file to the built image, the rpi0w brings the Wifi interface just fine.

In `rocko` thi

[2018-02-01 12:49] diegorusso opened #190 "NameError: name 'base_conditional' is not defined"
When

**Description**
meta-raspberrypi layer uses old functions from openembedded-core layer.
The author removed them with commit

https://github.com/openembedded/openembedded-core/commit/0391fcad9103abca0796a068f957d0df63ab4776

but base_conditional is still used by meta-raspberrypi layer

https://github.com/agherzan/meta-raspberrypi/blob/master/recipes-kernel/linux/linux-raspberrypi.inc#L25

Thi

[2018-02-01 13:20] gizero commented on #190
#188 is already there to resolve this

[2018-02-01 13:41] agherzan commented on #190
#188 was merged. Closing this.

[2018-02-01 13:41] #190 closed

[2018-02-02 15:10] hhromic commented on #184
Hi all again.
I think I pin-pointed the problem now. The commit 61c2a96 introduced an rpi-specific condition for the linux-firmware. However, this block:

    FILES_${PN}-bcm43430_rpi += " \
        ${nonarch_base_libdir}/firmware/brcm/brcmfmac43430-sdio.txt \
    "

Is not adding the `brcmfmac43430-sdio.bin` file in the final package. If I remove the condition `_rpi` it works fine again. Also, if

[2018-02-02 16:45] kraj commented on #184
[code]
seems to be correct.

[2018-02-02 17:36] martingkelly commented on #184
@hhromic could you post the output of `bitbake -e linux-firmware` ? We can check SRC_URI and the _rpi logic. Perhaps _rpi isn't set for rpi0-wifi?

If you can't run bitbake because of the base_conditional issue, it's a known bug fixed by commit `99aa19ff53922b61dee0c8b63ee7f664f90e9a91` in meta-openembedded (which is in master now).

[2018-02-02 18:04] hhromic commented on #184
hi @martingkelly, I already sorted out the base_conditional issue, as you say I just pulled the latest commits and all is fine, thanks for the suggestion!.

Regarding the firmware issue, after your comments I did the following tests:

**(1) Recipe as-is from the master branch.**

In Recipe:

    FILES_${PN}-bcm43430_rpi += " \
        ${nonarch_base_libdir}/firmware/brcm/brcmfmac43430-sdio.txt \

[2018-02-02 18:39] martingkelly commented on #184
I see your test results and am fine with your proposal if it works. I am, however, confused. The linux-firmware recipe already includes:

[code]

I'm not sure why adding the bin file is required since it should already be present.

[2018-02-02 19:14] kraj commented on #184
Is should be _append_rpi instead of _rpi +=
Since he latter overwrites any prior value that’s what you are seeing

[2018-02-02 19:16] martingkelly commented on #184
@kraj why does += overwrite any prior value? Doesn't that break its purpose?

[2018-02-02 19:19] kraj commented on #184
Its the override that’s causing it with append that gets addresses

[2018-02-02 20:10] keeslinp commented on #184
@hhromic Your option 4 worked like a charm for me :). I had looked into that commit but I couldn't make heads or tails of it, yocto configs are witchcraft 80% of the time for me, I'm glad you could figure it out!

[2018-02-02 21:01] keeslinp commented on #184
Maybe I spoke too soon, my bluetooth isn't working anymore. `hciconfig` isn't returning anything. Also, I'm getting an error in `journalctl` for `hciattach`:
[code]

Is this related to this issue or should I make a different ticket?

[2018-02-02 21:28] hhromic commented on #184
@martingkelly: in my last proposal (test 4) I'm not adding anymore the binary file because using `_append` properly appends the text NVRAM file to the list keeping the binary file from the orginal recipe.
@kraj : thanks for the confirmation that using `_append` is the correct solution. I will prepare a PR with this fix so it can be merged.

@keeslinp : I'm happy the solution number four worked for

[2018-02-02 21:33] keeslinp commented on #184
@hhromic yes, when I tried master the first time the bluetooth worked fine but the wifi did not. Now, the opposite is true after applying option 4

[2018-02-03 11:24] hhromic commented on #184
@keeslinp , that is very weird indeed. Adding the firmware shouldn't nullify bluetooth.
 I was checking my image and by default it doesn't come with `hciattach`. This means you are adding it into your local config. Can you share your current local.conf file? Perhaps there is something else that is interfering.
Before making the PR for the linux-firmware I would like to confirm it doesn't interfere

[2018-02-03 14:53] keeslinp commented on #184
I posted it a little further up in this thread. When I get back to work on
Monday I'll check again to make such I'm doing everything right.

On Sat, Feb 3, 2018, 4:24 AM Hugo Hromic <notifications@github.com> wrote:

[2018-02-04 13:52] hhromic commented on #184
Hi @keeslinp ,  try to add `udev-rules-rpi` into your `IMAGE_INSTALL_append` and see if it works.
This package adds rules for udev to create the `serial0` and `serial1` devices that `hciattach` is trying to use. I checked and, similar to the firmware, this package is not installed by default.
Let me know if this works (together with working Wifi too).

[2018-02-05 10:25] hhromic commented on #184
Hi again @keeslinp , I just tested an image using:

    MACHINE = "raspberrypi0-wifi"
    IMAGE_INSTALL_append = " bluez5 udev-rules-rpi linux-firmware-bcm43430 wpa-supplicant"

And I can confirm I get bluetooth and Wifi working fine. Of course this image is minimal, so you need to attach the HCI manually:

    hciattach /dev/ttyAMA0 bcm43xx 921600 noflow -

In your systemd configuration, the blue

[2018-02-05 13:52] agherzan commented on #184
I'm OK in starting to include the firmware as part of machine essential - sounds like there are many people confused by the current behavior. If anyone is interested, please push a patch.

[2018-02-05 18:06] kraj commented on #184
I agree @agherzan for rpi3 especially, where wifi/bt is on board

[2018-02-05 18:55] agherzan commented on #184
Yes. For RPI3 and RPI0wifi.

[2018-02-05 18:59] agherzan commented on #179
@AntonioSanta It sounds like an issue. Would you be able to try to reproduce on a raspbian?

[2018-02-05 19:07] keeslinp commented on #184
@hhromic That did the trick :).

Can anyone think of a reason that my bluetooth mac address would change between branches? That seems to be what I am experiencing. I mean, it's definitely not the end of the world as long as it is consistent between reboots, but just seems a little odd.

[2018-02-05 19:19] #184 closed

[2018-02-06 10:44] hhromic commented on #184
Hi all,

I know I advocated for the inclusion of the firmware as default, however after thinking more about it (and learning more about Yocto too), I now think that the way it is done currently is actually the more correct approach.

1. According to Yocto documentation, the `MACHINE_EXTRA_RRECOMMENDS` variable (current method) is for packages that are not required for the machine to **boot** (but

[2018-02-06 11:50] agherzan commented on #184
I know this. The problem is that many new users get into this and not knowing this nuance they will obviously think of it as an issue. If we want to stick to the rule, what we can do is include MACHINE_EXTRA_RRECOMMENDS in our images. That would keep everyone happy.

[2018-02-06 12:01] hhromic commented on #184
Exactly, hence we need to inform/document better to the new users.
But I got confused with your message. Using `MACHINE_EXTRA_RRECOMMENDS` is already the way is done in the layer:
https://github.com/agherzan/meta-raspberrypi/blob/a2ba56f74ed7d1a794c3d92a0c10039c2b6e0cc6/conf/machine/raspberrypi0-wifi.conf#L9

And this is not including the firmware in the basic `hwup` images (**as desired**).

Then

[2018-02-06 12:07] agherzan commented on #184
No. What I mean is having hwup include it by default. See [https://github.com/agherzan/meta-raspberrypi/blob/master/recipes-core/images/rpi-hwup-image.bb#L5](here).

[2018-02-06 12:09] mirzak commented on #184
If they are using the rpi-hwup-image.

Other images will probably include the firmware, e.g. `core-image-base` which has a pretty good description.

"SUMMARY = "A console-only image that fully supports the target device \
hardware.""

And I would agree that we should instead just document:

- rpi-hwup-image - just for booting
- core-image-base - full hardware support (or create a image based on co

[2018-02-06 12:42] mirzak commented on #184
Also the problem we have today is that all the "rpi" images inherit from `rpi-hwup-image`, so none of them install the firmware for WiFi.

Suggestion:

- Remove all the images we have today, beside rpi-test-image
- Move "kernel-modules to MACHINE_EXTRA_RRECOMMENDS
- Change rpi-test-image to inherit from core-image-base, and set SPLASH to raspberrypi (this could also include a SSH server)

If someo

[2018-02-07 10:23] hhromic commented on #184
Hi all.
I've been reading more about all this and I completely agree with @mirzak here. Definitively we should be using the standard Poky images (`core-image-minimal`, `core-image-base`, etc.) instead of custom images made for the same purpose.

The whole idea of Yocto is that the same recipes adapt depending on the layers being used. So a `core-image-minimal` should produce a suitable image for y

[2018-02-07 10:45] kraj commented on #184
you could turn rpi-hwup-image.bb to have just
[code]

[2018-02-07 10:51] hhromic commented on #184
True, but that would not instruct users that this is not the correct way and that they should be using core-image-base/minimal directly instead.
Also vanishing the image without notice would leave users puzzled why they images no longer build.

I noticed that `kernel-modules` is already in `MACHINE_EXTRA_RRECOMMENDS` and `SPLASH` is already set in `conf/machine/include/rpi-base.inc`, so the transi

[2018-02-08 21:45] mfrydrysiak commented on #177
Hi,
I'm facing a similar issue with my RPi3. I use the Rocko branches on meta-raspberrypi, meta-oe and poky. The `conf/local.conf` file contains:
[code]
I built the image with `bitbake rpi-hwup-image`.

After connecting the RPi3 through the UART/USB FTDI converter I do not get any prints on the console (checked also the baudrate = 115200). If I boot the board with the HDMI cable connected I can se

[2018-02-09 16:01] erkki opened #195 "pypi.bbclass removed in latest HEAD of meta-openembedded"
ERROR: ParseError at /workdir/poky/meta-raspberrypi/recipes-devtools/python/rpi-gpio_0.6.3.bb:8: Could not inherit file classes/pypi.bbclass

commit 73dfaca93ba68f63872851adfb0665b82c7078f4
Author: Derek Straka <derek@asterius.io>
Date:   Wed Jan 3 11:31:58 2018 -0500

    pypi: remove class that was added to oe-core

    Signed-off-by: Derek Straka <derek@asterius.io>
    Signed-off-by: Armin Kus

[2018-02-10 10:46] pficheux opened #197 "glibc build failed on rocko branch (raspberrypi3)"
**Description**
Hi,

I got an error when building glibc-2.26r0 recipe on rocko branch (core-image-minimal). It works fine with qemux86.

Added layers in bblayers.conf :

...
/media/pierre/PF_WD_1TO/Yocto/rocko/meta-raspberrypi \
/media/pierre/PF_WD_1TO/Yocto/rocko/meta-openembedded/meta-oe \
/media/pierre/PF_WD_1TO/Yocto/rocko/meta-openembedded/meta-python \
/media/pierre/PF_WD_1TO/Yocto/rocko/met

[2018-02-10 15:43] mfrydrysiak opened #198 "Issues with console and U-Boot functionality - Rocko branch"
**Description**

Hi,
I'm facing an issue with my RPi3. I use the Rocko branches on meta-raspberrypi, meta-oe and poky, the conf/local.conf file contains:
[code]
I built the image with `bitbake rpi-hwup-image`.

After connecting the RPi3 through the UART/USB FTDI converter I do not get any prints on the console (checked also the baudrate = 115200). If I boot the board with the HDMI cable connected

[2018-02-11 00:54] pficheux commented on #197
Hmmm, was a problem with a specific version of make in my PATH...sorry.

[2018-02-11 00:54] #197 closed

[2018-02-12 10:03] betafive commented on #198
If you build without `ENABLE_UART = "1"`, can you interact with u-boot via USB keyboard and HDMI monitor? If so that will rule out the most basic problems.

When you say "none of the U-Boot commands runs", are you entering commands via USB keyboard or via the serial console? I want to make sure I understand you correctly.

[2018-02-12 14:53] mirzak opened #199 "Clean-up of images provided by meta-raspberrypi"
This is a issue based on discussion started in #184 (which is now a closed issue), and to not lose track of the suggestions/discussion I will create a new issue.

To try and summarize the discussion:

There is some confusing today, what the intention of the different images provided by meta-raspberrypi actually is and there is no documentation on them. The current state is:

- `rpi-hwup-image` - B

[2018-02-14 12:33] betafive commented on #199
I agree with this, meta-raspberrypi should follow the conventions in
oe-core unless we have good reasons not to.

I would keep the old image names around as aliases with deprecation
warnings for at least one release cycle (~ 6 months) so that people can
upgrade safely. So rpi-hwup-image would become an alias for
core-image-minimal and rpi-basic-image would become an alias for
core-image-minimal. I

[2018-02-14 17:52] agherzan commented on #199
I agree with this. I would keep a test image though because it drags all the components we currently have in the layer and it's useful to test a build of all the things we provide (as Paul said).

[2018-02-15 10:54] hhromic commented on #199
As one of the initiators of the whole discussion, I also agree with this. We totally should be using the standard Yocto images. This in turn makes the whole idea/purpose of Yocto of seamlessly changing BSP layers and then it "just works".
I agree the particular test image for this layer should be kept for the purpose of testing this layer specifically.

I also want to encourage the documentation o

[2018-02-15 16:55] AntonioSanta commented on #179
On Raspbian 8 ( jessie )(with  Linux 4.9.35-v7 ) the same application is successfully driving the pin UART0_TX pin when opening ttyAMA0 device.
On the OS built with meta-raspberrypi instead the pin is successfully driven when using the ttyS0 device from the app. When using ttyAM0 the port can be opened but when writing to the tx nothing happens to the UART0_TX pin.

[2018-02-16 16:21] mfrydrysiak commented on #198
Yes, I can interact (although I get the `timeout on interrupt endpoint` warning, but this is U-Boot case for keyboard scanning).

I tried to add manually the UART settings to the `config.txt` file, such as:
`enable_uart=1`
`dtoverlay=pi3-disable-bt`
`dtoverlay=pi3-miniuart-bt`
but none of them work.

I have to mention that this time I run a clean build without `ENABLE_UART = "1"`, just to be sure

[2018-02-21 06:01] mark2b commented on #160
Are you going to merge RPI Zero W U-Boot fix to Rocko?

[2018-02-21 09:54] ionutneicu commented on #195
You need to checkout specific git branch for the following repositories: meta-openembedded, poky and meta-raspberrpi. Use the same release branch for all, don't work on master, i.e. rocko.

https://wiki.yoctoproject.org/wiki/Releases

[2018-02-26 15:57] BelalElkady opened #200 "wiringpi compilation issue"
I included wiringPi library in my layer's code This is my C code and I got this issue

[code]

And this is the line I added to the example recipe to include compiling wiring pi with this C file
[code]

I also added the wiringPi recipe in the rpi-hwup-image.bb as follow
[code]

[2018-02-26 16:26] betafive commented on #200
You should add the dependencies for your C program to the recipe which builds it, instead of to the IMAGE_INSTALL list. That should ensure that the headers and libraries are available in your do_compile() function.

So in your recipe make sure you have a line like this:

    DEPENDS += "wiringpi"

[2018-02-26 16:44] betafive commented on #195
pypi.bbclass is now in openembedded-core. Closing this. Please re-open if you still have issues.

[2018-02-26 16:44] #195 closed

[2018-02-26 16:49] betafive commented on #160
I'm not planning on backporting this to rocko as it's not a major bugfix or security issue and I'm a bit limited on time right now. I'd accept a patch for rocko which applies changes to u-boot only when `MACHINE=raspberrypi0-wifi` though.

[2018-02-26 16:49] #160 closed

[2018-02-26 16:50] betafive commented on #151
I'm not sure I understand this issue - you're saying it's a wic error but it doesn't look like you're using wic. If this is still an issue could you send a the full bitbake output so we can see what's going wrong.

[2018-02-26 16:53] betafive commented on #97
@Minipada, looks like upstream haven't responded :( Could you rebase and try submitting it again? If upstream is still unresponsive we could carry the patches here for now.

[2018-02-26 17:01] betafive commented on #147
@fgiancane8, any progress on this?

[2018-02-26 17:05] betafive commented on #199
I've looked into this today and I can't see any way to issue deprecation warnings. What I can do though is make the current `rpi-hwup-image` and `rpi-basic-image` recipes error out with a message telling the user which image recipe to use instead. Then after a release cycle or two we can drop these completely.

I'm going to submit a pull request implementing that as soon as I'm done testing.

[2018-02-26 18:31] agherzan commented on #199
@betafive Can't we have a warning in do_image for the rpi images? Basically if you are building for example rpi-hw-up-image, warn that next release will have these images removed.

[2018-02-26 18:33] fgiancane8 commented on #147
Hi @betafive ,

Did not have the time to elaborate more on this problem. Any suggestion on how to rework this recipe?

Thanks

[2018-02-26 18:34] fgiancane8 commented on #147
The previous recipe had dependency issues and even though the package split was right, in the end it did not succeed in making the situation better.

[2018-02-26 18:35] agherzan commented on #151
@betafive this error is a rootfs size restriction error. I bet that somewhere @naveen230 is using a size rootfs size restriction configuration. Looks completely unrelated to the BSP but let's give the user a couple of days to reply.

[2018-02-26 18:38] agherzan commented on #200
@BelalElkady please user markdown in the description. I updated it this time. And do try Paul's suggestion.

[2018-02-26 18:45] BelalElkady commented on #200
thank you for your support , the issue is solved

[2018-02-26 18:45] betafive commented on #199
@agherzan, Actually, yea, that probably will work. I'll give that a go.

[2018-02-26 18:45] #200 closed

[2018-02-26 18:56] betafive commented on #150
I'm going to close this then as that's not something we can fix in meta-raspberrypi. You'll probably need to look at how this is handled for other targets with multiple partitions.

[2018-02-26 18:56] #150 closed

[2018-02-26 18:58] agherzan commented on #150
Good catch @betafive .

[2018-02-26 19:56] betafive commented on #199
I've added a `bb.warn()` call in a `do_image_prepend()` function. Looks good:

    NOTE: Executing SetScene Tasks
    NOTE: Executing RunQueue Tasks
    WARNING: rpi-hwup-image-1.0-r0 do_image: The image 'rpi-hwup-image' is deprecated, please use 'core-image-minimal' instead
    NOTE: Tasks Summary: Attempted 1574 tasks of which 1546 didn't need to be rerun and all succeeded.

    Summary: There w

[2018-02-26 20:03] agherzan commented on #199
Exactly. Looks great!

[2018-02-26 20:08] betafive commented on #199
It's not printed when the image is picked up from sstate but I think we can let that slide.

[2018-02-26 20:19] agherzan commented on #199
Agreed.

[2018-02-27 06:57] gizero commented on #199
LGTM. With a similar approach, meta-freescale is warning about future deprecation of their non-wic based image creation classes.

[2018-02-27 10:36] hhromic commented on #199
great @betafive, exactly what I had in mind!
we should definitively also pay attention to the **documentation**. If someone gets confused by a dissapearing `rpi-hwup-image` or `rpi-basic-image`, then going to the documentation should point them to the right direction. This further makes the sstate "problem" not a problem really.
Thanks for the work!

[2018-02-27 10:47] betafive commented on #199
@hhromic, you're right. I find coding and documentation writing to need two very different states of mind so I usually do them separately. But lets keep this issue open until the docs are done. Should hopefully be later this week.

[2018-02-27 10:51] hhromic commented on #199
I can happily help too with that. I guess the relevant files are the ones located under `docs`?
Let me know, however I can work on this only from two weeks from now.
I also want to propose/discuss an improvement for the handling of the options in `config.txt`. This also would require documentation updates. I will open another issue ticket for that later.

[2018-03-01 13:12] agherzan commented on #147
I know @kraj is working with userland so he might give you some insights. I would say that pushing a PR is a good idea anyway and we can iterate on it.

[2018-03-01 13:13] agherzan commented on #179
@AntonioSanta are you able to give it a try with the current master (we update firmware and kernel)?

[2018-03-01 13:27] agherzan commented on #187
In order to fox this should would need to apply a patch like this. http://git.yoctoproject.org/cgit/cgit.cgi/linux-yocto/commit/?id=8af11c1cdd8fa08217e702b57cf96e9030db52b2 . Would you be able to submit it as a PR?

[2018-03-01 13:30] agherzan commented on #187
I checked the upstream and it seems like this was fixed in kernel 4.12+. We updated master to 4.14 so you should be able to get this fixed by switching (updating) to master. It would be nice as well if you could backport this patch for the 4.9 recipe as well.

[2018-03-02 21:45] fgiancane8 commented on #187
Got it. Thanks for the comment.

Will do a branch and a PR as soon as possible.

[2018-03-02 21:46] fgiancane8 commented on #147
Hi,

thanks for the suggestion.
I will start working on the recipe in these days and you will get a PR as soon as things get done.

[2018-03-03 05:04] kraj commented on #147
@fgiancane8 I think its fine to package more granularly, where you keep  virtual/egl virtual/gl and virtual/gles1 virtual/gles2 which can then be chosen based on vc4graphics in machine features.

However, I did not understand your usecase clearly, are you trying to use libegl.so from mesa and libgles2 from userland ?

[2018-03-03 12:15] fgiancane8 commented on #147
Hi @kraj
userland does not only provide the GL stack (GLESv2, EGL, ...) but also userspace tools for Pi hw (camera, GPU interface, ...).

If you deploy the GL stack with mesa, then you do not have the userspace binaries.

I foresee those scenarios:
1) deploy entirely with userland -> you have GL stack + binaries
2) deploy with mesa -> you have mesa stack and no binaries

I want to achieve the poss

[2018-03-03 16:29] kraj commented on #147
I see. Thats totally valid and easy to achieve usecase. So I encourage you to go ahead with
patches. Let me know if you need help

[2018-03-05 12:24] betafive commented on #146
This should now be fixed in master and rocko.

[2018-03-05 12:24] #146 closed

[2018-03-05 14:55] agherzan commented on #187
Thanks @fgiancane8

[2018-03-07 09:10] DengkeDu opened #204 "raspberrypi-zero-w: how to enable camera module"

[2018-03-07 21:03] pabigot commented on #199
I second @hhromic's comment on documentation.  It was disconcerting to follow the Quick Start instructions in README to bitbake rpi-hwup-image, only to get a warning that the recipe was deprecated.

[2018-03-08 06:06] DengkeDu commented on #204
The package rpi-config was null

[2018-03-08 06:43] DengkeDu commented on #204
Every time I need mount the boot partion, and modify the config.txt.

[2018-03-08 11:11] betafive commented on #204
Have you tried building with `VIDEO_CAMERA = "1"` set in your local.conf file? Looking at the documentation that should be the setting you need.

[2018-03-11 06:01] tuupola opened #208 "libbrcmEGL.so undefined symbols with Wayland"
**Description**

I am trying to use a binary which has been precompiled using Raspbian Stretch. Running it fails with:

[code]

Looking a the library itself it does seem to be missing bunch of symbols, including the Wayland ones. Full output in a [separate gist](https://gist.github.com/tuupola/5ad7039503ae8b5b0b0f1c8d342b8428).

[code]

I have tried building `core-image-weston`.

[code]
[code]

I

[2018-03-11 06:26] tuupola commented on #208
Maybe related to https://github.com/agherzan/meta-raspberrypi/pull/202/commits/790e100a90f288e9f8b98fb9ff9bfddd7ad297af?

[2018-03-13 22:05] agherzan commented on #204
@DengkeDu Did you try what Paul recommended above? I'd like to close this issue.

[2018-03-13 22:06] agherzan commented on #208
@kraj would be the guru for this.

[2018-03-14 01:29] DengkeDu commented on #204
Yes, it works!

[2018-03-14 01:29] #204 closed

[2018-03-14 05:30] kraj commented on #208
@agherzan  merge https://github.com/agherzan/meta-raspberrypi/pull/202
and its fixed in that pull request, it has been pending for over a week without any response.

[2018-03-16 05:46] tuupola commented on #208
@kraj I tried compiling using #202 but still have the same problem. I am pretty sure I am missing either some DISTRO_FEATURES or IMAGE_INSTALL setting. Could you share yours which you used for testing? It would nudge me to right direction.

[2018-03-16 06:29] tuupola commented on #208
Also found this:

the build it is not linking with wayland libraries. Hence if try to link
libbrcmEGL, will get undefined symbols.

https://www.mail-archive.com/yocto@yoctoproject.org/msg38949.html

[2018-03-18 18:55] fgiancane8 commented on #147
Hi @kraj

I followed the suggestions you gave me, and it is also what I did before.
This, unfortunately, will not work.

Package split is OK, but the problem is the PROVIDES variable: we declared _userland_ package to PROVIDE both libgles2 and libegl, but in reality, are the sub packages that PROVIDE those; i.e. userland-gles2 PROVIDES virtual/libgles2 and userland-egl PROVIDES virtual/egl (and th

[2018-03-18 20:20] kraj commented on #147
If you need that level of granularity during build then there is no other way than to build separate recipes for each of those however I consider this law of diminishing returns

[2018-03-19 09:16] fgiancane8 commented on #147
hi @kraj ,
thanks for the comment. I patched the CMakeLists.txt for userland source code but with no avail; excluding the GL stack from building make the whole compile phase fail.

That CMakeLists needs to be revised, but as you said this kind of granularity becomes too heavy.

I think we can leave it as: either use broadcom "custom" libraries for GL and Camera OR we use mesa + v4l using a "standa

[2018-03-20 19:51] hhromic opened #211 "gstreamer1.0-omx: refresh the patches"
**Description**
Hi, I'm trying to refresh the patches for `gstreamer1.0-omx`.
I'm receiving the following warning when building:

[code]

However I'm a bit confused on how to rebase the patches. In particular, I noticed that there are duplicate patches both in `gstreamer1.0-omx` and `gstreamer1.0-omx-1.12`, under `recipes-multimedia/gstreamer`.

When building, the default (preferred) version picke

[2018-03-21 05:37] Sdcxv commented on #151
I encountered a similar problem, here is the layers I had added.
[code]
And here is my log files
[code]

[2018-03-21 08:26] Sdcxv commented on #151
I had added the following line into `conf/local.conf`
[code]

And run `$ bitbake core-image-full-cmdline` again, the problem solved.
[code]

[2018-03-21 15:48] hhromic commented on #211
Hi again,
Going further on this issue, I strongly think the patches in the `gstreamer1.0-omx` directory are obsolete/orphaned and this directory should be removed alltogether, leaving only the `gstreamer1.0-omx-1.12` directory (that includes exactly the some of the same patches from `gstreamer1.0-omx`). To me it looks like this directory was separated and forgotten to be cleaned.

I just back-trac

[2018-03-21 15:56] kraj commented on #211
They work fine although a refresh is ok please prepare a PR

[2018-03-21 15:58] agherzan commented on #211
Sounds good.

[2018-03-21 16:00] hhromic commented on #211
Great! I will remove the obsolete directory and rebase the current patches so all builds without warnings. Will send the PR as soon as I test everything. Cheers!

[2018-03-22 04:53] tuupola commented on #208
I still have some undefined symbols but after #202 was merged the original problem seems to be gone. Thanks!

[2018-03-22 04:53] #208 closed

[2018-03-22 10:39] agherzan commented on #208
Glad to hear that.

[2018-03-22 10:50] agherzan commented on #151
@Sdcxv can you reproduce this issue with only meta-rpi, meta-oe and poky layers?

[2018-03-23 11:44] #211 closed

[2018-03-23 17:21] naveen230 commented on #151
I don't remember what I did but I'm able to develop the image now.Maybe I was using layers with different branches or using meta-debian caused this error.

[2018-03-23 20:41] agherzan commented on #199
Docs updated. Closing this issue.

[2018-03-23 20:41] #199 closed

[2018-04-05 09:25] ikoes opened #218 "u-boot issue"
Hello,

I'm using meta-rasperrypi@rocko.

I've set in local.conf
`RPU_USE_UBOOT="1"
CORE_IMAGE_EXTRA_INSTALL += " u-boot"
`
Hence I've run:
bitbake core-image-minimal

during the do_rootfs task I get the following error:

Does anyone have any suggestion ?

thanks,

[2018-04-05 10:29] 61131 commented on #179
Known behaviour with RP3 - See https://github.com/raspberrypi/linux/issues/1399

[2018-04-05 10:46] agherzan commented on #179
@61131 But the pi3-disable-bt should switch roles. That's the issue reported here.

[2018-04-06 13:53] ikoes commented on #218
thank you betafive. It solved the issue

[2018-04-07 10:29] #218 closed

[2018-04-09 12:40] sherifomran commented on #26
did you change audio = on in /boot/config.txt ?
this will enable the alsa device otherwise you wont detect it.

[2018-04-10 20:40] cveilleux opened #220 "Clarify instructions on initramfs support?"
**Description**

The documentation at http://meta-raspberrypi.readthedocs.io/en/latest/extra-build-config.html#image-with-initramfs is insufficient to get initramfs working.

**Steps to reproduce the issue:**
1. Follow the instructions at http://meta-raspberrypi.readthedocs.io/en/latest/extra-build-config.html#image-with-initramfs

I tried core-image-tiny-initramfs, core-image-minimal, rpi-hwup-im

[2018-04-11 01:10] kraj commented on #220
regular images are not suitable for bundling into initramfs so you have to define a initramfs image

Something like this ```core-image-minimal-initramfs.bb```

[code]

[2018-04-11 01:31] cveilleux commented on #220
Thanks for the reply. I will do some tests and will clarify the docs if I succeed. Please leave issue open.

[2018-04-13 09:03] ikoes opened #221 "raspberry pi 3 plus and u-boot"
hello guys,

I can boot a rpi3 with u-boot using meta-raspberrypi@rocko, poky@rocko succesfully. By the way the same image doesn't boot on a raspberry pi 3 plus. I'm tuck to the rainbow screen. What am I missing ?

thanks,

F-

[2018-04-13 12:51] agherzan commented on #221
@ikoes we haven't tested support of the 3+ board with u-boot. So at this point, it is just not supported as nobody looked into it (afaik). Obviously, we encourage you to try and contribute but if that's not an option, you can always use the proprietary bootloader from the foundation which is tested to work on 3+.

[2018-04-13 14:57] ikoes commented on #221
I've modified rocko:
    conf/machine/include/rpi-base.inc
    recipes-bsp/common/firmware.inc
    recipes-kernel/linux/linux-raspberrypi.inc
    recipes-kernel/linux/linux-raspberrypi_4.9.bb

in order to match their master counterparts.

I'm not a linux expert but I think that the main problem is related to the new pi3+ dtb that in rocko is missing.

Now u-boot works as expected

[2018-04-13 15:19] agherzan commented on #221
Uh wait. Can you try poky rocko + master of this layer? I just realised that rpi3+ support is only available in master.

[2018-04-13 15:48] kraj commented on #221
@ikoes rainbow screen means its not using right dtb file

[2018-04-14 12:41] pabigot opened #222 "missing firmware for RPI3B+ Bluetooth"
Booting current master on Raspberry Pi 3B+ provides a bluetooth device with address AA:AA:AA:AA:AA:AA.
[code]
Patch incoming.

[2018-04-14 23:01] #222 closed

[2018-04-15 11:47] pabigot opened #224 "licensing missing in bluez recipe"
The meta-raspberrypi bluez recipe contains and installs firmware that is presumably from Broadcom, but lacks a corresponding license and SPDX information.  When RPi-Distro/bluez-firmware#1 is settled the recipe should be updated with this information.

I'm a little concerned about linux-firmware-raspbian too.  The logs for that repository lack detail on provenance ("upstream tarball" is not a trac

[2018-04-16 07:14] ikoes commented on #221
@kraj , thanks to confirm that.
@agherzan, Pocky@rocko + meta-raspberry@master fails due to bitbake policy. It was my first try. Hence I took only the files specified above from the master branch and replaced to the ones in rocko. It seems to solve the ssue.

[2018-04-16 09:18] ikoes opened #225 "raspberry pi3+, brcmfmac43455 issue"
Hello guys,

I have booted a rpi3+ using poky@rocko, meta-raspberrypi@rocko kernel 4.9.80. The running image is gnereted with "core-image-minimal".

After booting the system, I run
`# dmesg`

The output of dmesg says:
[code]

running
`# ls /lib/firmware/brcm | grep 43455 `
I get
brcmfmac43455-sdio.bin

Finally running
`# ifconfig -a`
shows no wlan interface

How can I get the wireless interface wo

[2018-04-16 10:13] agherzan commented on #225
Hi @ikoes. First of all I'm wondering how did you boot the rpi3b+ with rocko? Did you backorder the support patches from meta-raspberrypi master?

About your error. You don't have the txt file. That is the nvram configuration for the WiFi device.

[2018-04-16 10:16] agherzan commented on #221
What do you mean by "took only the files specified above from the master branch and replaced to the ones in rocko"? Did you inject files in the boot partition?

[2018-04-16 10:38] ikoes commented on #225
@agherzan , as mentioned in the other issue with u-boot, yes, I've taken the needed file to get the rpi3+ booting with rocko.

As for the error yes, you are right.  I've just taken brcmfmac43455-sdio.txt from a raspbian "/lib/firmware/brcm" and added it manually to the same folder on my raspberry. After a reboot the wireless controller is now detected.

Why the .txt file is not present either in l

[2018-04-16 10:39] ikoes commented on #221
@agherzan

I've taken
conf/machine/include/rpi-base.inc
recipes-bsp/common/firmware.inc
recipes-kernel/linux/linux-raspberrypi.inc
recipes-kernel/linux/linux-raspberrypi_4.9.bb

from your master branch and hence added it to your rocko branch

[2018-04-16 10:49] agherzan commented on #221
Got it. That makes sense. Would you be able to backorder, cherry pick the commits and push a PR?

Did this fix the U-boot boot?

[2018-04-16 10:52] agherzan commented on #225
The txt file should be provided by linux-firmware-rasbian. Did you try master branch of meta-raspberrypi just to make sure that your "backporting" doesn't miss anything?

[2018-04-16 10:58] agherzan commented on #225
This is confusing because you started two threads where you provided complete information about what you did in comments. And I have now to correlate them. Please next time do try to have a detailed as possible description when you create an issue.

You said that rocko poky and master rpi don't compile anymore. I can't remember now what broke it but if it is this way, you an cherry pick and adapt

[2018-04-16 10:59] ikoes commented on #221
With the new addition u-boot is working. what do you mean for push a PR ? i'm a very basic user.

[2018-04-16 11:01] agherzan commented on #221
Ok. Don't bother about that. I'm glad this fixes your problem in which case I'll close this issue.

[2018-04-16 11:01] #221 closed

[2018-04-16 11:10] ikoes commented on #225
thank you agherzan. I've started two threads because the issues didn't seem to be related to me at the time.

I've tried to solve the
`[brcm/brcmfmac43455-sdio.txt failed with error -2`

adding _/recipes-kernel/linux-firmware/linux-firmware-raspbian.bb_ from the master branch to _/recipes-kernel/linux-firmware/linux-firmware-raspbian.bb_ the rocko branch.

I've just noticed that as you said _linux

[2018-04-16 11:44] ikoes commented on #225
My fault,

CORE_IMAGE_EXTRA_INSTALL += " linux-firmware-raspbian-bcm43455"

that finally solve the issue.

thanks.

[2018-04-16 18:53] kraj commented on #225
can you close this ?

[2018-04-16 18:55] kraj commented on #97
@Minipada is this still needed ? if so then the upstream pull branch needs refresh

[2018-04-16 19:02] kraj commented on #198
@mfrydrysiak do we still need to keep this open ?

[2018-04-16 19:03] kraj commented on #187
@fgiancane8 is this still on your TODO ?

[2018-04-21 10:09] #225 closed

[2018-04-21 10:56] paul-betafive opened #228 "Building core-image-x11 for raspberrypi3-64 on master currently failing"
In `conf/machine/include/rpi-base.inc` we define `XSERVER` to contain `xserver-xorg-extension-glx` if `MACHINE_FEATURES` contains `vc4graphics`. This is picked up as the dependencies for `packagegroup-core-x11-xserver`.

However, `xserver-xorg-extension-glx` is only built if the `PACKAGECONFIG` for `xserver-xorg` contains `glx`. In our `xserver-xorg_%.bbappend` file we gate this on the presence of

[2018-04-22 18:43] kraj commented on #228
We need this extention so option 2 is not good but I am ok with Option 1.

[2018-04-23 12:59] agherzan commented on #228
Vote for Option 1 too.

[2018-04-23 13:10] agherzan commented on #198
I'll close this issue for now. Feel free to comment if this still needs attention.

[2018-04-23 13:10] #198 closed

[2018-04-28 05:15] sherifomran opened #230 "Dropbear - i can not ssh the device"
After installing RPI 0 W using Meta-raspberry pi, i can not SSH the device, it seems there are some ports disabled or so.

**Description**

I installed a new image and i am trying to use it from another computer due to a missing keyboard, i tried to ssh the device but i can not connect to it. It seems there are some ports closed. Do we need to add other packages to it? or do extra configurations?

[2018-05-01 09:03] hhromic opened #231 "abandoned/stale branches"
Hi guys, this is not a bug/issue really but a call for attention.
I noticed that there are two branches that don't correspond to any Yocto release and seem to be fixes that were forgotten to be removed.

* `bcm2835-fix`, Updated 11 months ago by agherzan [merged]
* `fix-rpi0wifi-kernel`, Updated 7 months ago by agherzan [merged]

Perhaps the repo needs a vacuuming for these? :)
Cheers!

[2018-05-01 09:28] agherzan commented on #231
Vacuumed. Thanks @hhromic.

[2018-05-01 09:28] #231 closed

[2018-05-01 09:39] hhromic commented on #231
happy to help

[2018-05-01 13:18] betafive opened #232 "Time to branch for sumo?"
I think we're ready to create a branch for sumo now, the Yocto Project release should be immanent :)

Any objections? Primarily checking with @kraj and @agherzan here. If you're both happy I'll create the branch later this week.

[2018-05-01 13:32] betafive commented on #232
Last time people branched just before the release but looks like there isn't a sumo branch in meta-openembedded yet. I'd like to set all my branches to "sumo" and test the build/release scripts in my distro so it's really just for my benefit :)

[2018-05-01 13:40] agherzan commented on #232
I'm fine with pushing it.

[2018-05-01 14:26] kraj commented on #232
Wait until offcial release please, you never know until its done.

[2018-05-02 21:33] fgiancane8 commented on #187
Hi @kraj ,

Have been very busy with my job lately. If this is not already done, I will arrange to create a branch and a PR as soon as possible.

Thanks,
F

[2018-05-05 07:01] betafive commented on #232
master has now divered from sumo in oe-core and contains some major upgrades. I'm currently seeing build failures due to the new u-boot upgrade. So I think it's definitely time to make the branch even if 2.5 isn't fully released yet.

[2018-05-05 07:15] kraj commented on #232
OK lets go ahead

[2018-05-05 09:08] agherzan commented on #232
Branch created.

[2018-05-05 09:08] #232 closed

[2018-05-06 00:12] pabigot opened #236 "incorrect board address in RPi3B+ bluetooth"
While adding the firmware makes bluetooth work on RPi3B+, the Yocto distribution doesn't get the right board address: two distinct boards both come up as 43:45:c0:00:1f:ac.  When I boot one of the devices with raspbian I do get a proper address with a Raspberry Pi OUI.

hciattach, if given the correct board address on the command line, will write it.  So I'm guessing that something is supposed to

[2018-05-06 12:43] pabigot commented on #236
Appears this is raspberrypi/firmware#860 and requires a modification to the hciattach command to calculate the device-specific bluetooth address from the device serial number, done on raspbian by a special /usr/bin/btuart script that runs hciattach.  I'll work on that.

[2018-05-06 12:59] pabigot commented on #236
Some notes for posterity:

Device addresses are generally obtained from a one-time-programmable area that's being documented (raspberrypi/firmware#974).

A Raspberry Pi 3B with serial number 00000000685e14b0 (`cat  /proc/cpuinfo | grep Serial`) has these addresses:
* `eth  b8:27:eb:5e:14:b0` : low 24 bits match the serial number
* `wifi b8:27:eb:0b:41:e5` : low 24 bits are nybble-reversed serial n

[2018-05-06 16:52] agherzan commented on #236
Very nice. It would be nice to have this documented as well.

[2018-05-06 17:02] pabigot commented on #236
Dunno if they plan to put it in upstream documentation.

Just as a heads-up: between this and #224 I'm going to have to do some refactoring to clean up the licensing.  The firmware images are under a Cypress license, while the script that sets the device address is BSD-3-Clause.  I don't think either of those should be bundled into bluez which is GPLv2+ & LGPLv2.1+.

The simplest way is probably g

[2018-05-08 13:41] jonathanhaigh-arm opened #239 "Patch 0002-rpi_0_w-Add-configs-consistent-with-RpI3.patch does not apply"
**Description**

openembedded-core's u-boot recipe has been updated to use u-boot version 2018.03. This version already includes the changes to rpi_0_w_defconfig that the patch 0002-rpi_0_w-Add-configs-consistent-with-RpI3.patch makes, so the patch is unnecessary and does not apply cleanly.

**Steps to reproduce the issue:**

1. In a project that uses the current master branches of openembedded-co

[2018-05-09 15:40] #239 closed

[2018-05-09 15:45] #236 closed

[2018-05-09 15:49] agherzan commented on #230
@sherifomran Did you try what was recommended above?

[2018-05-09 15:49] agherzan commented on #220
@cveilleux Any updates on this?

[2018-05-09 15:51] agherzan commented on #97
@Minipada Friendly ping on this issue.

[2018-05-09 15:54] Minipada commented on #97
@agherzan thanks and sorry I didn't answer. I'll take a look at it tomorrow

[2018-05-09 21:17] betafive commented on #228
Apologies, have been pretty busy lately. This is still on my list though and I'm aiming to send PRs for master & sumo when I get chance to look at this.

[2018-05-10 13:09] gizero opened #243 "conflict between wayland and userland in providing libwayland-egl"
I observed that images which include `tools-profile` in `IMAGE_FEATURES` systematically fail to build with:

[code]
Happens with custom "debug" image, but it's reproducible with `core-image-minimal` when EXTRA_IMAGE_FEATURES includes `tools-profile`.
Cleaning up relevant recipes doesn't help. Removing `tools-profile` brings things back to normality.

This happens with the following commits:

[code

[2018-05-10 13:25] hhromic commented on #243
I can confirm this also started happening to me when building `meta-wpe` in the `master` branch for all components.

[2018-05-10 13:30] hhromic commented on #243
I noticed that Wayland was updated recently in Poky, referencing `libwayland-egl` being moved to `libwayland` and some recipes (such as `userland`?) needing updates:

[code]

[2018-05-10 13:33] hhromic commented on #243
This is how `mesa` is dealing with the change in `poky/meta/recipes-graphics/mesa/mesa.inc`:

[code]

[2018-05-10 13:38] hhromic commented on #243
I think I found a solution based on the above findings: remove `libwayland-egl.so` as done for the `mesa` recipe but in the `userland` recipe.
I'm testing a build now and will send a PR shortly.

[2018-05-10 13:44] hhromic commented on #243
I'm actually wondering if the `userland` version of `libwayland-egl.so` should be installed and the wayland one discarded. Let's wait for the seniors to give an opinion. @kraj , @betafive , @agherzan , @pabigot  ?

[2018-05-10 14:19] gizero opened #244 "building SDKs fails after introducing linux-firmware-raspbian"
After recent changes introducing `linux-firmware-raspbian` recipe, building eSDK fails with:

[code]

For me, this happens when the image depends on packages from both `linux-firmware` and `linux-firmware-raspbian`. Since the latter does provide RPi-specific firmware only, I think mixing and matching packages from both recipes is to be considered a valid use case. To be more specific, the offendin

[2018-05-10 14:25] gizero commented on #244
Does declaring `RCONFLICTS` or `RREPLACES` for `linux-firmware-raspbian` packages make any sense... I've never used them in practive.

[2018-05-10 14:55] hhromic commented on #244
Just to clarify, looks like the problem you report is for the `bluez-firmware-raspbian` package, not the (also recent) `linux-firmware-raspbian`.

[2018-05-10 15:46] pabigot commented on #244
Interesting.

If you are installing both `linux-firmware` and `linux-firmware-raspbian` then things are probably going to get messy with lots of conflicts, but I can argue it's not my problem to fix.

`bluez-firmware-raspbian` provides `LICENCE.cypress` because `linux-firmware-raspbian` does not (though it almost certainly should, see comments in RPi-Distro/bluez-firmware#1).  I expect `bluez-firm

[2018-05-10 17:02] kraj commented on #243
I would prefer the one coming from wayland, however I dont have high hopes weather this will work. So please do two things,

1. Update userland to latest master
2. Test with libwayland-egl coming from wayland itself

[2018-05-10 19:25] pabigot commented on #244
I can't reproduce this.  There are is a conflict between `linux-firmware` and `linux-firmware-raspbian` that could be partly addressed by adding this to linux-firmware-raspbian:

    RCONFLICTS_${PN}-bcm43430 += "linux-firmware-bcm43430"
    RREPLACES_${PN}-bcm43430 += "linux-firmware-bcm43430"

but even with that you can't just blindly install `linux-firmware` alongside `linux-firmware-raspbian`

[2018-05-10 19:36] kraj commented on #244
another idea would be to copy needed bits from raspbian as patches and overlay them on top of upstream version as needed. This will make packaging issues a bit easier to handle.

Second approach could be to dump upstream version completely and CONFLICT with it at build time.

[2018-05-10 19:46] pabigot commented on #244
@kraj I think the second approach is what is being used: `linux-firmware-raspbian` only packages two firmware files, and only one of those is also packaged by `linux-firmware` (though the other is present upstream).  So maybe:

    RREPLACES_${PN}-bcm43430 += "linux-firmware-bcm43430"
    RCONFLICTS_${PN}-bcm43430 += "linux-firmware-bcm43430 linux-firmware"

which I'm testing now.

I think the fir

[2018-05-10 21:51] gizero commented on #244
@hhromic You are right! Sorry for the confusion... I saw the `linux-firmware-raspbian`/`linux-firmware` conflict a few days ago and only took the time today to file this issue. However, while double checking what was the minimal setup to reproduce it, I didn't notice that with a clean build I hit the even newer `linux-firmware`/`bluez-firmware-raspbian` and copy pasted its log instead.
@pabigot Ar

[2018-05-10 22:58] pabigot commented on #244
I don't use the SDK features and didn't know what you meant by "building eSDK".

I can reproduce it with `-c populate_sdk_ext`.  Changes to the meta-raspberrypi recipes won't affect the behavior because that brings in the entire `linux-firmware` package first even though it's not an image dependency.  This is why `LINUX.cypress` shows up: it only exists in the roll-up package.  I don't know where

[2018-05-11 08:42] hhromic commented on #243
@kraj , will do. As for testing, I'm not sure how to properly test this.  I can test the build succeeds (which it does when removing the libs from the install phase), but I don't know how to test the library itself shipped with wayland.
For example I don't know if the library has a dependency to VC4 graphics from userland. Why it is provided by userland (and mesa)? The version from wayland is agno

[2018-05-11 08:43] hhromic commented on #243
Also, it looks like the wayland library is created in userland from a set of patches in the recipe. If we end up removing the library from the install phase, wouldn't make more sense to not build it in the first place?

[2018-05-11 08:53] hhromic opened #246 "gstreamer: upgraded to 1.14 in Poky"
Hello,
Poky recently upgraded gstreamer to version `1.14`. The gstreamer recipes in this layer should be migrated as there is only one version now (no more `1.12.x`).
I'm creating this issue as a reminder to do this in a near future.
@kraj seems to have experience with this components, if you tell me how to approach the migration I can help creating the PR.

The commit in Poky:
[code]

[2018-05-11 13:58] agherzan commented on #246
@hhromic The patches don't apply anymore?

[2018-05-11 14:01] gizero commented on #243
@hhromic any chance for you to share your work-in-progress with this one? This is now getting in my way while looking at #246

[2018-05-11 14:08] hhromic commented on #243
hi @gizero , to make the build succeed, apply this patch to `meta-raspberrypi`:
[code]

This will remove `libwayland-egl` installed from the `userland` thus stopping the conflict with `wayland`, but will use the latter's version of the library. With this, the build succeeds.

However I haven't tried any application using wayland+EGL yet so I don't know if this solution is appropiate. If you can te

[2018-05-11 14:10] hhromic commented on #243
Sorry I just revised the patch, use the edited version in the last comment.

[2018-05-11 14:11] hhromic commented on #246
@agherzan , I haven't work on this yet. I plan to take a look during the weekend. I plan to:
1. check which patches aren't relevant anymore
2. rebase patches as necessary
3. verify the builds succeed without warnings

if anybody wants to step-in, it is the right time as I haven't done anything yet here.

[2018-05-11 14:18] agherzan commented on #244
@pabigot Yes, it was tested but obviously not in the combination with linux-firmware. The core issue here is that both packages install the same license file. I'm all for reunifying with linux-firmware. The recipe separation seems like being clearer but I see how this can backfire.

[2018-05-11 14:19] gizero commented on #246
@agherzan @hhromic I can confirm some of the patches don't apply anymore... I'm looking into it right now, but I have no experience with that recipe in particular. I'll post an update later.

[2018-05-11 14:32] agherzan commented on #246
Ok. I was about to pick it up but if you guys are already on it, it's okay.

[2018-05-11 14:38] agherzan commented on #243
It needs testing for sure, but most probably we will need to use the userland provided library for wayland-egl. I don't have any testing setup now so I think it only comes down to what testing reveals. To unblock this I would just go ahead for now and remove the one in wayland unless somebody gets on some testing.

[2018-05-11 14:45] hhromic commented on #243
I just realised there are testing example applications in `userland` regarding wayland-egl.
However as you suggest, to be sure, for now I will make a PR that removes the `wayland` provided library instead of the `userland` one.
After @gizero and myself test this better, I can provide another PR with a final solution.

[2018-05-11 15:08] agherzan commented on #243
Could we also use yocto's update-alternatives for this?

[2018-05-11 15:13] hhromic commented on #243
Ah the alternatives system.. indeed that would be a very elegant solution, specially for multi-board builds.
However I have to learn how to implement it here as I have no experience with it in Yocto.
Feel free to merge the current "crude" PR for now until I (or someone else?) figure out using alternatives for this.

[2018-05-11 15:33] gizero commented on #246
To clarify, two of the patches don't apply anymore. More specifically, they are:

- `0002-fix-decoder-flushing.patch`
- `0005-Don-t-abort-gst_omx_video_dec_set_format-if-there-s-.patch`

Both are not trivial to port, at least for me. Surrounding context has changed quite a bit and I don't feel confident enough with the code to blindly "adapt" them. Neither the original patch files nor commit messa

[2018-05-11 15:36] gizero commented on #243
This way we don't loose track of the actual problem. Thanks!

title updated!

[2018-05-11 16:05] gizero commented on #246
After a closer look, IMHO `0005-Don-t-abort-gst_omx_video_dec_set_format-if-there-s-.patch` sounds useless to me.

[code]

I can't find `USE_OMX_TARGET_RPI` defined anywhere in this layer. Then, the conditional this patch is adding always resolve to true, leaving the original code unchanged. Am I missing something? Otherwise I'd suggest dropping this patch altogether.

[2018-05-11 16:42] Minipada commented on #97
The PR on the kernel repo looks more like a draft, I got requested some changes and am working on them and doing some cleanup.

[2018-05-13 14:49] GreSuh opened #251 "RPI 3B+ network not working"
Build image core-image-full-cmdline for Raspberry3-64.
Image starts without errors but dhcp doesn't work.

With tcpdump enabled and eth0 in promiscous mode DHCP works.
Seems linke some initialization of eth0 is missing.

**Steps to reproduce the issue:**
Build image  core-image-full-cmdline
openembedded-core
meta-poky
meta-oe
meta-python
meta-perl
meta-networking
meta-security
meta-raspberrypi_pri

[2018-05-13 14:58] GreSuh commented on #251
same problem with default kernel

[2018-05-14 09:33] #243 closed

[2018-05-14 09:34] #244 closed

[2018-05-14 12:32] pabigot commented on #251
I suspect a problem with the startup infrastructure.  When I boot the current sumo eth0 works fine, but the MAC address is not the one assigned to the device.  `/proc/cpuinfo` on other machines provides a serial number from which network addresses are derived; this is not present in the raspberrypi-64 build.  Interestingly the wlan0 mac address is correct.

Check whether the mac address you get on

[2018-05-14 13:03] pabigot opened #253 "raspberrypi3-64 not handled completely in MACHINEOVERRIDES"
raspberrypi3-64.conf only sets `raspberrypi3` as an override.  It also needs `raspberrypi3-64` or the boot files don't have the proper `config.txt` settings including device tree.

[2018-05-14 13:04] pabigot commented on #251
This is probably #253.

[2018-05-14 13:05] pabigot commented on #253
Also the device tree list is incomplete/incorrect.

[2018-05-14 13:16] GreSuh commented on #251
In my setup i updated the machine definition to match raspberry3 device list.

[2018-05-14 13:27] pabigot commented on #236
@agherzan huh?  The examples I gave above include ones from a 3B+, albeit in 32-bit mode.  However, meta-raspberrypi is currently not loading the correct device tree for aarch64, which I'm looking at for #251; the lan78xx driver will take what the device tree says for the MAC address.

[2018-05-14 13:31] agherzan commented on #236
Something is strange on B+.

[2018-05-14 13:37] pabigot opened #254 "need support for raspberrypi3b+ 64"
`rpi-config` has an override for `raspberrypi3-64` that specifies the device tree in `cmdline.txt`.  It uses `bcm2710-rpi-3-b.dtb` but for 3B+ it must use `bcm2710-rpi-3-b-plus.dtb` in order to get the right MAC address for lan78xx.

There doesn't appear to be an existing distinction between 3B and 3B+ in meta-raspberrypi.  In the current kernel they have different device trees for both arm and ar

[2018-05-14 13:41] pabigot commented on #236
See #254.  I've confirmed that the correct eth0 MAC address (i.e., consistent with the algorithm above) is read from OTP once the correct device tree is loaded.

[2018-05-14 13:54] agherzan commented on #236
@pabigot makes sense.

[2018-05-14 13:58] agherzan commented on #251
I hit the same issue lately. It should get fixed by @pabigot 's PR.

[2018-05-14 14:48] pabigot commented on #254
This may not be necessary right now, as it appears that simply removing the explicit specfication of device tree in `config.txt` works.

[2018-05-14 15:05] pabigot commented on #253
This was a misdiagnoses due to build confusion; the missing device tree was the real problem.

[2018-05-14 15:05] #253 closed

[2018-05-14 15:56] #254 closed

[2018-05-14 15:57] agherzan commented on #251
@GreSuh this issue should be fixed now in sumo and master branches. Please give it a try.

[2018-05-14 15:57] #251 closed

[2018-05-14 20:28] GreSuh commented on #251
Thanks for todays changes on sumo. Network seems to work now. :)

[2018-05-14 20:53] agherzan commented on #251
@GreSuh we owe @pabigot a :beer:

[2018-05-15 15:27] ikoes opened #258 "userland"
hello guys,

I'm using userland from meta-raperrypi/recipe-graphics@master to build libopenmaxil.so.

Since poky_default_distro_feature sets "wayland", the userland recipe will set pkcgconfig[wayland]

After the image is generated I use gstreamer to encode a video source and I get the following error:
` ERROR                    omx gstomx.c:159:gst_omx_core_acquire: Failed to load module '/usr/lib

[2018-05-15 17:54] billj-korg opened #259 "No package 'wayland-egl' found"
When building in master for the raspberrypi3-64 machine (bitbake core-image-minimal),
I now encounter the error:

"No package 'wayland-egl' found" during the gtk+3_3.22.29.bb:do_configure task.

This appears to be related to the addition of do_install_append_rpi() in wayland_%.bbappend from commit de8912cb.

[2018-05-15 21:51] hhromic commented on #259
Hi @billj-korg , can you please post the layers you are using and the relevant parts of your `conf/local.conf` file for debugging? Thanks

[2018-05-15 23:13] billj-korg commented on #259
Layers are:
BBLAYERS ?= " \
  /data/development/lfs/yocto/poky/meta \
  /data/development/lfs/yocto/poky/meta-poky \
  /data/development/lfs/yocto/poky/meta-yocto-bsp \
  /data/development/lfs/yocto/poky/meta-openembedded/meta-oe \
  /data/development/lfs/yocto/poky/meta-openembedded/meta-python \
  /data/development/lfs/yocto/poky/meta-openembedded/meta-multimedia \
  /data/development/lfs/yocto/

[2018-05-16 08:53] ikoes opened #260 "linux-firmware licence issue in rocko"
Hello guys,

I'm using meta-raspberrypi@rocko. Since I need the firmware for the raspberri3b+ I've taken the linux-firmware recipe from the actual master branch.

When I try to bitbake it I get the following error:
` linux-firmware-1_0.0+gitAUTOINC+bf04291309+86e88fbf03+e28cd7ee86-r0 do_populate_lic: Could not copy license file /home/worker/iagocto/build/tmp/work/all-poky-linux/linux-firmware/1_0.

[2018-05-16 10:02] hhromic commented on #259
thanks, can you try the recent PR #257 please?
we addressed now to only remove libwayland-egl from wayland only if userland is used at the same time.

[2018-05-16 11:28] pabigot commented on #260
You need to update your poky/oe-core to the current head of whichever release you're using (sumo or master).  The linux-firmware version you're using (`bf04291309` on 2017-10-09) pre-dates the addition of the Cypress license (`7f93c9deb4` on 2017-12-06).

[2018-05-16 11:31] pabigot commented on #260
The linux-firmware version you're using (bf04291309 on 2017-10-09) pre-dates the addition of the Cypress license (7f93c9deb4 on 2017-12-06).  Rocko's version pre-dates that.  You can try a bbappend to bring SRCREV up to what's in sumo or master, both of which work.

However, I think there was comment elsewhere that 3B+ won't work on rocko, so I suggest updating to sumo.

[2018-05-16 16:00] agherzan commented on #260
@ikoes we don't actively work on rocko anymore so the first recommendation would be for you to update to sumo. Otherwise, we count on you in contributing the backports to rocko as needed.

[2018-05-16 16:02] agherzan commented on #259
This is interesting because I don't see any `vc4graphics` setup there. @billj-korg please take a look at the PR @hhromic referenced above and tell us if it fixes your error.

[2018-05-16 18:12] billj-korg commented on #259
I tried the change in PR #257 and it fixes the error.

[2018-05-16 18:25] #259 closed

[2018-05-17 09:09] hhromic commented on #259
good stuff @billj-korg !  let us know if you find something else.

[2018-05-19 17:14] kraj commented on #258
I thought we fixed this issue already. Problem is its not linking with wayland libraries, I will see if I can reproduce it

[2018-05-22 17:44] cclark1974 opened #262 "netopeer encountering alignment error when starting service"
I pulled the latest changes and Im still seeing the alignment errors when starting netopeer/sysrepo service.

[code]

Im running master branch on the meta-raspberrypi

I built on raspberry pi3, 32b arch.

Any further info needed please let me know

[2018-05-22 18:46] betafive commented on #262
Hi, you say you're "still seeing" this error. Is there any previous discussion of this? It's not something I've seen before but I might have just missed it.

[2018-05-22 20:27] agherzan commented on #262
@cclark1974 please update the description in such a way that it can provide context, build description, sources versions and ways to reproduce. The issue template has some content for a reason.

[2018-05-23 12:17] cclark1974 commented on #262
Local.conf:
#
# This file is your local configuration file and is where all local user settings
# are placed. The comments in this file give some guide to the options a new user
# to the system might want to change but pretty much any configuration option can
# be set in this file. More adventurous users can look at local.conf.extended
# which contains other examples of configuration which can be

[2018-05-23 12:25] cclark1974 commented on #262
bblayers:
NOTE: Starting bitbake server...
layer                 path                                      priority
==========================================================================
meta                  /root/Yocto/poky/meta                     5
meta-poky             /root/Yocto/poky/meta-poky                5
meta-yocto-bsp        /root/Yocto/poky/meta-yocto-bsp           5
meta-oe

[2018-05-23 13:31] hhromic commented on #262
hi @cclark1974 , can you please use [fenced code-blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/#fenced-code-blocks) for your pasted information/files so they are *much more* readable here in github? Thanks :)

[2018-05-24 23:30] cclark1974 commented on #262
any updates on this issue?  is there more info needed?

[2018-06-01 06:18] betafive commented on #262
I just had a quick look around at the `meta-sysrepo` layer and at `sysrepo` itself. Perhaps this is related to https://github.com/sysrepo/sysrepo/issues/947 ? You may need to modify the config options in the sysrepo recipe to disable the feature that's discussed in that issue.

[2018-06-01 15:17] agherzan commented on #262
The above-mentioned issue is the only guess I have as well. I would recommend you to either add additional information to that bug or report it to rpi kernel repository. As far as I can tell at this point it doesn't sound like an issue with the yocto layer.

[2018-06-14 16:12] pesicsasa commented on #153
Hello,
When trying to make an image of raspberrypi3-64, the process fails with the exact same error. Any thoughts on how to fix it?

I am running/building on linux ubuntu 17.10, x64. Following these instructions:https://resinos.io/docs/custombuild/. The command i use is ./resin-yocto-scripts/build/barys -m raspberrypi3-64 --resinio.

[2018-06-14 16:14] betafive commented on #153
@pesicsasa, I'd recommend raising that issue with Resin OS.

[2018-06-20 13:35] ftchopfambie opened #265 "Build poky 2.5 using meta-raspberrypi. Issues with rpi-config_git.bb"
**Description**
Wanting to migrate on Poky 2.5, I tried to build a common image : core-image-full-cmdline with the old configuration for poky 2.4 meaning I Have the IMAGE_INSTALL_append = "rpi-config"
the build doesn't even start. gives this as failure text:

ERROR: Task do_populate_sdk in /home/fabrice/SeparatorRS-yocto/poky/../meta-SeparatorRS/recipes-core/images/separatorrs-image.bb rdepends up

[2018-06-20 13:57] agherzan commented on #265
The error you are pasting above is not while running the build for `core-image-full-cmdline` as you describe in the steps to reproduce. It for `separatorrs-image` which I assume is a custom one. Anyway, I did try to reproduce with `core-image-full-cmdline` and could see the problem. I'll take a look to see why this happens.

[2018-06-20 14:16] agherzan commented on #265
Right. The issue comes from the fact that you are trying to "install" a recipe that doesn't generate any packages. `rpi-config` is a recipe which only populates something in the deploy directory. It doesn't create any rpms, ipks etc. That's why only the image generation CMD depends on it (see do_image_rpi_sdimg[depends]) and this is done because that image generation handles the boot partitions as

[2018-06-20 14:16] #265 closed

[2018-06-21 05:55] ftchopfambie commented on #265
So this means, I don't really need to add rpi-config as packet to install while building an image for raspberrypi, right? Cause really was divided about the fact that I needed it. I remove the inherit no packages from rpi-config_git.bb and it did work.

[2018-06-21 13:18] hhromic opened #266 "formfactor: not copying machconfig in deploy"
The `formfactor` recipe needs updating as the folder `raspberrypi` needs to be named `rpi` instead to apply for all machines, not just RPI 0/1.
I'm logging the issue as reminder and I'm providing a PR as soon as the current PRs are merged.

Contents of `log.do_fetch` for RPI3 build:
[code]

[2018-06-21 13:20] hhromic opened #267 "omxplayer: patching is failing"
The `omxplayer` recipe was recently updated in upstream and the patches need refresh.
I'm logging the issue as reminder and I'm providing a PR as soon as the current PRs are merged.

*Edit:* actually doesn't look like a recent change, but more like an unnoticed patching warning that now Yocto fails and requires patch rebasing.

[code]